{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Reset Password" %}
    </h1>
    <div class="content account-options-wrapper">
        <div class="main-content account-options">
            <form action="" method="post">
                {% csrf_token %}
                <div class="options options-userena">
                    <table>
                        <tr>
                            <td class="first">
                                {{ form.new_password1.label }}
                            </td>
                            <td>
                                {{ form.new_password1 }}
                            </td>
                        </tr>
                        <tr>
                            <td class="first">
                                {{ form.new_password2.label }}
                            </td>
                            <td>
                                {{ form.new_password2 }}
                            </td>
                        </tr>
                    </table>
                </div>                
              
                <input type="submit" class="submit standart button" value="{% trans "Reset password" %}" />
            </form>
        </div>
    </div>
    
{% endblock %}
