{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="center-align-wrapper">
        <div class="account-form-wrapper">
            <h1>
                {% trans "Reset Password" %}
            </h1>
            <form action="" method="post">
                {% csrf_token %}
                <input id="id_email" maxlength="254" name="email" type="text" placeholder="EMAIL">


                <input type="submit" class="submit standart button" value="{% trans "Send password" %}" />
            </form>
        </div>
    </div>    
{% endblock %}
