{% extends 'userena/base_userena.html' %} 
{% load i18n %} 
{% load url from future %}
{% load venue_accounts %}

{% block title %}
    {% blocktrans with profile.user.username as username %}
        {{ username }}'s profile.
    {% endblocktrans %}
{% endblock %} 

{% block content_title %}
    <h2>
        {{ profile.user.username }} 
        {% if profile.user.get_full_name %}
            ({{ profile.user.get_full_name }})
        {% endif %}
    </h2>
{% endblock %} 

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/search_pad.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/emb_vnprf.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse_event_list.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/place_autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/autoSuggest.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />    

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
    <script src="{{STATIC_URL}}js/jquery.geocomplete.js"></script>

    <script src="{{STATIC_URL}}js/tabs.js" type="text/javascript" ></script>
    <script src="{{STATIC_URL}}js/browse/jquery.hoverIntent.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/ajax-popup.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/event-actions.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/jump-to-date.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/browse/auctions-popup.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/accounts/account.js" type="text/javascript" ></script>
{% endblock %}

{% block content %}
    <h1>
        My account
    </h1>
    <div class="content account-profile">
        <div class="main-content">
            <div class="account-left">
                <div class="account-avatar">
                    <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "
                    Your mugshot " %}" />
                </div>
                <div class="account-settings">
                    <header>
                        My settings
                    </header>
                    <ul>
                        <li>
                            <a href="{% url 'user_profile_edit' profile.user.username %}">Edit my Account</a>
                        </li>
                        <li>
                            <a href="{% url 'reminder_settings' %}">Edit Reminder Settings</a>
                        </li>
                        <li>
                            <a href="{% url 'in_the_loop_settings' %}">Edit In the Loop tags</a>
                        </li>
                        <li>
                            <a>View my order history</a>
                        </li>
                    </ul>
                </div>
                <a class="new-venue-button" href="javascript: void;">
                    <img src="/static/images/accounts/new-venue-bg.jpg">
                    New Venue
                </a>
            </div>
            <div class="account-details">
                <header class="block-header">
                    {% if profile.user.get_full_name %}
                        Vladimir Myskov <span class="nickname">({{ profile.user.username }})</span>
                    {% else %}
                        <span class="nickname">{{ profile.user.username }}</span>
                    {% endif %}
                    
                    <!--{{ profile.user.get_full_name }}({{ profile.nickname }})-->
                </header>
                <hr />
                <span>
                    Members since {{ profile.user.date_joined|date:"F d, Y" }}  <!--January 01, 2011-->
                </span>

                {% if profile.venue %}
                    <h2 class="block-header"> 
                        Your Venues
                    </h2>
                    {% venue_accounts %}                    
                {% endif %}
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <div class="tabs-container">
        <ul class="tabs" data-page-id="account">
            <li class="current" data-tab-id="reminder"><span>Reminder</span></li>
            <li  data-tab-id="in-the-loop"><span>In the Loop</span></li>
        </ul>
        <div class="box visible">
            {% include 'accounts/_reminder_events_table.html' %}                            
        </div>
        <div class="box">
            {% include 'accounts/_in_the_loop_events_table.html' %}
        </div>
    </div>    

    {% include 'venue_accounts/new_venue_account.html' %}

{% endblock %}
