{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block userena_head %}
    {{ block.super }}
    <script src="{{STATIC_URL}}js/jquery.dj.selectable.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/accounts/account-edit-page.js" type="text/javascript"></script>
{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
    <div class="tabs-container">
        <ul class="tabs right-tabs">
            <li class="first"><a href="{% url 'account_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
            <li class="current"><a href="{% url 'user_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
            <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
            <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
        </ul>

        {% csrf_token %}
        <div class="box account-form visible">
            {% if why_message %}
                <div class="why-message">
                    {% if why_message == "native_region_required" %}
                        You need to specify your foreign region to have ability to setup new ads
                    {% endif %}
                </div>
            {% endif %}
            <table class="edit-profile-table">
                <tr>
                    <td>
                        <label for="id_first_name">First name:</label>
                    </td>
                    <td>
                        {{form.first_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_last_name">Last name:</label>
                    </td>
                    <td>
                        {{form.last_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_mugshot">Mugshot:</label> 
                
                    </td>
                    <td>
                        <input type="file" name="mugshot" id="id_mugshot"> 
                        <span class="helptext">A personal image displayed in your profile.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_date_of_birth">Date of birth:</label>
                    </td>
                    <td>
                        {{form.date_of_birth}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="checkbox">
                            {{form.not_from_canada}}
                            <label for="id_not_from_canada"></label>
                        </div>                        
                        <label for="id_not_from_canada">I am not from Canada</label>
                    </td>
                </tr>
                <tr class="native-region-tr">
                    <td>
                        <label for="id_native_region">Province or Territory:</label>
                    </td>
                    <td>
                        {{form.native_region}}
                    </td>
                </tr>
            </table>            
            <input type="submit" class="submit standart button" value="{% trans "Save profile" %}" />
        </div>        
    </div>    
</form>
{% endblock %}
