{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
    <div class="center-align-wrapper">
        <div class="account-form-wrapper">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="user-input-wrapper">
                    <div class="user-icon"></div>
                    <input class="required" id="id_identification" maxlength="75" name="identification" type="text" placeholder="USERNAME">
                    {{ from.identification.errors }}
                </div>

                <div class="password-input-wrapper">
                    <div class="pass-icon"></div>
                    <input class="required" id="id_password" maxlength="75" name="password" type="password" placeholder="PASSWORD">
                    {{ from.identification.errors }}
                </div>

                <div class="forgot-password">
                    <a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">
                        {% trans "Forgot your password?" %}
                    </a>
                </div>
                <div class="remember-me">
                    {{ form.remember_me.label }}
                    <div class="checkbox">
                        {{ form.remember_me }}
                        <label for="id_{{ form.remember_me.name }}"></label>
                    </div>
                </div>
                <div class="clear"></div>

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <input type="submit" class="submit standart button" value="Log In" />
            </form>
        </div>
    </div>
{% endblock %}
