{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
    <div class="center-align-wrapper">
        <div class="account-form-wrapper">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for field in form %}                    
                    {% if field.name == 'remember_me' %}
                    {% else %}
                        <div>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endif %}

                {% endfor %}

                <p class="forgot-password">
                    <a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">
                        {% trans "Forgot your password?" %}
                    </a>
                    {{ form.remember_me.label }}
                    <div class="checkbox">
                        {{ form.remember_me }}
                        <label for="id_{{ form.remember_me.name }}"></label>
                    </div>
                </p>
                {{ form.remember_me.errors }}

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <input type="submit" class="submit standart button" value="Log In" />
            </form>
        </div>
    </div>
{% endblock %}
