{% if venue_accounts %}
<div class="venue-accounts-list">
    <header>
        My Venues
    </header>
    <ul>
        {% for venue_account in venue_accounts %}
            <li>
                <a class="mngp" href="{% url 'private_venue_account' slug=venue_account.slug %}">      
                    {{ venue_account.venue.name }}
                </a>
                <a class="remove-button confirm" href="{% url 'unlink_venue_account_from_user_profile' venue_account_id=venue_account.id %}">
                    <i class="icon-remove"></i>
                </a>
            </li>            
        {% endfor %}
    </ul>       

</div>
{% endif %}
