{% load endless %}
{% load cf_pagination %}

{% if campaigns|length %}
    {% paginate 10 campaigns %}
    <table class="profile-table" celpadding="0" cellspacing="0">
        <tr>
            <th class="action">Campaign Name</th>
            <th class="action">Status/Active period</th>            
            <th class="action">
                <div class="col image">&nbsp;</div>
                <div class="stats">
                    <div class="col">Impressions</div>
                    <div class="col">Clicks</div>
                    <div class="col">CPC</div>
                    <div class="col">CPM</div>
                </div>
            </th>
            <th class="action">Amount Spent</th>
            <th class="action">Amount Remaining</th>
            <th class="action">Regions</th>
            <th class="action">Actions</th>
        </tr>
        {% for campaign in campaigns %}
        <tr>
            <td class="action">
                {{ campaign.name }}
            </td>
            <td class="action">
                {% if campaign.is_active %}
                    <div>Active{% if campaign.free %}(free){% endif %}</div>
                    {% if campaign.free %}
                        <div>
                            <a href="{% url "deactivate_free_campaign" campaign.id %}">Deactivate</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if not campaign.enough_money %}
                        <div>Not enough money</div>
                        <div>
                            <a href="{% url "activate_free_campaign" campaign.id %}">Free activation</a>
                        </div>
                    {% endif %}
                    {% if campaign.is_finished %}
                        <div>Finished</div>
                    {% endif %}
                    {% if campaign.is_future %}
                        <div>Future</div>
                    {% endif %}
                {% endif %}
                <br>
                {% if campaign.active_from and campaign.active_to %}
                    {{ campaign.active_from|date:"b j, Y"|capfirst }} - {{ campaign.active_to|date:"b j, Y"|capfirst }}
                {% elif campaign.active_from %}
                    Active from {{ campaign.active_from|date:"b j, Y"|capfirst }}
                {% elif campaign.active_to %}
                    Active till {{ campaign.active_to|date:"b j, Y"|capfirst }}
                {% endif %}
            </td>
            <td class="action">
                {% for ad in campaign.advertising_set.all %}
                    <div class="advertising-items">
                        <div class="image">
                            <a href="/media/{{ ad.image }}" class="advertising-image" target="_blank">
                                <img class="ads-thumb" width="30" src="/media/{{ ad.image }}" alt="" />
                            </a>
                        </div>
                        <div class="stats">
                            <div>
                                <div class="stat">{{ ad.views }}</div>
                                <div class="stat">{{ ad.clicks }}</div>
                                <div class="stat">{{ ad.cpc_price }}</div>
                                <div class="stat">{{ ad.cpm_price }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </td>
            <td>{{ campaign.ammount_spent }}</td>
            <td>
                {% if campaign.enough_money %}
                    {{ campaign.ammount_remaining }}
                {% else %}
                    C$0
                {% endif %}
            </td>
            <td class="action">
                {% if campaign.all_of_canada %}
                    All of Canada
                {% else %}
                    {{ campaign.regions_representation }}
                {% endif %}

            </td>
            <td class="action">
                <div>
                    <a href="{% url 'admin_share_stats' campaign.id %}">
                        Share
                    </a>
                </div>
                <a href="{% url 'admin_advertising_edit_campaign' campaign.id %}">
                    <img src="/static/images/edit-icon.png"/>
                </a>
                <a href="{% url 'admin_advertising_remove_campaign' campaign.id %}" class="danger">
                    <img src="/static/images/delete-icon.png"/>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% cf_pagination %}

{% else %}
    <div class="empty">
        <p>You have no ads.</p>
        <p>You can <a href="{% url 'admin_advertising_setup' %}">create</a> new advertising campaign</p>
    </div>    
{% endif %}

