{% load endless %}

{% if campaigns|length %}
    {% paginate 5 campaigns using "ads_page" %}

    {% for campaign in campaigns %}
        <table class="profile-table ads-stats" celpadding="0" cellspacing="0">
            <tr>
                <th class="action">Banner</th>
                <th class="action">Size of Ad</th>
                <th class="action">Impressions</th>
                <th class="action">Clicks</th>
                <th class="action">CPC</th>
                <th class="action">CPM</th>
            </tr>
            {% for ad in campaign.advertising_set.all %}
            <tr class="ad-line">
                <td class="action">
                    <div class="image">
                        <a href="/media/{{ ad.image }}" class="advertising-image" target="_blank">
                            <img class="ads-thumb" width="30" src="/media/{{ ad.image }}" alt="" />
                        </a>
                    </div>
                </td>
                <td class="action">
                    {{ ad.ad_type.name }}<br>
                    {{ ad.ad_type.width }}x{{ ad.ad_type.height }}
                </td>
                <td class="action">
                    {{ ad.views }}
                </td>
                <td class="action">
                    {{ ad.clicks }}
                </td>
                <td class="action">
                    {{ ad.cpc_price }}
                </td>
                <td class="action">
                    {{ ad.cpm_price }}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

    {% if pages|length > 1 %}
        <div class="profile-table-pagination">
            <span class="pagintation-wrapper">
                {% get_pages %}
                {% if pages.current.is_first %}
                    <span class="prev"></span>            
                {% else %}
                    <a class="prev" href="{{ pages.previous.url }}"></a>
                {% endif %}
                <span class="page-info">
                    {{ pages.current }} of {{ pages|length }}
                </span>

                {% if pages.current.is_last %}
                    <span class="next"></span>                    
                {% else %}
                    <a class="next" href="{{ pages.next.url }}"></a>
                {% endif %}
            </span>        
        </div>
    {% endif %}
{% else %}
    <div class="empty">
        <p>You have no ads.</p>
        <p>You can <a href="{% url 'advertising_setup' %}">create</a> new advertising campaign</p>
    </div>    
{% endif %}

