{% load date_formatting %}
{% load endless %}
{% load cropping %}
{% load event_tags %}

<div class="entry-wrapper">
    <header>
        Total search numbers found ({{eventsFilter.objects_list|length}})
    </header>
    {% paginate 9 eventsFilter.objects_list as events %}
    {% for event in events %}    
        <div class="entry-info  home-page" data-no-turbolink>
            <div class="entry-img-prev">
                <a href="{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}">
                    {% if event.picture %}
                        <img src="{% cropped_thumbnail event.event "cropping" width=60 %}" height="60px" weight="60px">
                    {% else %}
                        <img src="{{STATIC_URL}}images/default-event.jpg" height="60px" weight="60px">
                    {% endif %}
                </a>                
            </div>
            <div class="entry-details-wrapper">                                  
                <div class="title">
                    <a href="{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}">
                        {{event.name}}&nbsp;
                    </a>                    
                </div>
                <div class="entry-date">
                    {{event.start_time|date:"l, F d, Y"}}
                    <span class="delimeter">|</span>
                    {{event.start_time|just_time}} - {{event.end_time|just_time}}
                </div>
                <div class="entry-description">                    
                    {{ event.venue.name }}{% if event.venue.street %}, {{ event.venue.street }}{% endif %}, {{ event.venue.city.name_std }}
                </div>                
            </div>            
        </div>
    {%endfor%}
</div>

<div class="entry-navigation-np">
    <p>
        <ul>
            {% get_pages %} 

            <span class="step-links">
                {% if not pages.current.is_first %}                    
                    <a href="{{ pages.previous.url }}">
                        <img src="{{STATIC_URL}}images/entry-prev.png">
                    </a>
                {% endif %}

                {% if not pages.current.is_last %}                
                    <a href="{{ pages.next.url }}">
                        <img src="{{STATIC_URL}}images/entry-next.png">
                    </a>
                {% endif %}                
            </span>
        </ul>
    </p>
</div>