{% load date_formatting %}
{% load endless %}
{% load cropping %}
{% load event_tags %}

<div class="entry-wrapper">
    <header>
        Total search numbers found ({{eventsFilter.objects_list|length}})
    </header>
    {% paginate 9 eventsFilter.objects_list as events %}
    {% for event in events %}    
        <div class="entry-info  home-page" data-no-turbolink>
            {% short_single_event event %}
        </div>
    {%endfor%}
</div>

<div class="entry-navigation-np">
    <p>
        <ul>
            {% get_pages %} 

            <span class="step-links">
                {% if pages.current.is_first %}
                    <span>
                        <img src="{{STATIC_URL}}images/entry-prev.png">
                    </span>
                {% else %}
                    <a href="{{ pages.previous.url }}">
                        <img src="{{STATIC_URL}}images/entry-prev.png">
                    </a>
                {% endif %}

                {% if pages.current.is_last %}
                    <span>
                        <img src="{{STATIC_URL}}images/entry-next.png">
                    </span>
                {% else %}
                    <a href="{{ pages.next.url }}">
                        <img src="{{STATIC_URL}}images/entry-next.png">
                    </a>
                {% endif %}
            </span>
        </ul>
    </p>
</div>