{% load query_filter %}
<div class="main-navigation-nav">
   <div class="main-navigation-nav-wrapper">
        <ul class="categories">            
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="recently_featured" exclude="tag" %}">
                    Featured
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="top_viewed" exclude="tag" %}">
                    Top viewed
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="latest" exclude="tag" %}">
                    Recently Added
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="random" exclude="tag" %}">
                    Random
                </a>
            </li>
            <br>

            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="night_life"  exclude="tag" %}">
                    Night life
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="date_night"  exclude="tag" %}">
                    Date Night
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="free"  exclude="tag" %}">
                    Free
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="family"  exclude="tag" %}">
                    Family
                </a>
            </li>


            <li class="subheader all-categories">
                <a href="{% events_filter_url request eventsFilter function="tags" exclude="tag|datetime" %}" >All Categories</a>                
            </li>
            <ul class="categories">
                {% for tag in tags %}                
                    <li class="category{% if tag.tag__name in eventsFilter.tags %} selected{% endif %}{% if forloop.counter > 21 %} more{% endif %}" >
                        <a href="{% events_filter_url request eventsFilter function="tags" tag=tag.tag__name %}"  {% if tag.tag__name in eventsFilter.tags %} class="selected"{% endif %}>
                            {{tag.tag__name}}
                        </a>
                    </li>
                {%endfor%}                
            </ul>
            {% if tags|length > 21 %}
                <div class="more-button">
                    more
                </li>
                <li class="less-button">
                    less
                </li>
            {% endif %}

        </ul>
    </div>
</div>   