{% load query_filter %}
{% load endless %}
{% load common_tags %}

<div class="left-menu">
    <div class="switchers">
        <a href="{% events_filter_url request eventsFilter function="reminder" exclude="all" %}" class="ajax auth-required">
            Reminder Events
        </a>
        <a href="{% events_filter_url request eventsFilter function="in_the_loop" exclude="all" %}" class="ajax auth-required">
            In the Loop Events
        </a>
    </div>
    <ul class="categories">
        <li>
            <a href="{% events_filter_url request eventsFilter function="recently_featured" exclude="tag" %}">
                Featured
            </a>
        </li>
        <li>
            <a href="{% events_filter_url request eventsFilter function="top_viewed" exclude="tag" %}">
                Top viewed
            </a>
        </li>
        <li>
            <a href="{% events_filter_url request eventsFilter function="latest" exclude="tag" %}">
                Recently Added
            </a>
        </li>
        <li>
            <a href="{% events_filter_url request eventsFilter function="random" exclude="tag" %}">
                Random
            </a>
        </li>
        <li>
            <a href="{% events_filter_url request eventsFilter function="night_life"  exclude="tag" %}">
                Night life
            </a>
        </li>
        <li>
            <a href="{% events_filter_url request eventsFilter function="date_night"  exclude="tag" %}">
                Date Night
            </a>
        </li>
        <li>
            <a href="{% events_filter_url request eventsFilter function="free"  exclude="tag" %}">
                Free
            </a>
        </li>
        <li class="last">
            <a href="{% events_filter_url request eventsFilter function="family"  exclude="tag" %}">
                Family
            </a>
        </li>
    </ul>

    {% paginate 30 tags using 'tag_group' %}
    {% get_pages %}


    <div class="all-tags-container{% if not pages.current.is_last %} more{% endif %}">
        <div class="all-tags">
            <a href="{% events_filter_url request eventsFilter function="tags" exclude="tag|datetime" %}" >All Tags</a>
        </div>
        <div class="switchers sort">
            <a href="{% events_filter_url request eventsFilter function="tags" sort="abc" %}">
                Sort by ABC
            </a>
            <a href="{% events_filter_url request eventsFilter function="tags" sort="123" %}">
                Sort by 123
            </a>
        </div>

        <ul class="categories tags">
            {% for tag in tags %}
                <li class="category{% if tag.tag__name in eventsFilter.tags %} selected{% endif %}">
                    <a href="{% events_filter_url request eventsFilter function="tags" tag=tag.tag__name %}"
                       {% if tag.tag__name in eventsFilter.tags %} class="selected"{% endif %}
                       title="{{ tag.tag__name }}">
                        {{ tag.tag__name|shorten_string:20 }}
                    </a>
                </li>
            {%endfor%}
        </ul>

        {% if not pages.current.is_last %}
            <div class="more-less-buttons">
                <a href="{{ pages.next.url }}" class="more-button">
                    more
                </a>
            </div>
        {% endif %}
    </div>
</div>
