{% load endless %}
{% load cropping %}
{% load featured_event %}
<div class="featured-area">
    <h2>Featured Events</h2>
    <div class="features-wrapper" data-no-turbolink>
        {% paginate 6 featuredEventsFilter.qs using "featured_page" as featured_events %}
        {% for event in featured_events %}
            {% featured_event event %}
        {% endfor %}
        <div class="clr"></div>
    </div>

    <div class="features-navigation">
        {% get_pages %}    
        <ul>
            <span class="step-links">
                {% if pages.current.is_first %}
                    <a class="prev" href="{{ pages.first.url }}">
                        Prev
                    </a>
                    
                {% else %}
                    <a class="prev" href="{{ pages.previous.url }}">
                        Prev
                    </a>                
                {% endif %}
                <a href="{{ pages.first.url }}">
                    <img src="{{STATIC_URL}}images/featured/left.png">
                </a>

                {% for page in pages %}
                    <a href="{{ page.url }}" 
                        {% if page.is_current %}class="current"{%endif%}>
                        {{ page.number }}
                    </a>
                {% endfor %}                        
                
                <a href="{{ pages.last.url }}">
                    <img src="{{STATIC_URL}}images/featured/right.png">
                </a>

                {% if pages.current.is_last %}                            
                    <a class="next" href="{{ pages.last.url }}">
                        Next
                    </a>
                    
                {% else %}
                    <a class="next" href="{{ pages.next.url }}">
                        Next
                    </a>            
                {% endif %}
            </span>
        </ul>
    </div>
</div>