{% load endless %}
{% load cropping %}
{% load featured_event %}

{% if featured_events %}
<div class="featured-area">
    <h2>Featured Events</h2>
    <div class="features-wrapper" data-no-turbolink>
        {% paginate 6 featured_events using "featured_page" %}
        {% if featured_events %}
            {% featured_events_container featured_events %}
        {% endif %}
        <div class="clr"></div>
    </div>

    <div class="features-navigation">
        {% get_pages %}
        <ul>
            <span class="step-links">
                <a href="{{ pages.first.url }}">
                    first
                </a>

                {% if pages.current.is_first %}
                    <a class="prev" href="{{ pages.first.url }}">
                        prev
                    </a>
                    
                {% else %}
                    <a class="prev" href="{{ pages.previous.url }}">
                        prev
                    </a>
                {% endif %}

                {% for page in pages %}
                    <a href="{{ page.url }}" 
                        {% if page.is_current %}class="current"{%endif%}>
                        {{ page.number }}
                    </a>
                {% endfor %}

                {% if pages.current.is_last %}
                    <a class="next" href="{{ pages.last.url }}">
                        next
                    </a>
                    
                {% else %}
                    <a class="next" href="{{ pages.next.url }}">
                        next
                    </a>
                {% endif %}

                <a href="{{ pages.last.url }}">
                    last
                </a>
            </span>
        </ul>
    </div>
</div>
{% endif %}