{% load endless %}
{% load cropping %}
{% load featured_event %}
{% load common_tags %}

{% if featured_events %}
<div class="featured-area">
    <div class="features-wrapper" data-no-turbolink>
        <div class="featured-events-viewer">
            <div class="featured-events-viewer-content">
                {% featured_events_container featured_events %}
            </div>
        </div>
    </div>
    <h2>Featured Events</h2>
    {% if featured_events.count > 6 %}
        <div class="features-navigation">
            <div class="featured-events-viewer-controls">
                <span class="page-no">1</span> of <span id="featured-events-total">{{ featured_events.count }}</span>
                <div class="prev"><i class="icon-chevron-left"></i></div>
                <div class="next"><i class="icon-chevron-right"></i></div>
            </div>
        </div>
    {% endif %}
</div>
{% endif %}