{% load query_filter %}
<div class="main-navigation-nav">
   <div class="main-navigation-nav-wrapper">
        <ul class="categories">
            <li class="header">
                <a href="{% events_filter_url request eventsFilter function="all" exclude="tag|datetime" %}" class="all ajax">
                    Browse All Events({{events_all_count}})
                </a>
            </li>
            <li class="subcat">

                <a href="{% events_filter_url request eventsFilter function="random" exclude="tag" %}" class="ajax">
                    Random Events
                </a>
            </li>
            <li class="subcat top5">
                <a href="javascript:void;" >Top 10 Categories</a>
                <a href="{% events_filter_url request eventsFilter function="tags"  exclude="tag" %}" class="toggler ajax"></a>
            </li>
            <ul class="top5-tags">
                {%for tag in top10_tags%}
                <li>
                    <a href="{% events_filter_url request eventsFilter function="tags" tag=tag.tag__name %}" class="ajax{% if tag.tag__name in eventsFilter.tags %} selected{% endif %}"  >
                        {{tag.tag__name}}
                    </a>
                </li>                                            
                {%endfor%}
            </ul> 

            <li class="subcat">
                <a href="{% events_filter_url request eventsFilter function="recently_featured" exclude="all" %}" class="ajax">
                    Recently Featured
                </a>
            </li>
            <br>

            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="top_viewed" exclude="tag" %}" class="ajax">
                    Top viewed
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="latest" exclude="tag" %}" class="ajax">
                    Recently Added
                </a>
            </li>            
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="night_life"  exclude="tag" %}" class="ajax">
                    Night life
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="date_night"  exclude="tag" %}" class="ajax">
                    Date Night
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="free"  exclude="tag" %}" class="ajax">
                    Free
                </a>
            </li>
            <li class="special">
                <a href="{% events_filter_url request eventsFilter function="family"  exclude="tag" %}" class="ajax">
                    Family
                </a>
            </li>
        </ul>
    </div>
</div>   