{% load query_filter %}
{% load date_formatting %}
<div class="schedule-bar">
    <div class="schedule-bar-wrapper">
        <ul>
            <li><a href="{% events_filter_url request eventsFilter period="today" exclude="datetime" %}" class="jump ajax">Today</a></li>
            <li><a href="{% events_filter_url request eventsFilter period="tomorrow"  exclude="datetime" %}" class="jump ajax">Tomorrow</a></li>
            <li><a href="{% events_filter_url request eventsFilter period="this-weekend"  exclude="datetime" %}"  class="jump ajax">This weekend</a></li>
            <li><a href="{% events_filter_url request eventsFilter period="next-week"  exclude="datetime" %}" class="jump ajax">Next week</a></li>
            <li>
                <a href="javascript:void;"  class="jump jump-popup-opener">
                    Jump to date
                </a>                
            </li>                                            
            <div class="clr"></div>
        </ul>
    </div>
    <div class="jump-popup">
        <div>
            <div class="time-row">
                <div class="checkbox">
                    <input id="timeJumpToDateCheckbox" type="checkbox" class="time-checkbox" checked>
                    <label for="timeJumpToDateCheckbox"> </label>
                </div>
                
                <div class="start-time inline">
                    <span>Start Time</span>
                    <div class="timepicker">
                        <div class="time dropdown" data-dropdown-class="time" data-value="{{ start_time|hour12 }}">
                            <select>
                                <option value="01:00">01:00</option>
                                <option value="02:00">02:00</option>
                                <option value="03:00">03:00</option>
                                <option value="04:00">04:00</option>
                                <option value="05:00">05:00</option>
                                <option value="06:00">06:00</option>
                                <option value="07:00">07:00</option>
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                            </select>
                        </div>
                        <div class="meridian dropdown" data-dropdown-class="meridian" data-value="{{ start_time|meredian }}">
                            <select>
                                <option value="a.m.">a.m.</option>
                                <option value="p.m.">p.m.</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="end-time inline">                  
                    <span>End Time</span>
                    <div class="timepicker ">
                        <div class="time dropdown" data-dropdown-class="time" data-value="{{ end_time|hour12 }}">
                            <select>
                                <option value="01:00">01:00</option>
                                <option value="02:00">02:00</option>
                                <option value="03:00">03:00</option>
                                <option value="04:00">04:00</option>
                                <option value="05:00">05:00</option>
                                <option value="06:00">06:00</option>
                                <option value="07:00">07:00</option>
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                            </select>
                        </div>
                        <div class="meridian dropdown" data-dropdown-class="meridian" data-value="{{ end_time|meredian }}">
                            <select>
                                <option value="a.m.">a.m.</option>
                                <option value="p.m.">p.m.</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="date-row">
                <div class="checkbox">
                    <input id="dateJumpToDateCheckbox" type="checkbox" class="date-checkbox" checked>
                    <label for="dateJumpToDateCheckbox">  </label>
                </div>                
                <div class="start-date inline">
                    Select Start Date
                    <div class="date dropdown">
                        <input type="text" 
                            value="{% if start_date %}{{ start_date|date:"SHORT_DATE_FORMAT"}}{% else %}{% now "SHORT_DATE_FORMAT" %}{% endif %}">
                    </div>
                </div>
                <div class="end-date inline">
                    Select Start Date
                    <div class="date dropdown">
                        <input type="text" value="{% if end_date %}{{ end_date|date:"SHORT_DATE_FORMAT"}}{% else %}{% now "SHORT_DATE_FORMAT" %}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="jump-to-date-wrapper">
                <a 
                    class="jump-to-date-button ajax" href="{% events_filter_url request eventsFilter exclude="datetime" %}" 
                    data-base-url-query="{% events_filter_url request eventsFilter exclude="datetime" %}"
                >
                    Jump to Date
                </a>
            </div>
            
        </div>


    </div>
</div> 