{% extends 'home.html' %}

{% block content %}

<div id="browse_events">
  <header>
    <h1>Browse events</h1>
    <p>Here is a list of upcoming events</p>
  </header>
      
  <nav id="date-nav">
    <ul>
      <li><a href="{% url event_browse_tags_date date="today" old_tags=current_tags %}" class="current">Today</a></li>
      <li><a href="{% url event_browse_tags_date date="tomorrow" old_tags=current_tags %}">Tomorrow</a></li>
      <li><a href="{% url event_browse_tags_date date="this-weekend" old_tags=current_tags %}">This weekend</a></li>
      <li><a href="{% url event_browse_tags_date date="next-weekend" old_tags=current_tags %}">Next weekend</a></li>
      <li><a href="{% url event_browse_tags_date date="this-week" old_tags=current_tags %}">This week</a></li>
      <li><a href="{% url event_browse_tags_date date="next-week" old_tags=current_tags %}">Next week</a></li>			
      <li><a href="" class="jump">Jump to date</a></li>
    </ul>
  </nav>

  <div id="tags">
    <h2>Categories</h2>
    {% for tag in all_tags %}
      {% if tag.slug == "" %}
        <p><a href = "{% url event_browse_date date=page_date%}">{{ tag.name }} ({{ tag.number }})</a></p>
      {% else %}
        {% if page_date %}
          {% if page_num < 2 %}
            <p><a href = "{% url event_browse_tags_date old_tags=tag.slug date=page_date %}">{{ tag.name }} ({{ tag.number }})</a></p>
          {% else %}
            <p><a href = "{% url event_browse_tags_date_num old_tags=tag.slug date=page_date num=page_num %}">{{ tag.name }} ({{ tag.number }})</a></p>
          {% endif %}
        {% else %}
          <p><a href = "{% url event_browse_tags old_tags=tag.slug %}">{{ tag.name }} ({{ tag.number }})</a></p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  
  <div id="events">
    {% comment %}
    {% for event in upcoming_events %}
    <span class="upcoming_event">
      {% include 'events/event_description_small.html' %}
    </span>
    {% endfor %}
    {% endcomment %}
    {% for set in event_sets %}
    <div class="event_list">
      {% if set.name %}
      <h3>{{ set.name }}</h3>
      {% endif %}
      {% for event in set.events %}
      <span class="upcoming_event">
	{% include 'events/event_description_small.html' %}
      </span>
      {% endfor %}
    </div>
    {% endfor %}
    {% if pages %}
    <nav>
      {% if page_num > 1 %}
        {% if page_num == 2 %}
          <p><a href="{% url event_browse_tags_date old_tags=current_tags date=page_date %}">Prev</a></p>
        {% else %}
          <p><a href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=page_less %}">Prev</a></p>
        {% endif %}
      {% endif %}
      <p><a href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=page_more %}">Next</a></p>
    </nav>
    {% endif %}
  </div>


</div>
{% endblock %}
