
{% extends 'base.html' %}
<script src="http://code.jquery.com/jquery-latest.js"></script>


<link href="{{STATIC_URL}}css/browse.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function(e) {
        $('.search-lists ul li a').click(function() {
            var v = $(this).attr('rel');
            $('.location-text-box .location').val(v);
        });
        $('.footer-site-map ul li').addClass('add-border-right-white');
        $('.footer-site-map ul li:last').removeClass('add-border-right-white');
    });
</script>
{% comment %}
browse_events.html
--------------------------------------
This is the event browser.
Incoming context has:
all_tags: a container of tags associated with events that could be
displayed on this page
current_tags: the tags enabled on this page
page_date: the date we are looking at
page_num: the current page number
pages: a list of the numbers from 1 to the number of pages to be
displayed
page_less: the previous page number
page_more: the next page number
browsing: the boolean stating to the header that we are browsing (the
top button)
browse_bar: the boolean stating to the header that we want a nav list
of dates in the header
{% endcomment %}
{% load date_formatting %}
{% block title %} 
    &gt; Browse {% if page_date != "flow" %}&gt; {{page_date|slug_to_title }}{% endif %}
{% endblock %}
{% block page %}

    <script type="text/javascript">
        $(document).ready(function(){
            $("#date").datepicker({
                buttonImage: '{{STATIC_URL}}images/jump-to-date.png',
                buttonImageOnly: true,
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                showOn: 'both',
                onClick: window.jumpToDate, 
                toggles: true,
                onSelect: function(dateText, inst) {
                    window.location.replace("http://cityfusion.ca/events/all/" + dateText) // make your AJAX call!
                }
            }); //make the datepicker appear!
        });         
    </script>

    {% if messages %}
        <div class="msg">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="wrapper">
        <div class="page-container">    
            <div class="featured-area">
                <h2>Featured Events</h2>
                <div class="features-wrapper">
                <!--start.featured_events-->
    
                    {% for event in featured_events.object_list %}    
                        {% load event_pictures %}
                        <div class="features">
                            <div class="featured-img-wrapper"><img src="{% event_picture_url 'event' 200 %}" height="153px" weight="154px"></div>
                            <div class="featured-img-details">
                                <div class="featured-img-details-wrapper">
                                    <div class="featured-title"><a href="/events/view/{{event.slug}}">{{event.name}}</a></div>
                                    <div class="featured-date">
                                        {{ event.start_time|just_day }}<br>
                                        {{ event.start_time|just_time }}
                                        {% if event.end_time %}&mdash; {{ event.end_time|just_time }}{% endif %}
                                    </div>
                                    <div class="featured-details-link"><a href="/events/view/{{event.slug}}/">{{ event.description|linebreaks }}</a></div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                <!--end.features-->
                <div class="clr"></div>
            </div>
            <!--start.features-navigation-->
            <div class="features-navigation">
                <ul>
                    <span class="step-links">
                    {% if featured_events.has_previous %}
                        <a href="?featured_page={{ featured_events.previous_page_number }}&search_pad_page={{ search_pad_events.number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        {%if featured_events.num_pages > 1%}
                            Page {{ featured_events.number }} of {{ featured_events.paginator.num_pages }}.
                    </span>
                        {%endif%}
                        {% if featured_events.has_next %}
                            <a href="?featured_page={{ featured_events.next_page_number }}&search_pad_page={{ search_pad_events.number }}">next</a>
                        {% endif %}
                    </span>
                </ul>
            </div>    
            <!--end.features-navigation-->
        </div> 

        <div class="content-wrapper">
        	<div class="content-wrapper-panel">
                <!--start.main-content-wrapper-->
                <div class="main-content-wrapper">
                	<h1>Search Pad</h1>
                    <div class="main-content">
                	   <!--start.main-navigation-->
                    
                        <div class="main-navigation">
                            <!--start.main-navigation-nav-->
                            <div class="main-navigation-nav">
                        	   <div class="main-navigation-nav-wrapper">
                                    <ul class="categories">
                                        <li class="header">Browse All Events({{events|length}})</li>
                                        <li class="subcat"><a href="/events/free/this-week/" >&#8250;&#8250; All this week</a></li>
                                        <li class="subcat">
                                            <a href="/events/free/">&#8250;&#8250; Featured events</a>
                                        </li>
                                        {%for tag in all_tags%}
                                            {%if tag.slug = ''%}
                                                <li {% if forloop.counter0 > 9 %}{%endif%} class="blue"><a href="/events/">{{tag.name}}</a></li>
                                            {%else%}
                                                <li {% if forloop.counter0 > 9 %} {% endif %} class="blue"><a href="{% url 'event_browse_tags' old_tags=tag.slug%}">{{tag.name}}</a></li>
                                            {%endif%}
                                        {%endfor%}
                                        {% if all_tags|length > 9 %}
                                            <li id="tags_more"><a href="#" class="more"><span class="tickbox"><span class="downtick"></span></span>More</a></li>
                                            <li id="tags_less" style="display: none; "><a href="#" class="more"><span class="tickbox"><span class="uptick"></span></span>Fewer</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>                        
                            <!--end.main-navigation-nav-->
                        
                            <!--start.main-navigation-content-nav-->
                        
                            <div class="main-navigation-content-nav">
                                <div class="main-navigation-content-nav-wrapper">
                                    <!--start.schedule-bar-->
                            
                                    <div class="schedule-bar">
                                        <div class="schedule-bar-wrapper">
                                            <ul>
                                                <li><a  href="/events/all/today/" class="jump">Today</a></li>
                                                <li><a  href="/events/all/tomorrow/" class="jump">Tomorrow</a></li>
                                                <li><a  href="/events/all/this-weekend/"  class="jump">This weekend</a></li>
                                                <li><a  href="/events/all/next-week/" class="current">Next week</a></li>
                                                <li>
                                                    <div style="background-color: white; border: solid thin #CCC; border-radius: 5px; height:21px;"><input type="hidden" id="date"/></div>
                                                </li>                                            
                                                <div class="clr"></div>
                                            </ul>
                                        </div>
                                    </div>                                
                                    <!--end.schedule-bar-->
                      
                                    <!--start.entry-wrapper-->
                                    {% for event in search_pad_events.object_list %}    
                                        {% load event_pictures %}
                                        <div class="result-entry-info">
                                            <div class="entry-img-prev">
                                                <img src="{% event_picture_url 'event' 200 %}" length="72px" width="71px">
                                            </div>
                                            <div class="entry-details-wrapper">
                                                <div class="title-wrapper">
                                                    <div class="title"><a href="/events/view/{{event.slug}}/">{{event.name}}</a></div>
                                                    <div class="clr"></div>        
                                                </div>
                                                
                                                <div class="entry-date-wrapper">
                                                     {{event.start_time}}
                                                </div>                                               
                                                <div class="entry-description">
                                                    {{ event.venue.name }}<br>
                                                    {{ event.venue.street }}<br>
                                                    {{ event.venue.city.name_std }}
                                                </div>                                               
                                            </div>
                                            <div class="clr"></div>
                                       </div>
                                           
                                    {%endfor%}
                                    <div class="clr"></div>
                                    <div class="entry-navigation-np">
                                        <p>
                                            <ul>
                                                <span class="step-links">
                                                    <!--TODO: Fix this strange layout-->
                                                    {% if search_pad_events.has_previous %}
                                                        <a href="?search_pad_page={{ search_pad_events.previous_page_number }}&featured_page={{ featured_events.number }}">
                                                            <img src="{{STATIC_URL}}images/entry-prev.png">
                                                        </a>
                                                    {% endif %}                                                    
                                                    {%if search_pad_events.num_pages > 1%}
                                                        <span class="current">
                                                            Page {{ search_pad_events.number }} of {{ search_pad_events.paginator.num_pages }}.
                                                        </span>
		                                            {%endif%}
                                                    {% if search_pad_events.has_next %}
                                                        <a href="?search_pad_page={{ search_pad_events.next_page_number }}&featured_page={{ featured_events.number }}">
                                                            <img src="{{STATIC_URL}}images/entry-next.png">
                                                        </a>
                                                    {% endif %}                                                    
                                                </span>
                                            </ul>
                                        </p>
                                    </div>
                                    <!--end.entry-->                            
                                </div>
                            </div>                        
                            <!--end.main-navigation-content-nav-->                        
                            <div class="clr"></div>                    
                        </div>                    
                        <!--end.main-navigation-->
                    
                        <!--start.right-navigation-->                    
                        <!--<?php include("rightside.php");?>-->                    
                        <!--end.right-navigation-->
                
                        <div class="clr"></div>                
                    </div>
                </div>
                <!--end.main-content-wrapper-->        
            </div>    
        </div>    
        <!--end.content-wrapper-->             
    </div>
</div>
<!--jQuery-->
	
<script src="{{STATIC_URL}}popup/js/jquery.reveal.js"></script>
{% endblock %}