{% extends 'home.html' %}

{% comment %}
browse_events.html
--------------------------------------
This is the event browser.

Incoming context has:
all_tags: a container of tags associated with events that could be displayed on this page
current_tags: the tags enabled on this page
page_date: the date we are looking at
page_num: the current page number
pages: a list of the numbers from 1 to the number of pages to be displayed
page_less: the previous page number
page_more: the next page number
browsing: the boolean stating to the header that we are browsing (the top button)
browse_bar: the boolean stating to the header that we want a nav list of dates in the header
{% endcomment %}
{% load date_formatting %}
{% block title %} > Browse > {{ page_date }}{% endblock %}
{% block content %}
<aside id="tags">
  <nav>
    <ul>
    {% for tag in all_tags %}
      {% if tag.slug == "" %}
        <li>
          <a href = "{% url event_browse_date date=page_date %}"{% if tag.status %} class="{{ tag.status|safe }}"{% endif %}>{{ tag.name }} ({{ tag.number }})</a>
        </li>
      {% else %}
        {% if tag.number > 0 %}
          {% if page_date %}
            {% if page_num < 2 %}
              <li>
	        <a href = "{% url event_browse_tags_date old_tags=tag.slug date=page_date %}"{% if tag.status %}class="{{ tag.status|safe }}"{% endif %}>{{ tag.name }} ({{ tag.number }})</a>
	      </li>
	    {% else %}
              <li>
	        <a href = "{% url event_browse_tags_date_num old_tags=tag.slug date=page_date num=page_num %}"{% if tag.status %}class="{{ tag.status|safe }}"{% endif %}>{{ tag.name }} ({{ tag.number }})</a>
	      </li>
	    {% endif %}
	  {% else %}
            <li>
	      <a href = "{% url event_browse_tags old_tags=tag.slug %}"{% if tag.status %}class="{{ tag.status|safe }}"{% endif %}>{{ tag.name }} ({{ tag.number }})</a>
	    </li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
</aside>

<section class="body">
  {% for set in event_sets %}
    {% if set.name %}
      <h1>{{ set.name }}</h1>
    {% endif %}
    <ul class="events">
      {% for event in set.events %}
        {% load date_formatting %}
        {% if page_date != "flow" %}
          {% ifchanged event.start_time|just_day %}
            </ul>
            <h2>{{ event.start_time|just_day }}</h2>

	    <ul class="events">
          {% endifchanged %}
	{% endif %}
        {% include 'events/event_description_small.html' %}
      {% empty %}
        {% include 'events/no_events.html' %}
      {% endfor %}
    </ul>
  {% endfor %}


  <p>
    {% if page_num > 1 %}
      {% if page_num == 2 %}
        <a class="button" href="{% url event_browse_tags_date old_tags=current_tags date=page_date %}">Previous</a>
      {% else %}
        <a class="button" href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=page_less %}">Previous</a>
      {% endif %}
    {% endif %}

    {% if page_more <= pages|length %}
      {% if page_more == pages|length %}
        {% if page_remainder > 0 %}
          <a class="button next" href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=page_more %}">Next</a>
        {% endif %}
      {% else %}
        <a class="button next" href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=page_more %}">Next</a>
      {% endif %}
    {% endif %}
  </p>
  {% if pages|length > 2 or page_num > 1 or page_more <= pages|length and page_remainder > 0 %}
    <ul id="pagination">
      {% for numb in pages %}
        {% if forloop.last %}
          {% if page_remainder > 0 %}
            <li>
	      <a {% if page_num == numb %}class="current"{% endif %} href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=numb %}">{{ numb }}</a>
	    </li>
	  {% endif %}
	{% else %}
          <li>
	    <a {% if page_num == numb %}class="current"{% endif %} href="{% url event_browse_tags_date_num old_tags=current_tags date=page_date num=numb %}">{{ numb }}</a>
	  </li>
	{% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% endblock %}
