{% extends 'home.html' %}

{% block content %}
<div id="edit_event">
  <p>Your current picture: </p>
  {% load event_pictures %}
  {% event_picture_url event %}
<form method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.as_p }}
    </fieldset>
    <input type="submit" value="Edit event"/>
</form>

<script src="{{ STATIC_URL }}js/mylibs/jquery-ui-1.8.13.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/jqsplitdatetime.js"></script>
</div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/overcast/jquery-ui-1.8.13.custom.css?v=2">
{% endblock %}
