{% extends 'base-with-advertising.html' %}
{% load date_formatting %}
{% load cropping %}
{% load query_filter %}
{% load event_tags %}
{% load endless %}
{% load advertising_tags %}
{% load admin_event_actions %}
{% load common_tags %}
{% load location %}

{% block head %}
    <link href="{{STATIC_URL}}styles/styles-new.css" rel="stylesheet" type="text/css" />

    <meta property="og:title" content="{{event.name}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}/events/view/{{event.slug}}/" />
    {% if event.picture %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% cropped_thumbnail event.image "cropping" height=200 %}" />    
    {% else %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{STATIC_URL}}images/default-event.jpg" />
    {% endif %}
    <meta property="og:site_name" content="Cityfusion" />
    <meta property="og:description" content="{{ event.event_description|striptags|safe }}" />
    <meta property="fb:admins" content="100000796428679" />


    <link href="{{STATIC_URL}}styles/browse/event_details.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/styles-new.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/event/conversation.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/event/image-viewer.css" rel="stylesheet" type="text/css" />

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>        
    <script>
        var venue_latitude = {{ event.venue.location.y }},
            venue_longtitude = {{ event.venue.location.x }},
            crsf_token = "{{ csrf_token }}";
    </script>

    <script src="{{STATIC_URL}}js/searchpad/event-actions.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox.js"></script>
    <script src="{{STATIC_URL}}js/actions/report-event.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/claim-event.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/event/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/event/event-days-switcher.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/event/image-viewer.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/event/eventpage.js" type="text/javascript"></script>
{% endblock %}    

{% block messages %}
    {% if messages %}
        <ul class="messages" data-no-hide="true">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <button type="button" class="close">×</button>
                    {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}
{% block page %}
    <div id="fb-root"></div>
    <div class="primary-content">
        <h1>
            <a href="{% event_link event %}">{{event.name}}</a>
        </h1>
        <div class="content">
            <div class="event-wrapper">
                <div class="event-photo{% if event.event_type == "MULTIDAY" %}{% if not event.venue_account_owner or not event.venue_account_owner.public %} multiday{% endif %}{% endif %}">
                    {% if event.sorted_images.count > 1 %}
                        <div class="image-viewer">
                            <div class="image-viewer-content">
                            {% for image in event.sorted_images %}
                                <a id="photoFancy"  rel="galery" href="/media/{{ image.picture }}">
                                    <img class="center-cropped" src="{% cropped_thumbnail image "cropping" height=265 %}">
                                    <div class="detail-view"></div>
                                </a>
                            {% endfor %}
                            </div>

                            <div class="image-viewer-controls">                                
                                <div class="next" data-ga-label="Photo Scroll Link"><i class="icon-chevron-right"></i></div>
                                <div class="prev"><i class="icon-chevron-left"></i></div>
                                <span class="page-no">1</span> of <span id="images-total">{{ event.sorted_images.count }}</span>
                            </div>
                        </div>
                    {% elif event.sorted_images.count > 0 %}
                         <a id="photoFancy"  rel="galery" href="/media/{{ image.picture }}">
                            <img class="center-cropped" src="{% cropped_thumbnail image "cropping" height=265 %}">
                            <div class="detail-view"></div>
                        </a>
                    {% endif %}
                    {% if event.venue_account_owner and event.venue_account_owner.public %}
                    <footer>
                        Submitted by 
                        <a href="{% url 'public_venue_account' event.venue_account_owner.slug %}">
                            {{ event.venue_account_owner.venue.name }}
                        </a>
                    </footer>
                    {% endif %}
                </div>
                <div class="event-details">
                    {% manage_event_actions %}

                    <div class="title-wrapper">
                        <div class="event-price">
                        {% if event.price and event.price != "$" %}
                            {{event.price}}
                        {% else %}
                            Price not set
                        {% endif %}
                        </div>
                    </div>
                    <div class="event-date-wrapper">
                        {% if event.event_type == "SINGLE" %}
                            {{event.start_time|date:"l, N d"}}
                        {% endif %}
                        {% if event.event_type == "MULTIDAY" %}
                            {{event.first_occurrence.start_time|date:"D, N d"}} - {{event.last_occurrence.end_time|date:"D, N d"}}
                        {% endif %}
                    </div>
                    <div class="event-description">
                        <span class="accented">{{ event.venue.name }}</span><br />
                        {% if event.venue.street %}
                            <span>{% if event.venue.street_number %}{{ event.venue.street_number }} {% endif %}{{ event.venue.street }}</span>
                        {% endif %}
                        {{ event.venue.city.name_std }}, {{ event.venue.city.region.name_std|region_shortcut }}
                    </div>
                    <div class="event-actions">
                        <table>
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" class="action-remind-me accented" data-single-event-id="{{ event.id }}">Remind Me</a>
                                    {% remind_me_popup event %}
                                </td>
                                <td class="in-the-loop-td">
                                    <a href="javascript:void()" class="action-in-the-loop accented">In the Loop</a>
                                    {% in_the_loop_popup event %}
                                </td>
                            </tr>
                            <tr>
                                {% if event.website %}
                                <td {% if not event.tickets %}colspan="2"{% endif %}>
                                    <a href="{{ event.website }}" class="block-header accented view-site" target="_blank">
                                        View Site
                                    </a>
                                </td>
                                {% endif %}
                                {% if event.tickets %}
                                <td {% if not event.website %}colspan="2"{% endif %}>
                                    <a href="javascript:void()"  class="action-buy-tickets accented">
                                        Buy Tickets
                                    </a>
                                    {% buy_tickets_popup event %}
                                </td>
                                {% endif %}
                                {% if not event.website or not event.tickets %}<td></td>{% endif %}
                                {% if not event.website and not event.tickets %}<td colspan="2"></td>{% endif %}
                            </tr>                            
                            <tr>
                                <td colspan="2" class="social-buttons">
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_pinterest_share"></a>
                                    <a class="addthis_button_google_plusone_share"></a>
                                    <a class="addthis_button_linkedin"></a>                                    
                                    <a class="addthis_button_myspace"></a>
                                    <a class="addthis_button_blogger"></a>
                                    <a class="addthis_button_email"></a>
                                    
                                    
                                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                                    </div>
                                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5228e9b0617f180a"></script>
                                    <!-- AddThis Button END -->
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% if event.venue %}
                        <div class="venue_map_preview">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.venue.location.y }},{{ event.venue.location.x }}&zoom=13&size=100x80&maptype=roadmap&markers=color:blue%7C{{ event.venue.location.y }},{{ event.venue.location.x }}&sensor=false">
                            <a href="javascript: void">Full map and directions</a>
                        </div>
                        <div id="venue_map" class="map"></div>                        
                    {% endif %}
                    {% if event.event_type == "MULTIDAY" %}
                    <ul class="event-days bxslider">
                        {% for  key, occurrences in event.sorted_occurrences_days.items %}
                        <li>
                            <div class="event-day-switch{% if forloop.first and occurrences.0.start_time > now %} active{% endif %}{% if occurrences.0.start_time.date == now.date %} active{% endif %}" data-day="{{ occurrences.0.start_time }}">
                                 {{ occurrences.0.start_time|date:"D d" }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="show-times">
                    {% if event.event_type == "SINGLE" %}
                        <header>
                            Show Time(s) for {{ event.start_time|date:"D d" }}
                        </header>
                        <div class="show-times-wrapper">
                            {% for occurrence in event.same_date_events %}
                                <div>{{occurrence.start_time|just_time|lower}} - {{occurrence.end_time|just_time|lower}}</div>
                            {% endfor %}                            
                        </div>
                    {% endif %}
                    {% if event.event_type == "MULTIDAY" %}
                        {% for key, occurrences in event.sorted_occurrences_days.items %}
                        <div class="show-time-day{% if forloop.first and occurrences.0.start_time > now %} active{% endif %}{% if occurrences.0.start_time.date == now.date %} active{% endif %}" data-day="{{ occurrences.0.start_time }}">
                            <header>
                                Show Time(s) for {{ occurrences.0.start_time|date:"D d" }}
                            </header>
                            <div class="show-times-wrapper">
                                {% for occurrence in occurrences %}
                                    <div>{{occurrence.start_time|just_time|lower}} - {{occurrence.end_time|just_time|lower}}</div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="description">
                    {% if event.event_type == "MULTIDAY" %}
                        {% for occurrence in event.sorted_occurrences %}
                        <div class="show-day-description {% if forloop.first and occurrence.start_time > now %} active{% endif %}{% if occurrence.start_time.date == now.date %} active{% endif %}" data-day="{{ occurrence.start_time }}">
                            {% if occurrence.description %}
                                {{ occurrence.description|html_urlize|safe }}
                            {% else %}
                                {{ event.event_description|html_urlize|safe }}
                            {% endif %}                            
                        </div>
                        {% endfor %}
                    {% else %}
                        {% if event.event_description %}
                            {{ event.event_description|html_urlize|safe }}
                        {% endif %}
                    {% endif %}
                </div>
                {% if event.eventattachment_set.count > 0 %}
                <div class="attachments">                    
                    <h3>
                        Attachments:
                    </h3>
                    {% for attachment in event.eventattachment_set.all %}
                        <div>
                            <a target="_blank" href="/media/{{ attachment.attachment }}">{{ attachment.filename }}</a>
                        </div>                        
                    {% endfor %}
                </div>
                {% endif %}
                <h4 class="tags">
                    {% for tag in event.tags.all %}
                        <a href="{% url 'event_browse' %}?function=tags&tag={{ tag.name|urlencode }}">
                            {{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </h4>

                {% load admin_event_actions %}
                <div class="report-claim-container">
                    <a href="javascript: void" class="report-event-button">
                        Report Event
                    </a>
                    {% report_event_popup event %}
                    <a href="javascript: void" class="claim-event-button">
                        Claim Event
                    </a>
                    {% claim_event_popup event %}
                </div>
            </div>
        </div>

        <header class="event-conversation-header">
            Join a conversation about "{{ event.name }}"
        </header>
        <div class="event-conversation content">
            

            <div class="fb-comments" data-href="http://{{ request.META.HTTP_HOST }}{% event_link event %}" data-width="630" data-num-posts="5"></div>
        </div>
    </div>

    <div class="secondary-content">
        <div class="secondary-content-header-wrapper">
            <header>
                Events at {{ event.venue.name }}
            </header>
        </div>
        <div class="content">
            <table class="secondary-content-table" celpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th class="secondary-content-table-date">Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>                    
                    {% if events_from_venue|length > 0 %}
                        {% paginate 5 events_from_venue using "venue_events" as venue_events %}
                        {% for venue_event in venue_events %}
                            <tr>
                                <td>{{ venue_event.start_time|date:"D, M d" }}</td>
                                <td>{{ venue_event.start_time|date:"fA"|title }}</td>
                                <td>
                                    <a href="{% event_link venue_event %}">
                                        {{ venue_event.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">
                                No upcoming events
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if events_from_venue|length > 0 and pages|length > 1 %}
                <div class="secondary-content-table-pagination">
                    <span class="pagintation-wrapper">
                        {% get_pages %}
                        {% if pages.current.is_first %}
                            <span class="prev"></span>                    
                        {% else %}                
                            <a class="prev" href="{{ pages.previous.url }}"></a>
                        {% endif %}
                        <span class="page-info">
                            {{ pages.current }} of {{ pages|length }}
                        </span>

                        {% if pages.current.is_last %}
                            <span class="next"></span>                    
                        {% else %}
                            <a class="next" href="{{ pages.next.url }}"></a>
                        {% endif %}
                    </span>        
                </div>
            {% endif %}
        </div>
    </div>    
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block advertising %}
    <div class="advertising-right-container">
        <div class="advertising-right-container">
            {% advertising_group "300x250|300x100" %}        
        </div>
    </div>
{% endblock %}
