{% extends 'home.html' %}
{% block title %} > View > {{ event.name }}{% endblock %}
{% block content %}

{% block breadcrumb %}
  {% load date_formatting %}
  <nav id="back">
    <p>
      <a href="{% url event_browse %}">
        Browse Events
      </a>
      &gt; 
      <a href="{% url event_browse_date event.start_time.date.isoformat %}">
        {{ event.start_time|month_day }}
      </a>
      &gt; 
      {% for tag in event.tags.all %}
        <a href="{% url event_browse_tags tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      &gt; 
        <span class="current">{{ event.name }}</span>
    </p>
  </nav>
{% endblock %}

<aside id="photo">
  {% load event_pictures %}
  <img src="{% event_picture_url event 200 %}">
</aside>

<section class="body noborder detail">
  <h1>{{ event.name }}</h1>

  <ul>
    <li class="date">
      <a href="{% url event_browse_date date=event.start_time.date.isoformat %}">{{ event.start_time|just_day }}</a>
      <br>{{ event.start_time|just_time }}
      {% if event.end_time %}&mdash; {{ event.end_time|just_time }}{% endif %}
    </li>
    <li class="loc">
      {{ event.location }}
    </li>
    <li class="price">
      {{ event.price }}
    </li>
  </ul>
  
  <p>{{ event.description|linebreaks }}</p>
  {% if event.website %}<p><a href="{{ event.website }}">Website</a></p>{% endif %}
  <ul class="tags">
    <li>{% for tag in event.tags.all %}<a href="{% url event_browse_tags tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</li>
  </ul>
  <div class="fb-like" data-href="" data-send="true" data-width="450" data-show-faces="true"></div>
</section>
{% endblock %}
