{% if event != null %}
<li>
  {% load event_pictures %}
  <img src="{% event_picture_url event %}" alt="">
  <a href="{% url event_view event.slug %}" class="text">{{ event.name }}</a>
  <ul>
    {% load date_formatting %}
    <li>{{ event.start_time|contextualize_date }}{% if event.end_time %} &mdash; {{ event.end_time|just_time_levi_is_a_good_designer }}{% endif %}</li>
    <li>{{ event.location }}</li>
    <li>{{ event.price }}</li>
    {% comment %}
    {% for tag in event.tags.all %}
      <li>{{ tag }}</li>
    {% endfor %}
    {% endcomment %}
  </ul>
  {% if citi_user_events %}
  <a class="edit" href="{% url event_edit authentication_key=event.authentication_key %}">(Edit this event)</a>
  {% endif %}
  <a href="{% url event_view event.slug %}" class="row"></a>
</li>

{% endif %}
