{% extends 'base-new.html' %}
{% load date_formatting %}
{% load cropping %}
{% load query_filter %}
{% load event_tags %}
{% load endless %}
{% load advertising_tags %}
{% load admin_event_actions %}
{% load common_tags %}

{% block head %}
    <link href="{{STATIC_URL}}styles/styles-new.css" rel="stylesheet" type="text/css" />

    <meta property="og:title" content="{{event.name}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}/events/view/{{event.slug}}/" />
    {% if event.picture %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% if event.event %}{% cropped_thumbnail event.event "cropping" height=200 %}{% else %}{% cropped_thumbnail event "cropping" height=200 %}{% endif %}" />    
    {% else %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{STATIC_URL}}images/default-event.jpg" />
    {% endif %}
    <meta property="og:site_name" content="Cityfusion" />
    <meta property="og:description" content="{{ event.event_description }}" />
    <meta property="fb:admins" content="100000796428679" />


    <link href="{{STATIC_URL}}styles/browse/event_details.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/styles-new.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/event/conversation.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>        
    <script>
        var venue_latitude = {{ event.venue.location.y }},
            venue_longtitude = {{ event.venue.location.x }},
            crsf_token = "{{ csrf_token }}";
    </script>

    <script src="{{STATIC_URL}}js/searchpad/event-actions.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox.js"></script>
    <script src="{{STATIC_URL}}js/actions/report-event.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/claim-event.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/event/eventpage.js" type="text/javascript"></script>
{% endblock %}    


{% block page %}
    <div id="fb-root"></div>
    <div class="primary-content">
        <h1>Event details</h1>
        <div class="content">
            <div class="event-wrapper">
                <div class="event-photo">
                    {% if event.picture %}
                        <a id="photoFancy" href="/media/{{ event.picture }}">
                            <div class="center-cropped" 
                                style="background: url('{% if event.event %}{% cropped_thumbnail event.event "cropping" height=265 %}{% else %}{% cropped_thumbnail event "cropping" height=265 %}{% endif %}') center center no-repeat;">
                            </div>​
                        </a>
                    {% else %}
                        <div class="center-cropped default" style="background-image: url('{{STATIC_URL}}images/default-event.jpg');"></div>
                    {% endif %}
                    {% if event.venue_account_owner and event.venue_account_owner.public %}
                    <footer>                        
                        Submitted by 
                        <a href="{% url 'public_venue_account' event.venue_account_owner.slug %}">
                            {{ event.venue_account_owner.venue.name }}
                        </a>
                    </footer>
                    {% endif %}
                </div>
                <div class="event-details">
                    {% if request.user.is_staff %}
                        {% admin_event_actions %}
                    {% endif %}

                    <div class="title-wrapper">
                        <div class="title">
                            <a class="accented" href="{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}">{{event.name}}</a>
                        </div>
                        {% if event.price and event.price != "$" %}
                            <div class="event-price {% if event.price|length < 9 %} short {% endif %}">{{event.price}}</div>
                        {% endif %}
                    </div>
                    <div class="event-date-wrapper">
                        {{event.start_time|contextualize_date}} - {{event.end_time|just_time}}                    
                    </div>
                    <div class="event-description">
                        <span class="accented">{{ event.venue.name }}</span>
                        <br>                    
                        {{ event.venue.city.name_std }}, 
                        {% if event.venue.street %}{% if event.venue.street_number %}{{ event.venue.street_number }} {% endif %}{{ event.venue.street }}, {% endif %}
                        {{ event.venue.city.region.name_std }}
                    </div>
                    <div class="event-actions">
                        <table>
                            {% if event.tickets %}
                            <tr>
                                <td>
                                    <a href="javascript:void()"  class="action-buy-tickets accented">
                                        Buy Tickets
                                    </a>
                                    {% buy_tickets_popup event %}
                                </td>
                                <td></td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" class="action-remind-me accented" data-single-event-id="{{ event.id }}">Remind Me</a>
                                    {% remind_me_popup event %}
                                </td>
                                <td class="in-the-loop-td">
                                    <a href="javascript:void()" class="action-in-the-loop accented">In the Loop</a>
                                    {% in_the_loop_popup event %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="javascript:void(0);" class="action-facebook-like accented">
                                        <div 
                                            href="http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}" 
                                            class="fb-like" 
                                            data-href="http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}" 
                                            data-send="false" 
                                            data-layout="button_count" 
                                            data-width="20" 
                                            data-show-faces="false" 
                                            data-font="arial">
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a href="https://twitter.com/intent/tweet?original_referer=http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}&text={{event.name}}&tw_p=tweetbutton&url=http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}" class="action-tweet accented">
                                        Tweet
                                    </a>                            
                                </td>
                            </tr>
                            
                            {% if event.website %}
                                <tr>
                                    <td colspan="2">
                                        <a href="{{ event.website }}" class="block-header accented view-site" target="_blank">
                                            View Site
                                        </a>
                                    </td>                            
                                </tr>
                            {% endif %}                        
                        </table>
                    </div>
                    {% if event.venue %}
                        <div class="venue_map_preview">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.venue.location.y }},{{ event.venue.location.x }}&zoom=13&size=100x80&maptype=roadmap
&markers=color:blue%7C{{ event.venue.location.y }},{{ event.venue.location.x }}&sensor=false">
                            <a href="javascript: void">Full map and directions</a>
                        </div>
                        <div id="venue_map" class="map"></div>                        
                    {% endif %}
                </div>
                <div class="description">
                    {% if event.event_description %}
                        {{ event.event_description|html_urlize|safe }}
                    {% endif %}
                </div>
                <h4 class="tags">
                    {% for tag in event.tags.all %}
                        <a href="{% url 'event_browse' %}?function=tags&tag={{ tag.name|urlencode }}">
                            {{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </h4>

                {% load admin_event_actions %}
                <div class="report-claim-container">
                    <a href="javascript: void" class="report-event-button">
                        Report Event
                    </a>
                    {% report_event_popup event %}
                    <a href="javascript: void" class="claim-event-button">
                        Claim Event
                    </a>
                    {% claim_event_popup event %}
                </div>
            </div>
        </div>

        <header class="event-conversation-header">
            Join a conversation about "{{ event.name }}"
        </header>
        <div class="event-conversation content">
            

            <div class="fb-comments" data-href="http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}" data-width="630" data-num-posts="5"></div>
        </div>
    </div>

    <div class="secondary-content">
        <header>
            Events at {{ event.venue.name }} in {{ event.venue.city.name_std }}
        </header>
        <div class="content">
            <table class="secondary-content-table" celpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th class="secondary-content-table-date">Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>                    
                    {% if events_from_venue|length > 0 %}
                        {% paginate 5 events_from_venue using "venue_events" as venue_events %}
                        {% for venue_event in venue_events %}
                            <tr>
                                <td>{{ venue_event.start_time|date:"D, M d" }}</td>
                                <td>{{ venue_event.start_time|date:"fA"|title }}</td>
                                <td>
                                    <a href="{% url 'event_view' venue_event.slug venue_event.start_time|date:"Y-m-d" %}">
                                        {{ venue_event.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">
                                No upcoming events
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if events_from_venue|length > 0 and pages|length > 1 %}
                <div class="secondary-content-table-pagination">
                    <span class="pagintation-wrapper">
                        {% get_pages %}
                        {% if pages.current.is_first %}
                            <span class="prev"></span>                    
                        {% else %}                
                            <a class="prev" href="{{ pages.previous.url }}"></a>
                        {% endif %}
                        <span class="page-info">
                            {{ pages.current }} of {{ pages|length }}
                        </span>

                        {% if pages.current.is_last %}
                            <span class="next"></span>                    
                        {% else %}
                            <a class="next" href="{{ pages.next.url }}"></a>
                        {% endif %}
                    </span>        
                </div>
            {% endif %}
        </div>
    </div>    
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block advertising %}
    <div class="advertising-right-container">
        <div class="advertising-right-container">
            {% advertising_group "300x250|300x100" %}        
        </div>
    </div>
{% endblock %}
