{% extends 'home.html' %}

{% block content %}
<aside id="photo">
  {% load event_pictures %}
  <img src="{% event_picture_url event 250 %}">
</aside>

<section class="body noborder detail">
  <h1>{{ event.name }}</h1>
  
  <ul>
    <li class="date">
      {% load date_formatting %}
      <a href="{% url event_browse_date date=event.start_time.date.isoformat %}">{{ event.start_time|just_day }}</a>
      <br>{{ event.start_time|just_time }}
      {% if event.end_time %}&mdash; {{ event.end_time|just_time }}{% endif %}
    </li>
    <li class="loc">
      <a href="">{{ event.location }}</a>
    </li>
    <li class="price">
      {{ event.price }}
    </li>
  </ul>
  
  <p>{{ event.description }}</p>
  
  <ul class="tags">
    <li>{% for tag in event.tags.all %}<a href="">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</li>
  </ul>

</section>
{% endblock %}
