{% if event != null %}
<div class="event_picture">
  {# This is where event picture would go. #}
</div>
<div class="event_small_info">
  <div class="name">
    <a href="{% url event_view event.slug %}">
      {{ event.name }}
    </a>
  </div>
  <div class="start_time">
    <p>
      {{ event.start_time }}
    </p>
  </div>
  <div class="misc_notes">
    <p>
      {{ event.misc_notes }}
    </p>
  </div>
{% comment %}
  <div class="tags">
    <p>
      {{ event.tags }}
    </p>
  </div>
{% endcomment %}
</div>
{% endif %}
