{% load cropping %}
{% if event != null %}
<li>    
    <div class="entry-img-prev">
        {% if event.picture %}
            <img src="{% cropped_thumbnail event "cropping" width=100 %}" alt="">
        {% else %}
            <img src="{{STATIC_URL}}images/default-event.jpg" height="100px" weight="100px">
        {% endif %}
    </div>
    <a href="{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}" class="text">{{ event.name }}</a>
    <ul>
        {% load date_formatting %}
        <li>
            {{ event.start_time|contextualize_date }}{% if event.end_time %} &mdash; {{ event.end_time|just_time_levi_is_a_good_designer }}{% endif %}
        </li>
        <li>{{ event.venue }}</li>
        <li>{{ event.price }}</li>
    
    </ul>
    {% if citi_user_events %}
        <a class="edit" href="{% url 'event_edit' authentication_key=event.authentication_key %}">(Edit this event)</a>
    {% else %}
        <a href="{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}" class="row"></a>
    {% endif %}
</li>
<br/>
{% endif %}