{% extends 'base-new.html' %}
{% load date_formatting %}
{% load cropping %}

{% block head %}
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/modal.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/featured/setup.css" rel="stylesheet" type="text/css" />
    
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js"></script>
    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/featured/setup-page.js" type="text/javascript"></script>
    
    <!--script src="{{ STATIC_URL }}js/prprofile.js" type="text/javascript"></script-->
{% endblock %}

{% block page %}
    <div class="primary-content">
        <h1>
            Featured Events
            <span class="right">
                $2.00/Day
            </span>
        </h1>
        <div class="content featured-setup">
            {%if form.errors %}
                <div class="errors" style="border:1px solid RED;border-radius:4px;">
                    <ul style="list-style-type: none;">
                        <li id="all-info">
                            {% for error in form.non_field_errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% endif %}

            <form method="post" name="featured-events-setup" >
                {% csrf_token %}
                <table class="datetime-table">
                    <tr>
                        <td>
                            Start Date:
                        </td>
                        <td>
                            <a href="javascript:void;" class="balloon">
                                <div class="buttonq"></div>
                            </a>
                            <div class="balloon-content">
                                <h3>
                                    Help - Featured Events
                                    <i>[Start Date, End Date]:</i>
                                </h3>
                                <p>
                                    Pick your dates and times
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="date dropdown">                                
                                {{ form.start_time }}
                            </div>
                        </td>
                        <td class="space">&nbsp;</td>
                        <td>
                            End Date:
                        </td>
                        <td>
                            <div class="date dropdown">
                                {{ form.end_time }}
                            </div>
                        </td>
                        <td class="space">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            Days to display:
                        </td>
                        <td>
                            <a href="javascript:void;" class="balloon">
                                <div class="buttonq"></div>
                            </a>
                            <div class="balloon-content">
                                <h3>
                                    Help - Featured Events
                                    <i>[Days to display]:</i>
                                </h3>
                                <p>
                                    Pick days to display
                                </p>
                            </div>
                        </td>
                        <td>
                            <input id="days_to_display" type="text" name="days_to_display" value="15">
                        </td>
                        <td colspan="4" class="long">
                            <!-- TODO: change text -->
                            Enter the amount of day event will be featured
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>

                <div class="choose-province-block">
                    <header>Select province/territory to show your <b>featured event (choices)</b></header>
                    <div class="options">
                        <div class="teritory-node">
                            <div class="checkbox">
                                <input {% if form.all_of_canada.value %}checked="checked"{% endif %} type="checkbox" id="id_all_of_canada" value="true" name="all_of_canada" />
                                <label for="id_all_of_canada"></label>
                                <label for="id_all_of_canada">All of Canada</label>
                            </div>
                        </div>
                        {% for region in form.fields.regions.queryset %}
                        <div class="teritory-node region">
                            <div class="checkbox">
                                <input {% for current_region in form.regions.value %}{% if region.pk = current_region|add:0 %}checked="checked"{% endif %}{% endfor %} type="checkbox" id="id_regions_{{ forloop.counter0 }}" value="{{ region.id }}" name="regions" />
                                <label for="id_regions_{{ forloop.counter0 }}"></label>
                                <label for="id_regions_{{ forloop.counter0 }}">
                                    {{ region.name }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="clr"></div>
                    </div>
                </div>

                <div class="pay-now-header">
                    Pay Now With
                </div>
                <div class="pay-now-widget">
                     <div class="info">
                        <input type="hidden" value="2" id="id_day_cost">
                        <table class="taxes">
                            {% if account_taxes %}
                                {% for tax in account_taxes %}
                                    <tr class="tax-row">
                                        <td>
                                            <input type="hidden" value="{{ tax.tax }}" class="tax-input">
                                            {{ tax.name }} ({{ tax.pretty_tax }}%):
                                        </td>
                                        <td>
                                            C$<span class="tax-price">
                                                0
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr class="total-price-row">
                                <td>
                                    Total:
                                </td>
                                <td>
                                    C$<span class="total-price-output">
                                        0
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="choose-payment-system">
                        <table>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="payment_paypal_id" type="radio" name="payment_system" value="paypal" checked="checked" >
                                        <label for="payment_paypal_id"></label>
                                        <label for="payment_paypal_id">
                                            <img src="{{ STATIC_URL }}/images/featured/paypal.png"/>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox disabled">
                                        <input id="payment_visa_id" type="radio" name="payment_system" value="visa" disabled>
                                        <label for="payment_visa_id"></label>
                                        <label for="payment_visa_id">
                                            <img src="{{ STATIC_URL }}/images/featured/visa.png"/>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox disabled">
                                        <input id="payment_email_money_id" type="radio" name="payment_system" value="email_money_transfer" disabled>
                                        <label for="payment_email_money_id"></label>
                                        <label for="payment_email_money_id">
                                            <img src="{{ STATIC_URL }}/images/featured/email_money_transfer.png"/>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox disabled">
                                        <input id="payment_master_card_id" type="radio" name="payment_system" value="master_card" disabled>
                                        <label for="payment_master_card_id"></label>
                                        <label for="payment_master_card_id">
                                            <img src="{{ STATIC_URL }}/images/featured/master_card.png"/>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="pay-now-footer">
                    <input type="submit" name="submitoptions" class="button standart submit" value="Save">
                </div>    
            </form>
        </div>

        <div class="tabs-container">
            <ul class="tabs" data-page-id="featured-event-setup">                    
                <li data-tab-id="venue-featured-stats" class="current">
                    <span>Featured Stats</span>
                </li>
            </ul>                
            <div class="box visible">
                {% include 'venue_accounts/_venue_featured_stats_table.html' %}
            </div>
        </div>
    </div>
{% endblock %}