Django==1.5.4
Pillow==2.1.0
South==0.8.4
django-registration==0.7
django-taggit==0.9.3
wsgiref==0.1.2
django-cities
django-image-cropping
simplejson==1.9.3
twilio
django-money
py-moneyed
django-localflavor==1.0
django-selectable
django-userena
easy-thumbnails
django-guardian
django_facebook==5.3.1
django-celery
djorm-ext-pgfulltext
psycopg2
django_filter
nltk
python-dateutil < 2.0
BeautifulSoup==3.2.0
gunicorn
django-configurations==0.3
-e git+https://github.com/h3/django-pdfutils.git@357be58ab1d036570196fdf89528e9834a870285#egg=PDFutils
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django_toolbar
wadofstuff-django-serializers==1.1.0

poster==0.8.1

cssmin
