#id_start_time_1 {
  width: 30px;
}
#id_end_time_1 {
  width: 30px;
}
body .ui-autocomplete-input {
  background:#fff;
}
#id_frequency {
  padding: 4px;
  border-radius: 4px;
  background: white;
  border: #E3E3E3 solid thin;
}
SPAN.tagMatches {
  margin-left: 10px;
}

SPAN.tagMatches SPAN {
  padding: 2px;
  margin-right: 4px;
  background-color: #0000AB;
  color: #fff;
  cursor: pointer;
  background: url(/static/images/blue.png);
}

.venue-account-owner-dropdown {
  font-size: 13px;
}

.venue-account-owner-dropdown:after {
  right: 7px;
  top: 7px;
}

.venue-account-owner-dropdown .dropdown-label {
  color: #000;

}

.venue-account-owner-dropdown-list {
  width: 282px;

}


.venue-account-owner-dropdown-list .dropdown-child {
  height: 15px;
  padding: 10px;
}