#id_start_time_1 {
  width: 30px;
}
#id_end_time_1 {
  width: 30px;
}
body .ui-autocomplete-input {
  background:#fff;
}
#id_frequency {
  padding: 4px;
  border-radius: 4px;
  background: white;
  border: #E3E3E3 solid thin;
}
SPAN.tagMatches {
  margin-left: 10px;
}

SPAN.tagMatches SPAN {
  padding: 2px;
  margin-right: 4px;
  background-color: #0000AB;
  color: #fff;
  cursor: pointer;
  background: url(/static/images/blue.png);
}

.choose_location {
  width:24px;
  height:24px;
  background: url('/static/images/map.png') no-repeat;
  cursor: pointer;
  display: inline-block;
  margin-left:20px;
  padding-top:5px;
  position:relative;
  top:10px;
}

.location_map {
  position:absolute;
  display:none;
  padding:10px;
  border:1px solid #d8d8d8;
  background: #fff;
  margin-top:5px;
}

