@charset "utf-8";
/* CSS Document */
body
{
	margin:0px;
	background:#e3e3e3 url(/static/images/header-bg.png) repeat-x;
	font:12px Arial, Helvetica, sans-serif;
}

.wrapper
{
	width:auto;
	text-align:center;
}

.page-container
{
	width:1024px;
	margin: 0px auto;
	text-align:left;
	background: #fff;
	padding-bottom: 10px;
}

.logo
{
	float:left;
	margin-top: 10px;
}

.header
{
	height:155px;
	width:auto;
	background:url(/static/images/header-bg.png) repeat-x;
}

.primary-header
{
	width:auto;
	height: 110px;
}

.sign-up-wrapper-top
{
	width:288px;
	min-height:60px;
	background:url(/static/images/login-bg.png) no-repeat;
	float:right;
}

.sign-up-and-facebook
{
	width:auto;
	padding:7px 15px;
	color:#797979;
	text-decoration:none;
}

.sign-up-and-facebook a
{
	color:#797979;
	text-decoration:none;
}

.sign-up-and-facebook img
{
	margin-left:18px;
}

.post-events-for-free
{
	padding-top:30px;
}

.menu-wrapper ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.menu-wrapper ul li
{
	float:left;
}

.menu-wrapper ul li a
{
	display:block;
	font:15px Arial, Helvetica, sans-serif;
	color:#454545;
	text-decoration:none;
	padding:11px 19.5px;
}

.menu-wrapper ul li a:hover
{
	background: url(/static/images/active-menu-bg.png) repeat-x;
	color:#fff;
	border-right:1px solid #022e52 !important;
}

.menu-wrapper ul li.addBorderRight a
{
	border-right:1px solid #ccc;
}

.main-menu
{
	float:left;
}

.location-wrapper
{
	float: right;
}

.location-wrapper .location-label
{
	padding: 11px 0px 11px 15px;
	font-size:15px;
	color:#454545;
	float:left;
}

.location-wrapper .search-label
{
	padding:11px 5px 11px 11px;
	font-size:15px;
	color:#454545;
	float:left;
}

.location-selection-wrapper
{
	float:left;
	position:relative;
}

.location-selection-wrapper:hover .search-lists
{
	display:block;
}

.search-selection-wrapper
{
	float:left;
}

.location-text-box
{
	padding:7px 10px;
	margin: 1px 3px;
	background:#fff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ddd;
}

.search-text-box
{
	padding:7px 50px 7px 10px;
	margin: 1px 3px;
	background:#fff url(/static/images/search-icon.png) right no-repeat;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ccc;
	position:relative;
}
.search-events-text-box input.search
{
	border:0;
	width:345px;
	background:none;
	color:#454545;
	float:left;	
}

.search-events-text-box
{
	padding:10px 80px 7px 10px;
	margin-top:3px;	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:#e3e3e3 solid thin;
	background:#fff url(/static/images/search-icon-blue.png) right no-repeat;
}
.search-submission-events{
	width:60px;
	height:30px;
	position:absolute;
	cursor:pointer;
	margin-left:360px;
}
.location-text-box input.location
{
	border:0;
	width:175px;
	background:none;
	color:#454545;
}

.search-text-box input.search
{
	border:0;
	width:220px;
	background:none;
	color:#454545;
	float:left;
}

.search-submission
{
	width:50px;
	height:31px;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
}

.search-lists
{
	position:absolute;
	top:30px;
	background:#fff;
	left:3px;
	width:195px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding-top:10px;
	padding-bottom:20px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-radius-bottomleft:6px;
	-webkit-border-radius-bottomright:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	display:none;
	z-index:11;
}

.search-lists ul
{
	list-style:none;
	margin:0px;
	padding:0px 0px !important;
	font-size:12px !important;
}

.search-lists ul li
{
	width:100%;
}

.search-lists ul h3
{
	margin:0px;
	padding:8px 15px;
	background:#e7e7e7;
	color:#247cc3;
	font-size:12px;
	font-weight:bold;
}

.search-lists ul li a
{
	border:0px !important;
	padding:5px 15px !important;
	font-size:12px !important;
}

.search-lists ul li a:hover
{
	background:#fff5e5;
	border:0px !important;
	color:#454545;
}

.content-wrapper
{
	width:auto;
}

.content-wrapper-panel
{
	padding: 15px 0px;
}

.featured-area
{
	width:1024px;
	background:#022E52;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px 0px 10px 10px;
	color:#fff;
	margin: 0 auto;
}

.featured-area h2
{
	margin:0px;
	padding:10px 0px 10px;
	font-size:20px;
	font-weight:bold;
}

.features-wrapper
{
	width:auto;
	min-height: 161px;
}

.features
{
	float:left;
	margin-right:5px;
	position:relative;
}

.featured-img-wrapper
{
	width:auto;
}

.featured-img-wrapper img
{
	border: 4px solid #eee;
	width: 154px;
	height: 153px;
}

.featured-img-details
{
	position:absolute;
	left:4px;
	bottom:4px;
	width:154px;
	background:url(/static/images/featured-img-details-bg.png) repeat;
}

.featured-img-details-wrapper
{
	width:auto;
	padding:3px 5px;
	font-size:10px;
}

.featured-title a
{
	font-weight:bold;
	color:#eb8a19;
	text-decoration:none;
}

.featured-title a:hover
{
	text-decoration:underline;
}

.featured-date
{
	color:#fff;
	text-decoration:none;
}

.featured-details-link a
{
	color:#247cc3;
	text-decoration:none;
}

.featured-details-link a:hover
{
	text-decoration:underline;
}

.main-content-wrapper {
	width:auto;
	padding: 30px 15px 0px;
}

.main-content-wrapper h1 {
	margin:0px;
	padding:0px 0px 10px;
	font-size:20px;
	color:#022e52;
}
.main-content-wrapper .orange
{
	color:#ff9e00;
}


.menu-wrapper {
	width:1024px;
}

.main-content
{
	width:auto;
	margin-bottom: 20px;
}

.main-navigation-content-nav
{
	float:right;
	width:466px;
}

.main-navigation-content-nav-wrapper
{
	padding-top:20px;
}

.schedule-bar
{
	padding-right:3px;
}

.schedule-bar-wrapper
{
	border:1px solid #ddd;
	padding-left:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:url(/static/images/schedule-main-bg.png) repeat-x;
}


.schedule-bar-wrapper .pop-up-wrapper
{
	z-index:11;
	position:absolute;
	left:-15px;
	top:22px;
	display:none;
}

.schedule-bar-wrapper .pop-up-wrapper-container
{
	width:344px;
	height:186px;
	border:1px solid #ffa107;
	background:#FFF;

	position:relative;
	opacity: 0.9;
}

.schedule-bar-wrapper .pop-up-wrapper-container .pop-up-arrow-left a
{
	width:20px;
	height:20px;
	position:absolute;
	left:10px;
	top:45%;
	z-index:12;
	background:url(/static/images/pop-up-arrow-left.png) no-repeat;
	border:0 !important;
}

.schedule-bar-wrapper .pop-up-wrapper-container .pop-up-arrow-right a
{
	width:20px;
	height:20px;
	position:absolute;
	right:10px;
	top:45%;
	z-index:12;
	background:url(/static/images/pop-up-arrow-right.png) no-repeat;
	border:0 !important;
	padding:0px !important;
	margin:0px !important;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents
{
	width:auto;
	padding:20px 25px 20px 35px;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents .pop-featured-img 
{
	float:left;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents .pop-featured-img a
{
	margin:0 !important;
	padding:0 !important;
	border:0;
	background:none !important;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents .pop-featured-img img
{
	background:#fff;
	padding:5px;
	border:1px solid #ccc;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents .pop-featured-details
{
	float:left;
	margin-left:10px;
	width:173px;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents .pop-featured-details .infos
{
	color:#333;
	padding-top:10px;
}

.schedule-bar-wrapper .pop-up-wrapper-container .contents .pop-featured-details .infos .location
{
	padding-top:10px;
}

.schedule-bar-wrapper .pop-up-wrapper-container .social-links
{
	text-align:center;
}

.schedule-bar-wrapper .pop-up-wrapper-container .social-links a
{
	border:0px !important;
	padding:0px !important;
	margin:0px !important;
	display:inline-block !important;
	background:none !important;
}

.schedule-bar-wrapper .pop-up-pointer
{
	height:9px;
	background:url(/static/images/pop-up-pointer.png) left no-repeat;
}

.schedule-bar-wrapper ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.schedule-bar-wrapper ul li:hover .pop-up-wrapper
{
	display:block;
}

.schedule-bar-wrapper ul li
{
	float:left;
	margin-top:3px;
	margin-bottom:3px;
	position:relative;
}
.schedule-bar-wrapper ul li input
{
	
	display:block;
	color:#454545;
	font-weight:bold;
	text-decoration:none;
	padding:3px 12px;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ddd;
	
}
.schedule-bar-wrapper ul li a
{
	display:block;
	color:#454545;
	font-weight:bold;
	text-decoration:none;
	padding:3px 12px;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ddd;
}

.schedule-bar-wrapper ul li a:hover,
.schedule-bar-wrapper ul li a.active
{
	background:#ffa107;
	color:#fff;
	border:1px solid #ffa107;
}

/*browse events css*/

#search_result{
	padding-top:50px;
}

.result-entry-info{
	background-color:#f6f6f6;
	margin:5px;
	padding:5px;
}
.result-entry-info a{
	text-decoration:none;
	color:#0066cc;
}
.result-entry-info a:hover{
	text-decoration:none;
	color:#ff9e00;
}
.entry-wrapper
{
	width:466px;
	padding-left:15px;
	padding-top:20px;
	text-align: left !important;
}

.entry-img-prev
{
	float:left;
	border:#CCC solid thin;
	padding:3px;
}
.entry-img-prev a:hover
{
	opacity:0.5;
}

.entry-details-wrapper
{
    color: #454545;
    margin:2px 2px 2px 15px;
/*    width: 340px;*/
	float:left;
}

.entry-details-wrapper .title-wrapper
{
	padding-bottom:5px;
	border-bottom:1px solid #ddd;
}

.entry-details-wrapper .title-wrapper .title
{
	float:left;
	font-weight:bold;
	color:#0066cc;
	font-size:15px;
}

.entry-details-wrapper .title-wrapper .price
{
	float:right;
	font-weight:bold;
	color:#ffa107;
	font-size:15px;
}

.entry-date-wrapper
{
	color:#0066cc;
	padding-top:5px;
}

.entry-description
{
	color:#454545;
	padding-top:10px;
}

.details-events-view{
	color:#0260bb;
	font-weight:bold;
	font-size:15px;
	padding-left:40px;
}
/* details events popup */


/*start login popup login*/

.login-entry-info .pop-up-wrapper
{
	z-index:11;
	position:absolute;
	left:-20px;
	top:15px;
	display:none;
}
.login-entry-info .pop-up-wrapper-container
{
	width:350px;
	height:220px;
	border:1px solid #41c3ff;
	position:relative;
	background-color:#FFF;
}
.login-entry-info .pop-up-wrapper-container .contents
{
	width:auto;
	padding:20px 10px 10px 20px;
}

.login-entry-info .pop-up-wrapper-container .contents .pop-featured-details
{
	float:left;
	margin-left:5px;
	width:220px;
	color:#0066cb;
}

.login-entry-info .pop-up-pointer
{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #3dc1ff;
	width:0;
	height:0;
	margin-left:30px;
	display:block;
}
.login-entry-info .space{
	width:60px;
	float:left;
}
.login-entry-info ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.login-entry-info ul li:hover .pop-up-wrapper
{
	display:block;
}
.login-entry-info ul li
{
	float:left;
	position:relative;
}
.login-entry-info ul li a
{
	color:#454545;
	text-decoration:none;
}

.login-entry-info ul li a:hover
{
	color:#0066cc;
	font-weight:bold;
}
/*end login popu login*/


/* zoom picture */
.dg-picture-zoom{
	/*cursor : url(/static/images/magnify-plus.cur), pointer !important;*/
	cursor: url(/static/images/magnify-plus.png), pointer !important;;
}
.dg-picture-zoom-large{
	cursor : url(/static/images/magnify-minus.png), pointer !important;

}
.dg-picture-zoom-border-container{
    border : 2px solid #FFF;
    background-color: #FFF;
    margin-left:-7px;
    margin-top:-7px;
    padding:7px;
    box-shadow:10px 10px 20px #000000;
    border-radius: 5px;
}
/*end zoom*/

.auctions-wrapper
{
	padding-top:10px;
}

.auctions-wrapper ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.auctions-wrapper ul li
{
	padding:3px 3px 3px 0px;
	border-bottom:1px solid #ddd;
}

.auctions-wrapper ul li a
{
	color:#0260bb;
	text-decoration:none;
	font-weight:bold;
}

.auctions-wrapper ul li a img
{
	margin-right:4px;
}

.entry-navigation-np
{
	padding-top:20px;
	text-align:center;
	padding-bottom:20px;
}

.entry-navigation-np img
{
	margin: 0 10px;
}

.footer-wrapper
{
	width:auto;
	text-align:center;
}

.footer-container
{
	width:1024px;
	margin:0px auto;
	text-align:left;
}

.footer-ads-wrapper
{
	width:auto;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
}

.footer-site-links
{
	width:auto;
	padding:20px 0px;
	background:#022E52;
	text-align:center;
}

.copyright
{
	float:left;
	font-size:14px;
	color:#fff;
}

.footer-site-map
{
	float:right;
}

.footer-site-map ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.footer-site-map ul li
{
	display:inline-block;
	padding:0px 10px;
}

.footer-site-map ul li a
{
	display:inline-block;
	color:#fff;
	text-decoration:none;
	font-size:14px;
}

.footer-site-map ul li a:hover
{
	text-decoration:underline;
	color:#ff9e00;
}

.add-border-right-white
{
	border-right:1px solid #fff;
}

a img {
	border: 0px;
}

a {
	outline:none;
}

.inputfield{
	width:262px;
	height:25px;
	line-height:25px;
	padding:2px 10px;
	margin-left:10px;
}
.textarea{
	padding:10px 10px;
	margin-left:10px;
}
.rborder{
	border:#e3e3e3 solid thin;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}
.btnbg{
	background: url(/static/images/btn_bg.png) repeat-x;
	cursor:pointer;
}

.tags{
	padding-left:25px;
	font-size:11px;
	color:#eb8a19;
	background:url(/static/images/tag_icon.png) left no-repeat;
}

#hintbox{ 
	/*CSS for pop up hint box */
	position: absolute;
	background-color: #f7f7f7;
	width: 230px; /*Default width of hint.*/ 
	border:1px solid #d6d6d6;
	font-size: 11px;
	font-weight:normal;
	line-height:14px;
	z-index:100;
	visibility: hidden;
	color:#454545;
	}
	
.hintanchor{ /*CSS for link that shows hint onmouseover*/
	font-weight: bold;
	color: #000000;
	margin: 3px 8px;
}

#hintbox h3{
	background-color:#e3e3e3;
	height:19px;
	padding: 5px 0 0 10px;
}
#hintbox p {
	padding: 5px 10px 10px 10px;
}
.buttonq{
	background: url(/static/images/question.png) no-repeat;
	height: 25px;
	width: 25px;
}
.buttonq:hover{
	background: url(/static/images/question_hover.png) no-repeat;
	height: 25px;
}
.clr{
	clear: both;
}

.messages {
	display: none;
}