.hidden {
	display:none;
}
.when-deck {
	width:700px;
	border:1px solid #CCC;
	padding:10px 5px;
	background:#fff;
	display:none;
	position:absolute;
	margin-top:10px;
	z-index:1;
	padding-bottom: 50px;
}

.when-deck .error {
	color:red;
	margin-bottom:10px;
	display:none;	
}

.when-deck .reset-button,.when-deck .close-button {
	font-size:1.3em;
	padding:5px 10px;
	position:absolute;
	right:10px;
	bottom:5px;
	background: #efefef;
	border: 1px solid #e6e6e6;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.when-deck .reset-button {
	right:80px;
}

.ui-state-disabled {
	color: #ccc;
}

.months-container {
	max-height: 400px;
	overflow: auto;
}

.month-container{
	min-height: 200px;	
}

.month-picker {
	position: absolute;
	left:10px;
	bottom:10px;
	width:179px;
	height: 20px;
	line-height:20px;
	background: #eaeaea;
	vertical-align:middle;
	margin-top:5px;
	padding: 0 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.month-picker .ui-datepicker{
	top: -215px !important;	
}

.month-picker{
	cursor: pointer;
}
.month-picker .wrapper {
	text-align:left;
}

.month-picker span{

}

.month-picker .new-month-select-arrow {
	width:15px;
	height:10px;
	margin-top:5px;
	display:inline-block;
	float:right;
	background: url("/static/images/arrow-down.png") center center no-repeat;
	cursor: pointer;
}

.monthpicker + div {
	margin-top:30px	
}

.mtz-monthpicker-month {
	border:1px solid #ccc !important;
}

.ui-datepicker-div {
	float:right;
}

.month-and-days-wrapper {
	display:inline-block;
	margin-right:20px;
	width:190px;
	min-height: 200px;
}

.days-time-picker {
	display:inline-block;
}

.days-time-picker {
	vertical-align: top;
	color: #484848;
}

.dtp-labels {
	display:none;
	margin-top:40px;
	margin-right:10px;
	font-size:1.1em;
	line-height:20px;
}
.dtp-labels.active{
	display:inline-block;
}

.days-container {
	display:inline-block;
	vertical-align: top;
	margin-top:5px;
	white-space: nowrap;
	width: 400px;
	overflow-x: auto;
	padding-bottom: 10px;
}

.day-value {
	width:35px;
	height: 30px;
	padding-top: 5px;
	text-align:center;
	vertical-align:middle;
	font-size:1.5em;
	line-height:1.5em;
	font-weight:bold;
	background: #247cc3;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom:10px;
	margin-left: 11px;
	color: #fff;
}

.my-time-picker {
	display:inline-block;
	margin-right:10px;
	text-align:center;
}

.my-time-picker input{
	width: 50px;
	height: 16px;
	margin: 13px 0;
	padding: 2px 4px;
	display: block;
	border: none;
	background: #247cc3;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	COLOR: #FFF;
}

.my-time-picker .checkbox.autofill{
	width:17px;
	height:17px;
	border:1px solid #CCC;
	background: #247cc3;
	margin-left:20px;
}
.my-time-picker .remove {
	width:16px;
	height:16px;
	margin-left:21px;
	margin-top:5px;
	background:url("/static/styles/images/remove-icon.png") center center no-repeat;
	cursor: pointer;
}

.multi-select-mode-wrapper {
	height:24px;
}

.multi-select-mode-wrapper .remove{
	display:inline-block;
	float:right;
	width:16px;
	height:24px;
	background:url("/static/styles/images/remove-icon.png") center center no-repeat;	
	cursor: pointer;

}

.my-time-picker .checkbox.autofill.checked{
	background: #247cc3 url("/static/images/checked.png") center center no-repeat;
}

.multi-select-mode-wrapper span{
	position:relative;
	top:-3px;
}

.hidden-arrows .ui-datepicker .ui-datepicker-prev, .hidden-arrows .ui-datepicker .ui-datepicker-next {
	display:none;

}