{% load date_formatting %}
{% load endless %}
{% load cropping %}
{% load event_tags %}


{% paginate 6 venue_events %}
<div class="account-entry-wrapper entry-wrapper">
{% for event in venue_events %}    
    <div class="entry-info {% if private %}with-actions{% endif %}{% if event.is_featured %} featured{% endif %}">
        <div class="entry-img-prev">
            {% if event.picture %}
                <img src="{% cropped_thumbnail event "cropping" width=60 %}" height="60px" weight="60px">
            {% else %}
                <img src="{{STATIC_URL}}images/default-event.jpg" height="60px" weight="60px">
            {% endif %}
        </div>
        <div class="entry-details-wrapper">                                  
            <div class="title">
                <a href="{% url 'event_view' event.slug %}">
                    {{event.name}}&nbsp;
                </a>                    
            </div>
            <div class="entry-date">
                {{event.nearest_start_time|date:"l, F d, Y"}}
                <span class="delimeter">|</span>
                {{event.nearest_start_time|just_time}} - {{event.nearest_end_time|just_time}}
            </div>
            <div class="entry-description">                    
                {{ event.venue.name }}, {{ event.venue.street }}, {{ event.venue.city.name_std }}
            </div>                
        </div>
        <div class="auctions-wrapper">
            <div class="auctions-content">
                <div class="auctions-img-prev">
                    {% if event.picture %}
                        <img src="{% cropped_thumbnail event "cropping" width=87 %}" height="87px" weight="87px">
                    {% else %}
                        <img src="{{STATIC_URL}}images/default-event.jpg" height="87px" weight="87px">
                    {% endif %}
                </div>
                <div class="auctions-details-wrapper">
                    <div class="title">
                        {{event.name}}&nbsp;
                    </div>
                    <div class="entry-date">
                        {{event.nearest_start_time|date:"l, F d, Y"}}
                        <br>
                        {{event.nearest_start_time|contextualize_date}} - {{event.nearest_end_time|just_time}}                                
                    </div>
                    <div class="auctions-additional">
                        {{ event.venue.name }}
                    </div>
                </div>
                <div class="auctions-actions"> 
                    {% if event.tickets %}                       
                        <a href="{% if_url event.tickets event.tickets "javascript:void;" %}" class="button">
                            Buy Tickets
                        </a>
                        <div class="tickets-popup">
                            <b>{{event.tickets}}</b>
                        </div>
                    {% endif %}                    
                    
                    <div class="remind-me-wrapper">
                        <a href="javascript:void()"  class="action-remind-me button" data-event-id="{{ event.id }}">
                            Remind Me                                
                        </a>
                        {% remind_me_popup event %}
                    </div>
                    <div class="in-the-loop-wrapper">
                        <a href="javascript:void()" class="button action-in-the-loop">
                            In the Loop
                        </a>
                        {% in_the_loop_popup event %}
                    </div>                        
                    <div href="http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug %}" class="fb-like" data-href="http://{{ request.META.HTTP_HOST }}{% url 'event_view' event.slug %}" data-send="false" data-layout="button_count" data-width="20" data-show-faces="false" data-font="arial"></div>
                </div>
            </div>
        </div>

        {% if private %}
            <div class="event-edit-actions">
                <a href="{% url 'event_edit' event.authentication_key %}" class="edit-action">
                    Edit
                </a>
                <a href="{% url 'event_remove' event.authentication_key %}" class="delete-action danger-action">
                    Delete
                </a>
                {% if not event.is_featured %}
                    <a href="{% url 'event_setup_featured' event.authentication_key %}" class="make-featured-action">
                        Make Featured Event
                    </a>
                {% endif %}                
            </div>
        {% endif %}        
        <div class="clr"></div>
    </div>
{%endfor%}
</div>

<div class="entry-navigation-np">
    <p>
        <ul>
            {% get_pages %} 

            <span class="step-links">
                {% if not pages.current.is_first %}                    
                    <a href="{{ pages.previous.url }}">
                        <img src="{{STATIC_URL}}images/entry-prev.png">
                    </a>
                {% endif %}

                {% if not pages.current.is_last %}                
                    <a href="{{ pages.next.url }}">
                        <img src="{{STATIC_URL}}images/entry-next.png">
                    </a>
                {% endif %}                
            </span>
        </ul>
    </p>
</div>