{% load date_formatting %}
{% load endless %}
{% load cropping %}
{% load event_tags %}

{% paginate 6 venue_archived_events %}
<div class="account-entry-wrapper entry-wrapper">
{% for event in venue_archived_events %}    
    <div class="entry-info with-delete-action">
        <div class="entry-img-prev">
            {% if event.picture %}
                <img src="{% cropped_thumbnail event.base "cropping" width=60 %}" height="60px" weight="60px">
            {% else %}
                <img src="{{STATIC_URL}}images/default-event.jpg" height="60px" weight="60px">
            {% endif %}
        </div>
        <div class="entry-details-wrapper">
            <div class="title">
                <a href="{% url 'event_view' event.slug event.start_time|date:"Y-m-d" %}">
                    {{event.name}}&nbsp;
                </a>                    
            </div>
            <div class="entry-date">
                {{event.start_time|date:"l, F d, Y"}}
                <span class="delimeter">|</span>
                {{event.start_time|just_time}} - {{event.end_time|just_time}}
            </div>
            <div class="entry-description">                    
                {{ event.venue.name }}, {% if event.venue.street %}{{ event.venue.street }}, {% endif %}{{ event.venue.city.name_std }}
            </div>                
        </div>

        <div class="event-edit-actions">            
            <a href="{% url 'event_copy' event.authentication_key %}">
                Copy
            </a>
        </div>

        <div class="clr"></div>
    </div>
{% empty %}
    <p>
        Archive is empty
    </p>
{%endfor%}
</div>

<div class="entry-navigation-np">
    <p>
        <ul>
            {% get_pages %} 

            <span class="step-links">
                {% if not pages.current.is_first %}                    
                    <a href="{{ pages.previous.url }}">
                        <img src="{{STATIC_URL}}images/entry-prev.png">
                    </a>
                {% endif %}

                {% if not pages.current.is_last %}                
                    <a href="{{ pages.next.url }}">
                        <img src="{{STATIC_URL}}images/entry-next.png">
                    </a>
                {% endif %}
            </span>
        </ul>
    </p>
</div>