{% extends 'base.html' %}
{% load date_formatting %}
{% load cropping %}

{% block head %}
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}ajaxuploader/css/fileuploader.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}image_cropping/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/place_autocomplete.css" rel="stylesheet" type="text/css" />

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
    
    <script src="{{STATIC_URL}}selectable/js/jquery.dj.selectable.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/location/jquery.geocomplete.js"></script>

    <script type="text/javascript">
        var crsf_token = "{{ csrf_token }}";
    </script>

    <script src="{{STATIC_URL}}js/location/suggest_cityfusion_venue.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/accounts/create-venue-page.js" type="text/javascript" ></script>
    {{ form.media.js }}
{% endblock %}


{% block title %} 
    &gt; Browse 
    {% if page_date != "flow" %}&gt; {{page_date|slug_to_title }}{% endif %}
{% endblock %}


{% block page %}
    <div class="primary-content">
        <h1>
            Create new venue account
        </h1>
        <div class="content account-profile">
            <div class="main-content account-profile">
                <div class="account-details">
                    {%if form.errors %}
                        <div class="errors" style="border:1px solid RED;border-radius:4px;">
                            <ul style="list-style-type: none;">
                                <li id="all-info">
                                    {% for error in form.non_field_errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.venue_name.errors %}
                                    <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.phone.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.fax.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.email.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.site.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.facebook.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.twitter.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.myspace.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.picture_src.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.types.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.about.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <form method="post" name="reminder-options" >
                        {% csrf_token %}
                        <table class="edit-contact-info-table options options-white">
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/map.png"/>
                                </td>
                                <td>
                                    Venue:
                                </td>
                                <td class="place-td">
                                    {{ form.place }}
                                    <a href="javascript:void;" class="show-map">show on map</a> 
                                    <div>
                                        <div class="location_map">{{form.location}}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="edit-contact-info-table-second-td">
                                    Venue name:
                                </td>
                                <td>
                                    {{ form.venue_name }}
                                    {{ form.venue_identifier }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    Street:
                                </td>
                                <td>
                                    {{ form.street }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    Street number:
                                </td>
                                <td>
                                    {{ form.street_number }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    City:
                                </td>
                                <td>
                                    {{ form.city }}
                                    {{ form.city_identifier }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/phone-profile_icon.png"/>
                                </td>
                                <td>
                                    Phone:
                                </td>
                                <td>
                                    {{ form.phone }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/fax_profile_icon.png"/>
                                </td>
                                <td>
                                    Fax:
                                </td>
                                <td>
                                    {{ form.fax }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/email_profile_icon.png"/>
                                </td>
                                <td>
                                    Email:
                                </td>
                                <td>
                                    {{ form.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/website_profile_icon.png"/>
                                </td>
                                <td>
                                    Website:
                                </td>
                                <td>
                                    {{ form.site }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/fb_profile_icon.png"/>
                                </td>
                                <td>
                                    Facebook:
                                </td>
                                <td>
                                    {{ form.facebook }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/twitter.png"/>
                                </td>
                                <td>
                                    Twitter:
                                </td>
                                <td>
                                    {{ form.twitter }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/myspace_profile_icon.png"/>
                                </td>
                                <td>
                                    Myspace:
                                </td>
                                <td>
                                    {{ form.myspace }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td class="top">
                                    About us:
                                </td>
                                <td>
                                    {{ form.about }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td class="top">
                                    Venue type:
                                </td>
                                <td>
                                    {% for pk, choice in form.fields.types.widget.choices %}
                                        <div class="checkbox block">
                                            <input {% for venue_type in venue_account.types.all %}{% if venue_type.pk == pk %}checked="checked"{% endif %}{% endfor %} type="checkbox" id="id_types_{{ forloop.counter0 }}" value="{{ pk }}" name="types" />
                                            <label for="id_types_{{ forloop.counter0 }}"></label>
                                            <label for="id_types_{{ forloop.counter0 }}">{{ choice }}</label>
                                        </div>
                                    {% endfor %} 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td class="top">
                                    Picture:
                                </td>
                                <td>
                                    {{ form.picture_src }}
                                    <div class='full-screen-popup' data-thumb-width="180" data-thumb-height="180">
                                        {{ form.cropping }}
                                        <div class='save-button'>Save image</div>
                                        <div class='cancel-button'>Cancel</div>
                                    </div>
                                    <div class="picture-thumb">
                                        <img src="" class="preview">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <input type="submit" name="submitoptions" class="button standart submit" value="Save" />
                    </form>
                </div>

                <div class="clr"></div>
            </div>
        </div>
    </div>
{% endblock %}
