{% extends 'base-new.html' %}
{% load date_formatting %}
{% load cropping %}

{% block head %}
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link href="{{STATIC_URL}}ajaxuploader/css/fileuploader.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}image_cropping/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/crop.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript">
        var crsf_token = "{{ csrf_token }}";
    </script>
    {{ form.media.js }}
{% endblock %}


{% block title %} 
    &gt; Browse 
    {% if page_date != "flow" %}&gt; {{page_date|slug_to_title }}{% endif %}
{% endblock %}


{% block page %}
    <div class="primary-content">
        <h1>
            {{ venue_account.venue.name }} contacts
        </h1>
        <div class="content account-profile">
            <div class="main-content account-profile">
                <div class="account-details">                                        
                    {{ form.errors }}
                    {%if form.errors %}
                        <div class="errors" style="border:1px solid RED;border-radius:4px;">
                            <ul style="list-style-type: none;">
                                <li id="all-info">
                                    {% for error in form.non_field_errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.phone.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.fax.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.email.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.site.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.facebook.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.twitter.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.picture_src.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.types.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.about.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <form method="post" name="reminder-options" >
                        {% csrf_token %}
                        <table class="edit-contact-info-table options options-white">
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/phone-profile_icon.png"/>
                                </td>
                                <td>
                                    Phone:
                                </td>
                                <td>
                                    {{ form.phone }}
                                </td>
                            </tr>                        
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/fax_profile_icon.png"/>
                                </td>
                                <td>
                                    Fax:
                                </td>
                                <td>
                                    {{ form.fax }}
                                </td>
                            </tr>                        
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/email_profile_icon.png"/>
                                </td>
                                <td>
                                    Email:
                                </td>
                                <td>
                                    {{ form.email }}                                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/website_profile_icon.png"/>
                                </td>
                                <td>
                                    Website:
                                </td>
                                <td>
                                    {{ form.site }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/fb_profile_icon.png"/>
                                </td>
                                <td>
                                    Facebook:
                                </td>
                                <td>
                                    {{ form.facebook }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ STATIC_URL }}/images/twitter.png"/>                                
                                </td>
                                <td>
                                    Twitter:
                                </td>
                                <td>
                                    {{ form.twitter }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td class="top">
                                    About us:
                                </td>
                                <td>
                                    {{ form.about }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td class="top">
                                    Venue type:
                                </td>
                                <td>
                                    {% for pk, choice in form.fields.types.widget.choices %}
                                        <div class="checkbox">
                                            <input {% for venue_type in venue_account.types.all %}{% if venue_type.pk == pk %}checked="checked"{% endif %}{% endfor %} type="checkbox" id="id_types_{{ forloop.counter0 }}" value="{{ pk }}" name="types" />
                                            <label for="id_types_{{ forloop.counter0 }}"></label>
                                            <label for="id_types_{{ forloop.counter0 }}">{{ choice }}</label>
                                        </div>
                                    {% endfor %} 
                                </td>
                            </tr>
                            <tr>
                                <td>                                
                                </td>
                                <td class="top">
                                    Picture:
                                </td>
                                <td>
                                    {{ form.picture_src }}
                                    <div class='full-screen-popup' data-thumb-width="180" data-thumb-height="180">
                                        {{ form.cropping }}
                                        <div class='save-button'>Save image</div>
                                    </div>
                                    <div class="picture-thumb">
                                        <img src="" class="preview">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <input type="submit" name="submitoptions" class="button standart submit" value="Save" />
                    </form>
                </div>

                <div class="clr"></div>               
            </div>            
        </div>
    </div>
{% endblock %}
