{% load event_tags %}
{% load cropping %}

<div class="similar-events-wrapper">
    <header>
        Similar Events
        <div>
            at {{ event.venue.name }}
        </div>
    </header>
    <div class="similar-events">
        {% if events_from_venue.count > 0 %}
            <ul class="similar-events-ul {% if events_from_venue.count < 4 %}one-line{% endif %}">
                {% for venue_event in events_from_venue %}
                    <li>
                        <a href="{% event_link venue_event %}">
                            {% if venue_event.image %}
                                <img height="92" width="92" src="{% cropped_thumbnail venue_event.image "cropping" height=92 %}" alt="{{venue_event.name}}">
                            {% else %}
                                <img height="92" width="92" src="{{STATIC_URL}}/images/default-event-92x92.jpg" alt="{{venue_event.name}}">
                            {% endif %}                        
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span class="empty">No upcoming events</span>
        {% endif %}

    </div>

    {% if events_from_venue.count > 6 %}
        <div class="similar-events-viewer-controls">
            <div class="next"><i class="icon-chevron-right"></i></div>
            <div class="prev"><i class="icon-chevron-left"></i></div>
            <span class="page-no">1</span> of <span id="similar-events-total">{{ events_from_venue.count }}</span>
        </div>
    {% endif %}
</div>