.primary-content .content.account-profile {
    width: 658px;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 3px;

    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;

    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

.account-left {
    float: left;
}

.account-avatar,
.venue-account-avatar {
    width: 205px;
    height: 187px;
    line-height: 187px;
    border: 1px solid #d3d3d3;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.venue-account-avatar {
    width: 154px;
    height: 154px;    
    line-height: 154px;
}

.account-avatar img{
    vertical-align: middle;
}

.account-details {
    float: left;
    margin-left:23px;
    width: 415px;
    font-size: 1.2em;
}

.account-details hr {
    border: none;
    border-top: 1px solid #ddd;    
}

.account-details .block-header,
.about-us .block-header {
    color: #06c;
    font-weight: bold;    
    width:100%;
    font-size:1em;
}

.about-us .block-header {
    font-size: 1.3em;
}

.account-details span {
    color: #454545;    
    font-size: 0.9em;
    font-weight: normal;
}

.account-details .block-header a {
    text-decoration: none;
}

.account-details .block-header a:hover {
    text-decoration: underline;
}

.account-details .view-site {
    height: 20px;
    background: url("/static/images/view-site.png") left center no-repeat;
    padding-left:25px;
}

.account-settings {
    width: 205px;
    border: 1px solid #d3d3d3;
    margin-top: 17px;
}

.account-settings header {
    font-size:1.2em;
    color: #022e52;
    padding-left: 33px;
    background: url("/static/images/accounts/account-settings.png") 4px center no-repeat #eee;
    height: 25px;
    line-height: 25px;    
    vertical-align: middle;
}

.account-settings ul {
    margin: 8px;
    margin-top: 0;
    background-color: #f6f6f6;
    padding: 10px 24px;    
    font-size:1em;
}

.account-settings ul li {
    list-style: none;
    margin-top: 7px;

}

.account-settings ul li a {
    color: #454545;
    text-decoration: none;
    cursor: pointer;
}

.account-settings ul li a:hover{
    color: #5dacfd;    
}

.options {
    padding: 24px 18px;
    color: #454545;
    position: relative;
}

.options header {
    color: #454545;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.options table {
    width: 100%;
}

.reminder-time-options table tr td{
    opacity: 0.5;
}

.reminder-time-options table tr.active td, 
.reminder-time-options table tr td.first {
    opacity: 1;
}

.options table td {
    vertical-align: middle;
}

.options table td.first .label {
    position: relative;
    top: 2px;
    font-weight: bold;
}

.reminder-time-options table td.first {
    width: 30px;
}

.options table td.second {
    color: #454545;
    font-weight: bold;
    width: 110px;
}

#id_reminder_email, 
#id_reminder_phonenumber,
#id_in_the_loop_email, 
#id_in_the_loop_phonenumber {
    width: 140px;
}

.options.options-white input {
    border: 1px solid #ababab;
}

.options.options-gray {
    border: 1px solid #e8e8e8;
    background: #f7f6f6;
}

.options-userena {
    padding: 0 18px;
}

.options.options-gray input {
    border: 1px solid #ccc;
}

.options.options-gray .dropdown {
    border: 1px solid #ccc;
}

#id_reminder_days_before_event, 
#id_reminder_hours_before_event {
    width: 40px;
    height: 23px;
    padding-left: 25px;
}

.week-day-reminder {
    height: 23px;
    width: 65px;
    line-height: 23px;
}
.week-day-reminder .dropdown-label {
    font-weight: normal;
}

.week-day-reminder:after {
    top: 4px;
    right: 3px;
}

.week-day-reminder-list {
    color: #454545;
    width: 85px;
}

 .account-options-wrapper {
    margin-bottom: 20px;
 }

.account-options {
    padding: 10px;
}

.account-options ul.as-selections {
    width: 600px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-left: 0;
    display:inline-block;
}

.account-options ul.as-selections.loading {
    border: 1px solid #e3e3e3;
    background: #fff;
}

.account-options ul.as-selections li.as-selection-item.blur,
.account-options ul.as-selections li.as-selection-item {    
    position: relative;
    display: inline-block;
    list-style: none;
    min-width: 60px;
    padding-left: 10px;
    padding-right: 30px;
    height: 16px;
    max-height: 16px;
    min-height: 16px;
    line-height: 16px;
    border: none;
    vertical-align: top;
    background: #f6f6f6;
    margin-right: 4px;
    margin-bottom: 4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    font-weight: normal;

    background-image: none;
    background: #f4f4f4;
    color: #000;
}

.account-options ul.as-selections li.as-selection-item:hover {
    background: #f4f4f4;
    color: #454545;
    color: #000;
}

.account-options ul.as-selections li.as-selection-item a.as-close {
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: #dcdcdc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0;

    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #777;
    font-weight: normal;
}

.account-options .saved-tags {
    position: relative;
}

.account-options .saved-tags .add-tag-button {    
    position: absolute;
    padding: 0 24px;
    line-height: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    top: 3px;
    right: -5px;
    width: 90px;
}

.account-options h3 {
    color: #00457d;
    font-size: 1.2em;
    position: relative;    
}

.account-options h3 .buttonq {
    position: absolute;
    display: inline-block;
    top: -2px;
    margin-left: 3px;
}

.account-options h3 .buttonq.mini {
    top: 16px;
    margin-left: 5px;
}

.account-options .in-the-loop-types {
    margin-top: 0;
    padding-top: 0;
}

/* Venue account */

.edit-event-account-button {
    margin-top: 12px;
    width: 144px;
    height: 34px;
    line-height: 34px;
    color: #0066cc;
    text-align: center;
    vertical-align: middle;
    font-size:16px;
}

.public-or-private .button {
    width: 144px;
    height: 34px;
    line-height: 34px;
    margin-top: 5px;
}

.public-or-private .radio {
    display: inline-block;
    width: 70px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle
}

.public-or-private input[type=radio] + label,
.public-or-private input[type=radio]:checked + label,
.public-or-private label {
    color: #0066cc;    
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    background-position: center center;
}

.contact-info-table {
    margin-top: 10px;
}

.edit-contact-info-table td.top {
    vertical-align:top;
    padding-top: 5px;
}

.contact-info-table td:first-child
.edit-contact-info-table td:first-child {
    padding-top: 0;
}

.contact-info-table td:nth-of-type(2){
    width:75px;
}

.edit-contact-info-table {
    padding: 0;
    margin: 0;
}

.edit-contact-info-table .checkbox {
    min-width: 160px;
}

.edit-contact-info-table input[type=text] {
    width: 200px;
}

.about-us {
    margin-top: 20px;
    margin-bottom: 30px;
}

#venue_account_map {
    width: 300px;
    height: 200px;
}

.edit-contact-info-table .location_map {
    position: absolute;
    width: 300px;
    height: 300px;
    display: none;
}

.edit-contact-info-table .place-td {
    position: relative;
}

.edit-contact-info-table .show-map {
    float: right;
    position: absolute;
    right: 30px;
    top: 5px;

}

.edit-contact-info-table ul {
    margin-left: 0;
    padding-left: 0;
}

.edit-contact-info-table ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.account-entry-wrapper {
    width: 710px;
}

.account-entry-wrapper .entry-info {
    width: 635px;
    padding-right: 7px;
}
.account-entry-wrapper .event-edit-actions {
    padding: 0 5px;
    border: 1px solid #e3e3e3;
    background: #fff;
    float: right;
    margin-top: 10px;
    height: 45px;
    line-height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    vertical-align: middle;
}

.account-entry-wrapper .event-edit-actions div,
.account-entry-wrapper .event-edit-actions a {
    display: inline-block;
    margin-right: 5px;
    color: #06c;
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding-left: 27px;
    cursor: pointer;
}

.account-entry-wrapper .event-edit-actions div:hover,
.account-entry-wrapper .event-edit-actions a:hover {
    text-decoration: underline;
} 

.account-entry-wrapper .event-edit-actions .edit-action {
    background: url("/static/images/prof_event_edit_icon.png") left center no-repeat;
}

.account-entry-wrapper .event-edit-actions .delete-action {
    background: url("/static/images/prof_event_delete_icon.png") left center no-repeat;
}

.account-entry-wrapper .event-edit-actions .make-featured-action {
    background: url("/static/images/prof_event_feature_icon.png") left center no-repeat;
}

.new-venue-button {
    display: block;
    background: url("/static/images/accounts/new-venue-bg-repeat-y.jpg") repeat-x;
    border: 1px solid #bebebe;
    font-size: 16px;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
    margin-top: 12px;
    color: #545454;
}

.new-venue-button img {
    float: left;
    margin-right: 20px;
}

.new-venue-popup input {
    width: 180px;
}

.new-venue-popup {
    width: 450px;
}

.new-venue-popup h2 {
    color: #022e52
}

.venue-autocomplete, .venue-suggest {
    display: none;    
}

.venue-autocomplete.active,
.venue-suggest.active {
    display: block;
}

.venue-place-autocomplete-wrapper {
    position: relative;
    width: 255px;
}

.venue-place-autocomplete-wrapper .show-map {
    float: none;
    position: absolute;
    right: 0;
    top: -2px;
}

#id_city_0 {
    border-radius: 0;
}

 .ads-stats th {
    font-size: 12px;
    background: rgb(250,250,250); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
    border-top: 1px solid #ccc;
 }

 .ads-stats td {
    cursor: pointer;
 }

 .detailed-view div {
    float: left;
    width: 300px;
    margin: 25px 15px;
 }

 .detailed-view div.right {
    float: right;    
 }

.detailed-view div table {
    width: 100%;
}

 .detailed-view div table td {
    width: 50%;
    height: 30px;
 }

 .detailed-view div table td:first-child {
    font-weight: bold;
 }

 .options-block {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #e3e3e3;
 }

.options-block h3 {
    display: block;
    padding: 15px 20px;
    margin: 0;
    border: 1px solid #fff;
    background: #f1f1f1;
}

.options-block .options-description {
    font-size: 14px;    
    font-style: italic;
}

.teritory-node {
    display: block;
    float: left;
    min-width: 200px;
}

.cities-node {
    border: 1px solid #e3e3e3;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 0;    
}

.cities-node .cities-node-prefix {
    float: left;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    margin-right: 10px;
}

.account-options .cities-node ul.as-selections {
    width: 520px;
}