{% extends 'base-new.html' %} 
{% load i18n %} 
{% load url from future %} 
{% load dictionary_tags %}
{% load setup_advertising %}

{% block title %}
    {% blocktrans with profile.user.username as username %}
        {{username }} reminder options
    {% endblocktrans %}
{% endblock %} 

{% block head %}
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />    
    <link href="{{STATIC_URL}}styles/advertising-setup.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />

    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/tabs.js"></script>
    <script src="{{STATIC_URL}}js/advertising/total-price-calculation.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/advertising/advertising-fund-page.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <div class="primary-content advertising-setup advertising-deposit-funds">
        <h1>
            {{ campaign.name }}({{ campaign.website }})
        </h1>

        <div class="tabs-container">
            <ul class="tabs right-tabs">
                <li><a href="{% url 'advertising_edit_campaign' campaign.id %}"><span>Edit</span></a></li>
                <li class="current"><a href="{% url 'advertising_deposit_funds_for_campaign' campaign.id %}">Deposit Funds</a></li>
                <li><a href="{% url 'advertising_remove_campaign' campaign.id %}" class="danger-action" data-confirm-message="Are you sure? All ads and statistics will be lost">Remove</a></li>                
            </ul>
        </div>
        <div class="content box visible ">
            <div class="main-content account-options">
                {%if form.errors %}
                    <div class="errors" style="border:1px solid RED;border-radius:4px;">
                        <ul style="list-style-type: none;">
                            <li id="all-info">
                                {% for error in form.non_field_errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </li>
                            <li id="all-info">
                                {% for error in form.order_budget.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </li>
                            <li id="all-info">
                                {% for error in form.bonus_budget.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <form  enctype="multipart/form-data" method="post" name="advertising-campaign-deposit-funds" >
                    {% csrf_token %}                    
                    <div class="actual-budget">
                        <p>
                            Current budget - {{ campaign.budget }}. Your already spent {{ campaign.ammount_spent }}
                        </p>                        
                    </div>

                    {% setup_advertising_payments %}

                    <div class="pay-now-footer">
                        <input type="submit" name="submitoptions" class="button standart submit" value="Save" />
                    </div>

                    <div class="order-history">
                        <table class="profile-table" cellpadding="0" cellspacing="0">
                            <tr>
                                <th colspan="4">Orders history</th>
                            </tr>
                            <tr>
                                <th>Order id</th>
                                <th>Budget</th>
                                <th>Created at</th>
                                <th>Status</th>
                            </tr>
                            {% for order in campaign.advertisingorder_set.all %}
                            <tr>
                                <td>#order-{{ order.id }}</td>
                                <td>{{ order.budget }}</td>
                                <td>{{ order.created }}</td>
                                <td>{% if order.status %}{{ order.get_status_display }}{% else %}not paid{% endif %}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4">Bonuses</td>
                            </tr>
                            {% for bonus in campaign.bonusadvertisingtransaction_set.all %}
                            <tr>
                                <td>#bonus-{{ bonus.id }}</td>
                                <td>{{ bonus.budget }}</td>
                                <td>{{ bonus.processed_at }}</td>
                                <td>bonus</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </form>
            </div>                
        </div>
    </div>
{% endblock %}

{% block advertising %} {% endblock %}