{% extends 'base-new.html' %} 
{% load i18n %} 
{% load url from future %} 
{% load dictionary_tags %}

{% block title %}
    {% blocktrans with profile.user.username as username %}
        {{username }} reminder options
    {% endblocktrans %}
{% endblock %} 

{% block head %}
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/advertising-setup.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />

    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js" type="text/javascript"></script>    
    <script src="{{STATIC_URL}}js/create_event/venue_account_owner.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/advertising/setup-page.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <div class="primary-content advertising-setup">
        <h1>
            {{ campaign.name }}({{ campaign.website }})
        </h1>

        <div class="tabs-container">
            <ul class="tabs right-tabs">
                <li class="current"><a href="{% url 'advertising_edit_campaign' campaign.id %}"><span>Edit</span></a></li>
                <li><a href="{% url 'advertising_deposit_funds_for_campaign' campaign.id %}">Deposit Funds</a></li>
                <li><a href="{% url 'advertising_remove_campaign' campaign.id %}" class="danger-action" data-confirm-message="Are you sure? All ads and statistics will be lost">Remove</a></li>                
            </ul>
        </div>
        <div class="content box visible">            
            <div class="main-content account-options">
                {%if form.errors %}
                    <div class="errors" style="border:1px solid RED;border-radius:4px;">
                        <ul style="list-style-type: none;">
                            <li id="all-info">
                                {% for error in form.non_field_errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </li>
                            <li id="all-info">
                                {% for error in form.name.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </li>
                            <li id="all-info">
                                {% for error in form.website.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </li>                            
                        </ul>
                    </div>
                    
                {% endif %}
                <form  enctype="multipart/form-data" method="post" name="advertising-campaign-edit" >
                    {% csrf_token %}
                    <div class="campaign-name">
                        Name of Campaign                        
                        {{ form.name }}
                        Enter the name of your campaign.
                    </div>

                    <div class="campaign-owner venue-account-owner">
                        Campaign owner
                        {{ form.venue_account }}
                    </div>

                    <div class="campaign-name">
                        Campaign website URL
                        {{ form.website }}
                    </div>
                    
                    Pick the type of ad(s) they want to put on City Fusion: Box, Skyscraper, Banner, etc.                    
                    <div class="advertising-types">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <th>
                                    Size of Ad
                                    <a href="javascript:void;" class="balloon">
                                        <div class="buttonq mini"></div>
                                    </a>
                                    <div class="balloon-content">
                                        <h3>
                                            Help - Advertising Campaign
                                            <i>[Size]:</i>
                                        </h3>
                                        <p>
                                            Choose ad size
                                        </p>
                                    </div>
                                </th>
                                <th class="ad-type-col">
                                    CPM
                                    <a href="javascript:void;" class="balloon">
                                        <div class="buttonq mini"></div>
                                    </a>
                                    <div class="balloon-content">
                                        <h3>
                                            Help - Advertising Campaign
                                            <i>[CPM]:</i>
                                        </h3>
                                        <p>
                                            Cost per view
                                        </p>
                                    </div>
                                </th>
                                <th class="ad-type-col">
                                    CPC
                                    <a href="javascript:void;" class="balloon">
                                        <div class="buttonq mini"></div>
                                    </a>
                                    <div class="balloon-content">
                                        <h3>
                                            Help - Advertising Campaign
                                            <i>[CPC]:</i>
                                        </h3>
                                        <p>
                                            Cost per click
                                        </p>
                                    </div>
                                </th>                                
                                <th>
                                    CPM Prices
                                    <a href="javascript:void;" class="balloon">
                                        <div class="buttonq mini"></div>
                                    </a>
                                    <div class="balloon-content">
                                        <h3>
                                            Help - Advertising Campaign
                                            <i>[CPM Price]:</i>
                                        </h3>
                                        <p>
                                            Price for 1000 views
                                        </p>
                                    </div>
                                </th>
                                <th>
                                    CPC Prices
                                    <a href="javascript:void;" class="balloon">
                                        <div class="buttonq mini"></div>
                                    </a>
                                    <div class="balloon-content">
                                        <h3>
                                            Help - Advertising Campaign
                                            <i>[CPC Price]:</i>
                                        </h3>
                                        <p>
                                            Price for 1 click
                                        </p>
                                    </div>
                                </th>                                
                            </tr>
                            <tr class="empty-tr">
                                <td></td>
                                <td class="ad-type-col"></td>
                                <td class="ad-type-col"></td>
                                <td></td>
                                <td></td>
                            </tr>

                            {% for advertising_type in advertising_types %}
                            <tr>
                                <td class="ad-type-description-col">
                                    <div class="checkbox">
                                        <input type="checkbox" id="id_advertising_type_{{ advertising_type.id }}" value="{{ advertising_type.id }}" name="advertising_types" data-ad-type="{{ advertising_type.id }}" {% if advertising_type.id in chosen_advertising_types %}checked="checked"{% endif %}>
                                        <label for="id_advertising_type_{{ advertising_type.id }}"></label>
                                        <label for="id_advertising_type_{{ advertising_type.id }}">{{ advertising_type }}</label>
                                    </div>                                    
                                </td>
                                <td class="ad-type-col">
                                    <div class="radio">                                        
                                        <input type="radio" id="advertising_type_{{ advertising_type.id }}_cpm" value="CPM" name="advertising_payment_type.{{ advertising_type.id }}" data-ad-type="{{ advertising_type.id }}" {% ifequal chosen_advertising_payment_types|keyvalue:advertising_type.id "CPM" %}checked="checked"{% endifequal %}>
                                        <label for="advertising_type_{{ advertising_type.id }}_cpm"></label>
                                    </div>
                                </td>
                                <td class="ad-type-col">
                                    <div class="radio">                                        
                                        <input type="radio" id="advertising_type_{{ advertising_type.id }}_cpc" value="CPC" name="advertising_payment_type.{{ advertising_type.id }}" data-ad-type="{{ advertising_type.id }}" {% ifequal chosen_advertising_payment_types|keyvalue:advertising_type.id "CPC" %}checked="checked"{% endifequal %}>
                                        <label for="advertising_type_{{ advertising_type.id }}_cpc"></label>
                                    </div>
                                </td>                                
                                <td class="center">                                    
                                    {{ advertising_type.cpm_price }}
                                </td>
                                <td class="center">
                                    {{ advertising_type.cpc_price }}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="empty-tr">
                                <td></td>
                                <td class="ad-type-col"></td>
                                <td class="ad-type-col"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="advertising-uploads">
                        <table>
                        {% for advertising_type in advertising_types %}
                            <tr data-ad-type="{{ advertising_type.id }}" {% if advertising_type.id in chosen_advertising_types %}class="chosen"{% endif %}>
                                <td>Upload {{advertising_type}}</td>
                                <td>
                                    <input type="file" name="advertising_image.{{advertising_type.id}}">
                                </td>
                                <td>
                                    {% if advertising_type.id in advertising_images %}
                                        <a href="/media/{{ advertising_images|keyvalue:advertising_type.id }}" class="advertising-image" target="_blank">
                                            <!-- Advertising preview -->
                                            view actual ad
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    
                    Select province/territory to show your ad (Choices)
                    
                    <div class="advertising-territories options">
                        <div class="teritory-node">
                            <div class="checkbox">
                                <input {% if form.all_of_canada.value %}checked="checked"{% endif %} type="checkbox" id="id_all_of_canada" value="true" name="all_of_canada" />
                                <label for="id_all_of_canada"></label>
                                <label for="id_all_of_canada">All of Canada</label>
                            </div>
                        </div>
                        {% for region in form.fields.regions.queryset %}
                        <div class="teritory-node region">
                            <div class="checkbox">
                                <input {% for current_region in form.regions.value %}{% if region.pk = current_region|add:0 %}checked="checked"{% endif %}{% endfor %} type="checkbox" id="id_regions_{{ forloop.counter0 }}" value="{{ region.id }}" name="regions" />
                                <label for="id_regions_{{ forloop.counter0 }}"></label>
                                <label for="id_regions_{{ forloop.counter0 }}">
                                    {{ region.name }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="clr"></div>
                    </div>

                    <input type="submit" name="submitoptions" class="button standart submit" value="Save" />
                </form>
            </div>                
        </div>
    </div>
{% endblock %}

{% block advertising %} {% endblock %}