{% load date_formatting %}
{% load endless %}
{% load cropping %}
{% load event_tags %}
{% load common_tags %}

{% paginate 6 events %}
<div class="account-entry-wrapper entry-wrapper">
    <table class="account-featured-table account-entry-wrapper entry-wrapper">
        <tr>
            <th class="action">Event</th>
            <th class="action">Status</th>
            <th class="action">Views</th>
            <th class="action">Clicks</th>
            <th class="action">From-To</th>
            <th class="action">Regions</th>
        </tr>
        {% for event in events %}
            <tr>
                <td class="no-padding">
                    <div class="entry-info">
                        <div class="entry-img-prev">
                            {% if event.event_day.picture %}
                                <img src="{% cropped_thumbnail event.event_day.image "cropping" width=60 %}" height="60px" weight="60px">
                            {% else %}
                                <img src="{{ STATIC_URL }}images/default-event.jpg" height="60px" weight="60px">
                            {% endif %}
                        </div>
                        <div class="entry-details-wrapper">
                            <div class="title">
                                <a href="{% event_link event.event_day %}">
                                    {{ event.event_day.name }}&nbsp;
                                </a>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </td>
                <td>
                    {% if event.active %}
                        On
                    {% else %}
                        Off
                    {% endif %}
                </td>
                <td>{{ event.views }}</td>
                <td>{{ event.clicks }}</td>
                <td align="center">
                    {{ event.start_time|date:"b d, Y"|title }}
                    <br/>-<br/>
                    {{ event.end_time|date:"b d, Y"|title }}
                </td>
                <td>
                    {% if event.all_of_canada %}
                        All of Canada
                    {% else %}
                        {{ event.regions_representation }}
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <p>
                no featured events
            </p>
        {%endfor%}
    </table>

    {% if pages|length > 1 %}
        <div class="entry-navigation-np">
            <p>
                <ul>
                    {% get_pages %}

                    <span class="step-links">
                        {% if pages.current.is_first %}
                            <span class="prev">
                                prev
                            </span>
                        {% else %}
                            <a href="{{ pages.previous.url }}" class="prev">
                                prev
                            </a>
                        {% endif %}

                        {% for page in pages %}
                            {% if page|args:10|call:'is_in_range' %}
                                <a href="{{ page.url }}"
                                    class="page{% if page.is_current %} current{%endif%}">
                                    {{ page.number }}
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if pages.current.is_last %}
                            <span class="next">
                                next
                            </span>
                        {% else %}
                            <a href="{{ pages.next.url }}" class="next">
                                next
                            </a>
                        {% endif %}
                    </span>
                </ul>
            </p>
        </div>
    {% endif %}
</div>

