{% load endless %}
{% load event_tags %}

{% paginate 6 events using "account_events" %}

<div class="account-entry-wrapper entry-wrapper" data-id="event_container">
    <select autocomplete="off" data-id="action_select">
        <option value="post_selected_to_fb">Post selected to FB</option>
        <option value="bind_selected_to_venue">Bind selected to the venue</option>
    </select>
    <select style="display:none;" data-id="venue_select">
        {% for venue_account in profile.venueaccount_set.all %}
            <option value="{{ venue_account.id }}">{{ venue_account.venue.name }}</option>
        {% endfor %}
    </select>
    <input type="button" value="Execute" class="button standart submit" data-id="execute_button" />
    {% for event in events %}
        <div class="entry-info {% if not event.is_featured %}with-all-actions{% else %}without-make-feature-action{% endif %}"
             data-type="event_item"
             data-event-id="{{ event.event.id }}"
             {% if event.facebook_event %}data-facebook-event-id="{{ event.facebook_event.eid }}"{% endif %}>

            {% short_single_event event %}

            <div class="event-edit-actions">
                <a href="{% url 'event_edit' event.authentication_key %}">
                    Edit
                </a>
                <a href="{% url 'event_copy' event.authentication_key %}">
                    Copy
                </a>
                <a href="{% url 'event_remove' event.authentication_key %}" class="danger-action">
                    Delete
                </a>
                {% if not event.is_featured %}
                    <a href="{% url 'event_setup_featured' event.authentication_key %}">
                        Make Featured Event
                    </a>
                {% endif %}
            </div>

            <div class="clr"></div>
        </div>
    {%endfor%}
</div>

{% if pages|length > 1 %}
    <div class="profile-table-pagination">
        <span class="pagintation-wrapper">
            {% get_pages %}
            {% if pages.current.is_first %}
                <span class="prev"></span>
            {% else %}
                <a class="prev" href="{{ pages.previous.url }}"></a>
            {% endif %}
            <span class="page-info">
                {{ pages.current }} of {{ pages|length }}
            </span>

            {% if pages.current.is_last %}
                <span class="next"></span>
            {% else %}
                <a class="next" href="{{ pages.next.url }}"></a>
            {% endif %}
        </span>        
    </div>
{% endif %}
<div data-type="hidden_elements" style="display:none;">
    <input type="hidden" value="{% url 'clear_facebook_graph' %}" data-id="clear_graph_url" />
    <input type="hidden" value="{% url 'event_post_to_facebook_ajax' %}" data-id="post_to_facebook_url" />
    <input type="hidden" value="{% url 'event_bind_to_venue' %}" data-id="bind_to_venue_url" />
    {% csrf_token %}
    <img class="mini-indicator" src="{{ STATIC_URL }}images/mini-ajax-loader.gif" data-id="mini_indicator" />
    <input class="checkbox-field" type="checkbox" data-type="event_check" />
    <a class="facebook-event-link" target="_blank" data-type="facebook_event_link">
        <img src="{{ STATIC_URL }}images/facebook-icon-mini.png" />
    </a>
    <div class="modal-choice-window" data-id="choice_window">
        <div class="row title">I want to publish event as:</div>
        <div class="row">
            <input type="radio" name="fb_owner_type" value="user" autocomplete="off" checked data-type="fb_owner_type"> User
        </div>
        <div class="row">
            <input type="radio" name="fb_owner_type" value="page" autocomplete="off" data-type="fb_owner_type"> Page
            <select data-id="fb_pages_select" style="display:none;"></select>
        </div>
        <div class="row btn">
            <input type="button" value="Ok" data-id="fb_post_ok" />
        </div>
    </div>
</div>