{% load endless %}

{% paginate 6 profile.in_the_loop_events using "in_the_loop_page" as in_the_loop_events %}

<table class="profile-table" celpadding="0" cellspacing="0">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Event</th>        
    </tr>
    {% for event in in_the_loop_events %}
    <tr>
        <td>
            {{ event.nearest_start_time|date:"b d" }}
        </td>
        <td>
            {{ event.nearest_start_time|date:"fA"|title }}-{{ event.nearest_end_time|date:"fA"|title }}
        </td>
        <td>
            <a href="{% url 'event_view' event.slug %}">
                {{ event.name }}
            </a>            
        </td>        
    </tr>
    {% endfor %}
</table>

{% if pages|length > 1 %}
    <div class="profile-table-pagination">
        <span class="pagintation-wrapper">
            {% get_pages %}
            {% if pages.current.is_first %}
                <span class="prev"></span>                    
            {% else %}                
                <a class="prev" href="{{ pages.previous.url }}"></a>
            {% endif %}
            <span class="page-info">
                {{ pages.current }} of {{ pages|length }}
            </span>

            {% if pages.current.is_last %}
                <span class="next"></span>                    
            {% else %}
                <a class="next" href="{{ pages.next.url }}"></a>
            {% endif %}
        </span>        
    </div>
{% endif %}