{% load endless %}
{% load cf_pagination %}

{% paginate 20 featured_orders using "featured_orders" %}

<table class="profile-table" celpadding="0" cellspacing="0">
    <tr>
        <th>Event name</th>
        <th>Cost</th>
        <th>Period</th>
        <th>Actions</th>
    </tr>
    {% for order in featured_orders %}
    <tr>
        <td>
            {{ order.featured_event.event.name }}
        </td>
        <td>
            {{ order.cost }}
        </td>
        <td>
            {{ order.featured_event.start_time|date:"F d, Y" }}
            -
            {{ order.featured_event.end_time|date:"F d, Y" }}
        </td>
        <td>
            <a href="{% url "account_order_featured_pdf" order.id %}">
                <img src="{{STATIC_URL}}images/pdf-icon.png" alt="Get as PDF" title="Get as PDF" />
            </a>
            <a href="{% url "account_order_featured_printed" order.id %}">
                <img src="{{STATIC_URL}}images/print-icon.png" alt="Printed version" title="Printed version">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% cf_pagination %}