{% load endless %}
{% load event_tags %}

{% paginate 6 profile.reminder_events_in_future  using "reminder_page" as reminder_events %}

<div class="account-entry-wrapper entry-wrapper">
{% for event in reminder_events %}    
    <div class="entry-info with-delete-action">
        {% short_single_event event %}

        <div class="event-edit-actions">
            <a href="{% url 'remove_remind_me' event.id %}" class="danger-action">
                Delete
            </a>
        </div>

        <div class="clr"></div>
    </div>
{%endfor%}
</div>

{% if pages|length > 1 %}
    <div class="profile-table-pagination">
        <span class="pagintation-wrapper">
            {% get_pages %}
            {% if pages.current.is_first %}
                <span class="prev"></span>            
            {% else %}
                <a class="prev" href="{{ pages.previous.url }}"></a>
            {% endif %}
            <span class="page-info">
                {{ pages.current }} of {{ pages|length }}
            </span>

            {% if pages.current.is_last %}
                <span class="next"></span>                    
            {% else %}
                <a class="next" href="{{ pages.next.url }}"></a>
            {% endif %}
        </span>        
    </div>
{% endif %}