{% load cropping %}
{% load truncatesmart %}
{% load date_formatting %}

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
    .appleLinksWhite a {color:#ffffff; text-decoration: none;}
    .appleLinksBlack a {color:#000000; text-decoration: none;}
    .appleLinksBlue a {color:#247cc3; text-decoration: none;}
</style>

<!-- Header -->
<table bgcolor="#022e52" width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">    
    <tr>
        <td align="left" height="120">
            <table width="670" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                <tr>
                    <td align="left">
                        <img alt="" style="border: none;" src="{{site}}{{STATIC_URL}}images/logo.png">
                    </td>
                </tr>
            </table>    
        </td>
    </tr>
</table>

<!-- Content -->
<table bgcolor="#e3e3e3" width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
    <tr>
        <td align="center">
            <table bgcolor="#ffffff" width="670" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                <tr>
                    <td height="10" colspan="3">
                        <div style="line-height:0;">
                            <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" style="border: none;" />
                        </div>
                    </td>
                </tr>
                <!-- Featured events -->
                <tr>
                    <td width="10">
                        <div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div>
                    </td>

                    <td>                
                        <table bgcolor="#022e52" width="670" cellpadding="0" cellapscing="0" style="border-collapse:collapse; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
                            <tr>
                                <td height="10" colspan="9">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="10">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" />
                                    </div>
                                </td>
                                <td colspan="8" align="left">
                                    <span style="color:#ffffff; font-size: 20px; font-weight: bold;">Featured Events</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="10">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="10">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" />
                                    </div>
                                </td>
                                <!-- List of featured events -->
                                {% for event in featured_events %}
                                    <td height="147" style="border: 5px solid #ffffff" background="{% if event.event.picture %}{{site}}{% cropped_thumbnail event.event "cropping" width=147 %}{% else %}{{site}}{{STATIC_URL}}images/default-event-147x147.jpg{% endif %}" valign="top">
                                        <!--[if gte mso 9]>
                                            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:147px;height:147px;">
                                            <v:fill type="tile" src="{% if event.event.picture %}{{site}}{% cropped_thumbnail event.event "cropping" width=147 %}{% else %}{{site}}{{STATIC_URL}}images/default-event-147x147.jpg{% endif %}" color="#f6f6f6" />
                                            <v:textbox inset="0,0,0,0">
                                        <![endif]-->
                                        <div>
                                            <table width="147px" height="147px" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                                                <tr>
                                                    <td height="100%"></td>
                                                </tr>
                                                <tr>
                                                    <td height="34" background="{{site}}{{STATIC_URL}}images/featured-img-details-bg.png">
                                                        <!--[if gte mso 9]>
                                                            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:147px;height:147px;">
                                                            <v:fill type="tile" src="{{site}}{{STATIC_URL}}images/featured-img-details-bg.png" color="#f6f6f6" />
                                                            <v:textbox inset="0,0,0,0">
                                                        <![endif]-->
                                                        <table width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;" >
                                                            <tr>
                                                                <td colspan="3" height="5" width="147">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="147" height="5" alt="" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="4" height="15">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="4" height="15" alt="" />
                                                                    </div>
                                                                </td>

                                                                <td width="100%" height="10" align="left">
                                                                    <span stye="color: #eb8a19; font-size: 10px; font-weight: bold; font-family: sans-serif;">
                                                                        <a target="_blank" href="{% url 'view_event_day' event.id %}" style="color: #eb8a19; font-size: 10px; font-weight: bold; text-decoration: none; font-family: sans-serif; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                                            {{ event.event.name|truncatesmart:25 }}
                                                                        </a>
                                                                    </span>
                                                                </td>

                                                                <td width="4">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="4" height="10" alt="" />
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="4" height="15">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="4" height="15" alt="" />
                                                                    </div>
                                                                </td>

                                                                <td width="100%" height="10" align="left">
                                                                    <span class="appleLinksWhite" style="color: #ffffff; font-size: 10px; font-weight: bold; font-family: sans-serif; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                                                                        {{ event.start_time|date:"b d"|title }} | {{ event.event.venue.name|truncatesmart:13 }}
                                                                    </span>
                                                                </td>

                                                                <td width="4">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="4" height="10" alt="" />
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="4" height="15">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="4" height="15" alt="" />
                                                                    </div>
                                                                </td>

                                                                <td width="100%" height="10" align="left">
                                                                    <span stye="color: #247cc3; font-size: 10px; font-weight: bold; font-family: sans-serif;">
                                                                        <a target="_blank" href="{% url 'view_event_day' event.id %}" style="color: #247cc3; font-size: 10px; font-weight: bold; text-decoration: none; font-family: sans-serif;">
                                                                            event details
                                                                        </a>
                                                                    </span>
                                                                </td>

                                                                <td width="4">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="4" height="10" alt="" />
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="3" height="5">
                                                                    <div style="line-height:0;">
                                                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="5" alt="" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!--[if gte mso 9]>
                                                            </v:textbox>
                                                            </v:rect>
                                                        <![endif]-->
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if gte mso 9]>
                                            </v:textbox>
                                            </v:rect>
                                        <![endif]-->
                                    </td>
                                    <td width="10" align="left">
                                        <div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div>
                                    </td>
                                {% endfor %}
                                <!-- Space if we have less that 4 items -->
                                <td width="100%"></td>
                            </tr>

                            <tr>
                                <td height="20">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="20" alt="" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td width="10">
                        <div style="line-height:0;">
                            <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="10">
                        <div style="line-height:0;">
                            <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" />
                        </div>
                    </td>
                </tr>

                <!-- Email reminders & similar events & ads -->
                <tr>
                    <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>

                    <td>
                        <table width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                            <tr>
                                <td collspan="3" align="left">
                                    <span style="font-size:20px; font-weight: bold; color: #022e52; font-family: sans-serif;">
                                        Email Reminders
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" width="510">
                                    <div style="border: 1px solid #cccccc;"><table width="510" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                                        <tr>
                                            <td width="10" height="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                                        </tr>

                                        <tr>
                                            <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>

                                            <td>
                                                <!-- List of events -->
                                                <table width="510" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                                                    {% for event in events %}
                                                        <tr><td>
                                                            <table  bgcolor="#f6f6f6" width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                                                                <tr>
                                                                    <td height="5"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="15" height="5" alt="" /></div></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="15"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="15" height="10" alt="" /></div></td>

                                                                    <td width="60" valign="top">
                                                                        <div style="border: 1px solid #cccccc;">
                                                                            <div style="border: 4px solid #ffffff;">
                                                                                <img src="{% if event.event.picture %}{{site}}{% cropped_thumbnail event.event "cropping" width=61 %}{% else %}{{site}}{{STATIC_URL}}images/default-event-61x61.jpg{% endif %}" />
                                                                            </div>
                                                                        </div>                                                                    
                                                                    </td>

                                                                    <td width="12">
                                                                        <div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="12" height="10" alt="" /></div>
                                                                    </td>

                                                                    <td width="325" valign="top" align="left">
                                                                        <div>
                                                                            <span style="color: #0066cc; font-size: 13px; font-weight: bold; font-family: sans-serif;">
                                                                                <a target="_blank" href="{% url 'view_event_day' event.id %}" style="color: #0066cc; font-size: 13px; font-weight: bold; font-family: sans-serif; text-decoration:none;">
                                                                                    {{ event.event.name }}
                                                                                </a>          
                                                                            </span>
                                                                        </div>

                                                                        <div>
                                                                            <span class="appleLinksBlue" style="color: #247cc3; font-size: 12px; font-family: sans-serif;">{{event.start_time|date:"l, F d, Y"}}</span>
                                                                            <span class="appleLinksBlue" style="color: #cdcdcd; font-size: 12px; font-family: sans-serif;">|</span>
                                                                            <span class="appleLinksBlue" style="color: #247cc3; font-size: 12px; font-family: sans-serif;">{{event.start_time|just_time}} - {{event.end_time|just_time}}</span>
                                                                        </div>                                                                    

                                                                        <div>
                                                                            <span class="appleLinksBlack" style="color: #000000; font-size: 12px; font-weight: bold; font-family: sans-serif;">
                                                                                {{ event.event.venue.name }}, {{ event.event.venue.street }}, {{ event.event.venue.city.name_std }}
                                                                            </span>
                                                                        </div>                                                                    
                                                                    </td>

                                                                    <td width="85"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="85" height="10" alt="" /></div></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="5"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="15" height="5" alt="" /></div></td>
                                                                </tr>
                                                            </table>
                                                        </td></tr>
                                                        <tr><td height="3"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="3" alt="" /></div></td></tr>
                                                    {% endfor %}
                                                </table>
                                            </td>

                                            <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                                        </tr>

                                        <tr>
                                            <td width="10" height="40"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="40" alt="" /></div></td>
                                        </tr>

                                        <tr>
                                            <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                                            <td align="left">
                                                <span style="font-size: 16px; font-weight: bold; color: #022e52; font-family: sans-serif;">
                                                    Similar Events
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                                            <td>
                                                <div style="border: 1px solid #e7e7e7;"><table width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                                                    <tr><td height="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td></tr>
                                                    <tr>
                                                        {% for event in similar_events %}
                                                            <td width="25"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="25" height="10" alt="" /></div></td>

                                                            <td>
                                                                <div style="border: 1px solid #cccccc;">
                                                                    <div style="border: 5px solid #ffffff;">
                                                                        <a target="_blank" href="{% url 'view_event_day' event.next_day.id %}" style="color: #0066cc; font-size: 13px; font-weight: bold; font-family: sans-serif; text-decoration:none; border: none; display: block; line-height:0px;">
                                                                            <img src="{% if event.picture %}{{site}}{% cropped_thumbnail event "cropping" width=61 %}{% else %}{{site}}{{STATIC_URL}}images/default-event-61x61.jpg{% endif %}"  style="border-collapse:collapse; border: none;" />
                                                                        </a>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </td>                                                        
                                                            
                                                            {% if forloop.counter|divisibleby:5 %}
                                                                    <td width="25"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="25" height="15" alt="" /></div></td>

                                                                <tr><td height="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td></tr>

                                                                </tr>
                                                                <tr>
                                                        
                                                            {% endif %}
                                                        {% endfor %}
                                                        <td width="100%"></td>
                                                    </tr>
                                                    <tr><td height="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td></tr>
                                                </table></div>
                                            </td>
                                            <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                                        </tr>

                                        <tr><td height="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td></tr>
                                    </table></div>
                                </td>
                                
                                <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                                
                                <td valign="top">
                                    <div style="border: 1px solid #cccccc;">
                                        <div style="border: 3px solid #ffffff; border-left: 10px solid #ffffff;">
                                            <img src="{{site}}{{STATIC_URL}}images/adds/adds_120x601.png">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr><td height="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td></tr>

                        </table>
                    </td>

                    <td width="10"><div style="line-height:0;"><img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="10" alt="" /></div></td>
                </tr>

                <!-- Ads & social -->
                <tr>
                    <td colspan="3">
                        <table bgcolor="#e3e3e3" width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                            <tr>
                                <td height="5">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="5" alt="" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td align="left">
                                    <img src="{{site}}{{STATIC_URL}}images/adds/adds_472x58.png">
                                </td>
                            </tr>

                            <tr>
                                <td height="5">
                                    <div style="line-height:0;">
                                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="5" alt="" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Footer -->
<table bgcolor="#022e52" width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">    
    <tr>
        <td align="center" height="55">
            <table width="670" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                <tr>
                    <td align="left">
                        <span style="color:#ffffff; font-size: 14px; font-family: sans-serif;">
                            © 2012 Cityfusion
                        </span>
                    </td>
                    <td align="right" style="text-align: right;">
                        <span style="color:#ffffff; font-size: 14px; font-family: sans-serif; ">
                            <a href="#" target="_blank" style="color:#ffffff; font-size: 14px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Feedback
                            </a>
                            &nbsp;|&nbsp;
                            <a href="#" target="_blank" style="color:#ffffff; font-size: 14px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Advertising
                            </a>
                            &nbsp;|&nbsp;
                            <a href="#" target="_blank" style="color:#ffffff; font-size: 14px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Investment Opportunity
                            </a>
                            &nbsp;|&nbsp;
                            <a href="#" target="_blank" style="color:#ffffff; font-size: 14px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Contact
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>