.content-wrapper {
    margin-top: 12px;
    color: #454545;    
}

.home .content-wrapper {
    position: relative;
}

.content-wrapper h1 {
    min-height: 35px;
    vertical-align: middle;
    margin:0;
    font-size:20px;
    color:#022e52;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

.content-wrapper h1 a {
    color:#022e52;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.event-wrapper, .primary-wrapper {
    position: relative;
    background: #fdfcfc;
    border: 1px solid #ccc;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 30px;
    vertical-align: top;
}

.event-wrapper table td {
    vertical-align: top;
}

.event-wrapper table td.event-details-td {
    position: relative;
}

.event-wrapper .event-photo {
    display: inline-block;
    padding: 10px;
    border: 1px solid #d3d3d3;
    vertical-align: top;
}

.event-wrapper .event-photo.multiday {
    min-height: 291px;
    vertical-align: middle;
}

.event-wrapper .event-photo.multiday #photoFancy {
    margin-top: 15px;
}

.event-wrapper .event-photo #photoFancy {
    height: 265px;
    width: 265px;
    display: block;
    position: relative;
}

.event-wrapper .event-photo .center-cropped{
    cursor: pointer;
    position: relative;
    background-position: center center;
    width: 265px;
    height: 265px;
}


.event-wrapper .event-photo .detail-view {
    position: absolute;
    content: "";
    width: 80px;
    height: 70px;
    left: 90px;
    top: 100px;
    background: url("/static/images/event/loop.png") no-repeat;    
}

.event-wrapper .images-list {
    margin-top: 8px;    
}

.event-wrapper .images-list .mini-image-preview-wrapper {
    border: 1px solid #e2e2e2;
    padding: 4px;
    display: inline-block;
    margin-right: 5px;
}

.event-wrapper .event-photo .center-cropped.default:after {
    display: none;
}

.event-wrapper .event-photo footer {
    margin-top: 10px;
    font-size:1.0em;
    color: #000;    
}

.event-wrapper .event-photo footer a {
    font-weight: bold;
}

.event-wrapper .event-details-block {
    position:relative;
    height: 285px;
}

.event-wrapper .event-details {
    position: relative;
    display: inline-block;
    width: 344px;
    vertical-align: top;
    margin-left: 15px;
}

.event-wrapper .event-details-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

.content-wrapper .event-details .event-date-and-venue {
    width: 100%;
    margin-top: 10px;
}

.content-wrapper .event-details .event-date-and-venue td {
    vertical-align: top;
}

.content-wrapper .event-details .event-date-wrapper {
    color: #0260bb;
    margin-top: 5px;
    font-weight: bold;
}

.content-wrapper .event-details .event-venue {
    margin-top: 11px;
    color: #022e52;
    font-weight: bold;
}

.content-wrapper .event-details .title-wrapper {
    position: relative;    
    border-bottom: 1px solid #02345c;
    width: 100%;
}

.content-wrapper .event-details .event-price {
    color: #0260bb;        
    font-weight: normal;
    width: 190px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: block;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold;
}

.content-wrapper .event-details .title-wrapper .action-buy-tickets {
    position: absolute;
    display: block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #0260bb;
    right: 0;
    top: 0;
    border: 1px solid #bedefe;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;

    box-shadow: 2px 2px 6px #eee;
}

.content-wrapper .event-details .title-wrapper .action-buy-tickets:hover {
    box-shadow: 2px 2px 6px #eaeaea;

}

.content-wrapper .event-details-bottom .event-actions {
    width: 100%;
    border-top: 1px solid #02345c;
    border-bottom: 1px solid #02345c;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 10px;
}

.content-wrapper .event-details-bottom .event-actions .relative-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;    
}

.content-wrapper .event-details-bottom .event-actions a{
    display: block;
    width: 101px;
    background: #0260bb;    
    text-align: center;
    height: 16px;
    line-height: 16px;
    text-transform: uppercase;        
    font-size: 13px;
    color: #fff;
}

.content-wrapper .event-details-bottom .bx-wrapper {
    height: 37px;
}

.content-wrapper .event-details-bottom .event-actions .action-view-site {
    background: #6e6d6d;    
}

.footer-site-map .action-facebook-like {
    background: url("/static/images/like.png") 5px center no-repeat;
    vertical-align: middle;
}

.content-wrapper .event-details .event-actions .action-tweet {    
    background: url("/static/images/tweet.png") 5px center no-repeat;    
}

.event-details .event-actions .view-site {
    background: url("/static/images/view-site.png") 2px center no-repeat;
}

.event-wrapper .tags{
    width: 540px;
    padding-left:25px;
    font-size:11px;
    color:#5dacfd;
    background:url(/static/images/tag_icon.png) left no-repeat;
}

.event-wrapper .tags a {
    color:#5dacfd;
    text-decoration: none;
}
.event-wrapper .tags a:hover {
    color: #0168cd;
}

.primary-content {
    float:left;
}

.primary-content.preview {
    float: none;
}

.secondary-content {
    float:right;
    width: 310px;
    margin-bottom: 10px;
}

.secondary-content-header-wrapper {
    position: relative;
    height: 0;
}

.secondary-content header{
    position: absolute;
    width: 100%;
    bottom: -30px;
    vertical-align: middle;
    text-align: center;
    color: #022e52;
    font-size: 1.2em;
    font-weight: bold;    
}

.secondary-content .content {
    width: 308px;
    margin-top: 35px;
}

.secondary-content-table {
    width: 100%;
    text-align: left;  
    color: #454545;
}

.secondary-content-table th {
    font-weight: bold;
    font-size: 1.2em;
}

.secondary-content-table th.action,
.secondary-content-table td.action {
    padding-left: 0;
    text-align: center;
}

.secondary-content-table .secondary-content-table-date {
    width: 70px;
}

.secondary-content-table tr:nth-child(even) {background: #f4f4f4}
.secondary-content-table tr:nth-child(odd) {background: #fff}

.secondary-content-table th,
.secondary-content-table td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.0em;
    border-bottom: 1px solid #ccc;
}

.secondary-content-table th a,
.secondary-content-table td a {
    color: #5dacfd;
    text-decoration: none;    
    display: inline-block;
}

.secondary-content-table th a:hover,
.secondary-content-table td a:hover {
    color: #022e52;
}

.secondary-content-table-pagination {
    color: #454545;
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    font-size: 1.2em;
}

.secondary-content-table-pagination .pagintation-wrapper{
    vertical-align: middle;
}

.secondary-content-table-pagination span.prev,
.secondary-content-table-pagination a.prev,
.secondary-content-table-pagination span.next,
.secondary-content-table-pagination a.next {
    display: inline-block;
    width: 26px;
    height: 18px;    
    margin:0 10px;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.secondary-content-table-pagination span.prev:hover,
.secondary-content-table-pagination span.next:hover {
    box-shadow: 0px 0px 5px #777;
}

.secondary-content-table-pagination a.prev:hover,
.secondary-content-table-pagination a.next:hover {
    box-shadow: 0px 0px 5px #3ff;
}

.secondary-content-table-pagination .page-info {
    height: 18px;    
    line-height: 18px;
    vertical-align: middle;
}

.secondary-content-table-pagination span.prev {
    background: url("/static/images/accounts/prev.png") no-repeat;
}

.secondary-content-table-pagination a.prev {
    background: url("/static/images/accounts/prev-active.png") no-repeat;
}

.secondary-content-table-pagination span.next {
    background: url("/static/images/accounts/next.png") no-repeat;
}

.secondary-content-table-pagination a.next {
    background: url("/static/images/accounts/next-active.png") no-repeat;
}

a {
    color: #0067cc;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #0066cc;
}

.primary-content p {
    color: #000000;
}

.primary-content .description {
    margin-left: 3px;
    color: #000;
    font-size: 14px;
    margin-top: 18px;
}

.primary-content .description * {
    color: #000;
    font-size: 14px;
}

.primary-content .description p, .searchpad-event-description p {
    margin: 0;
}

ul.errorlist {
    padding-left: 0;
    margin: 0;
}

ul.errorlist li {
    list-style:none;
    color: red;
}

