.location_map {    
  padding:10px;
  border:1px solid #d8d8d8;
  background: #fff;
  margin:20px 0;
  width: 400px;
}
.new_venue .suggest{
  display:table-row;  
}

.suggest-tr {
    display:none;
}

a[data-switch-to]{
    display:block;
    text-decoration: none;
    color: #022E52;
    margin-left:20px;
    width:80%;
}