.dropdown {
    display: inline-block;
    position: relative;
    border: 1px solid #dbdbdb;
    background: #fff;
    width: 45px;
    padding-left: 5px;
    padding-right: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    cursor: pointer;
}
.dropdown input {
    background: transparent !important;
    border: 0 !important;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
    width:100%;
    padding: 0;
    font-size: 12px;
}
.dropdown:after{
    content: " ";
    position:absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: url("/static/images/widgets/dropdown.png") no-repeat;
}

.dropdown select {
    display: none;
}

.dropdown-content {
    display: none;
    width: 100px;
    position: absolute;
    background: #fff;
    z-index: 1000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.dropdown-content.toggled {
    display: block;
}

.dropdown-content .dropdown-child{
    padding-left : 5px;
    cursor: pointer;
}

.dropdown-content .dropdown-child:hover {
    background: #eee;
}


/* Checkbox and radiobutton */

div.checkbox {
    display:inline-block;
    margin-right:10px;
    
}

input[type=checkbox] {
    display: none !important;
}
input[type=checkbox] + label {
    position:relative;
    background: url("/static/images/widgets/checkbox-bg.png") no-repeat;;
    width: 15px;
    height: 15px;  
    display: inline-block;  
}

input[type=checkbox]:checked + label:after {
    content: '';
    position: absolute;
    background: url("/static/images/widgets/checked.png") no-repeat;  
    top: 2px;
    left: 2px;
    width: 11px;
    height: 10px;
}

input[type=radio] {
  display: none !important;
}
input[type=radio] + label {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    background: url("/static/images/widgets/radio.png") top left no-repeat;
}
input[type=radio]:checked + label {
    background: url("/static/images/widgets/radio.png") top right no-repeat;
}

.button {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-image: url("/static/images/widgets/ie9_button.svg");
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0.05, #fff), color-stop(1, #f6f6f6));
    background: -webkit-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: -moz-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #ebebeb;
    display: inline-block;
    color: #454545;
    font-size: 1em;    
    padding: 4px 5px 4px 5px;;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;    
    margin-top: 0;
}

.button:hover {
  /*background-image: url("/images/ie9_button_hovered.svg");*/
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0.05, #f6f6f6), color-stop(1, #fff));
  background: -webkit-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: -moz-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: -o-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: -ms-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background-color: #f6f6f6;
  margin-top: 0;
}

.button.active {
    border: 1px solid #5DACFD;
    color: #fff;
    text-shadow: none;  
    background: rgb(93,172,253); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYWNmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OGMyZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(93,172,253,1) 0%, rgba(136,194,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(93,172,253,1)), color-stop(100%,rgba(136,194,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(93,172,253,1) 0%,rgba(136,194,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(93,172,253,1) 0%,rgba(136,194,252,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(93,172,253,1) 0%,rgba(136,194,252,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(93,172,253,1) 0%,rgba(136,194,252,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dacfd', endColorstr='#88c2fc',GradientType=0 ); /* IE6-8 */
}

.button.active:hover {
    color: #fff;
    text-shadow: none;  
    background: rgb(148,200,254); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YzhmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZGFjZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(148,200,254,1) 0%, rgba(93,172,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,200,254,1)), color-stop(100%,rgba(93,172,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(148,200,254,1) 0%,rgba(93,172,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(148,200,254,1) 0%,rgba(93,172,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(148,200,254,1) 0%,rgba(93,172,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(148,200,254,1) 0%,rgba(93,172,253,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c8fe', endColorstr='#5dacfd',GradientType=0 ); /* IE6-8 */
}

/* Tabs */

.tabs-container {
    margin-top: 10px;
    width: 707px;
}

.tabs-container ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.tabs-container ul li {
    position: relative;  
    list-style: none;
    display: inline-block;
    cursor: pointer;
    height: 31px;
    line-height: 31px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    padding: 0 18px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-bottom: none;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-container ul li.current, .tabs-container ul li:hover {
    background: rgb(250,250,250); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
}

.tabs-container ul li span {
  color: #5dacfd;  
}

.tabs-container ul li.current span, .tabs-container ul li:hover span {
  color: #022e52;
}

.tabs-container .box {
  display: none;
  border-left: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  border-right: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  
}

.tabs-container .box.visible {
  display: block;
}

.ajax-popup {
    position: fixed;
    padding: 40px;
    width: 300px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    color: #022E52;
    z-index: 10000;
    font-size: 2em;
}