.when-deck {
	width:1000px;
	border:1px solid green;
}

.ui-datepicker-inline {
	zoom:0.7;
}

.month-picker .ui-datepicker-calendar {
	display:none;
}

.ui-datepicker-div {
	float:right;
}

.ui-datepicker .ui-datepicker-next,.ui-datepicker .ui-datepicker-prev {
	background: green;
}

.ui-datepicker .ui-datepicker-next span,.ui-datepicker .ui-datepicker-prev span {
	color:red;
}

.month-and-days-wrapper {
	display:inline-block;
	margin-right:30px;
}

.days-time-picker {
	display:inline-block;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	background: yellow;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a{
	background: yellow;
}

.days-time-picker {

}

.dtp-labels {
	display:inline-block;
}

.days-container {
	display:inline-block;
}

.time-picker {
	display:inline-block;
	margin-right:20px;
}

.time-picker input{
	width:80px;
	display:block;
}