{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load endless %}
{% load cf_pagination %}

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="{{STATIC_URL}}fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/advertising/advertising-images.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "admin_advertising" %}
        <div class="box visible options">
            <ul class="tabs">
                <li>
                    <a href="{% url 'admin_advertising' %}"><span>Advertising list</span></a>
                </li>
                <li>
                    <a href="{% url 'admin_advertising_setup' %}"><span>Create new campaign</span></a>
                </li>
                <li class="current">
                    <span>Review ads</span>
                </li>
            </ul>
            <div class="box visible">
                <table class="profile-table" celpadding="0" cellspacing="0">
                    <tr>
                        <th>Campaign</th>
                        <th>Ad type(click to preview)</th>
                        <th>Accept</th>
                        <th>Deny</th>
                    </tr>
                    {% paginate 30 ads %}
                    {% for ad in ads %}
                    <tr>
                        <td>
                            {{ ad.campaign.name }}
                        </td>
                        <td>
                            <a href="/media/{{ ad.image }}" class="advertising-image" target="_blank">{{ ad.ad_type.name }} {{ ad.ad_type.width }}x{{ ad.ad_type.height }}</a>
                        </td>
                        <td>
                            <a href="{% url 'admin_advertising_change_status' ad.id "ACCEPTED" %}">
                                Accept
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'admin_advertising_change_status' ad.id "DENIED" %}">
                                Deny
                            </a>
                        </td>
                    </tr>
                    
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                No ads was found
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% cf_pagination %}
            </div>
        </div>
    </div>
{% endblock %}