{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load date_formatting %}
{% load cropping %}
{% load featured_event %}

{% block head %}
    <link href="{{STATIC_URL}}styles/modal.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/featured_events.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/featured/setup.css" rel="stylesheet" type="text/css" />
    
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js"></script>
    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/featured/setup-page.js" type="text/javascript"></script>

{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "admin_featured" %}

        <div class="box visible options">
            <table>
                <tr>
                    <th>Event</th>
                    <th>Owned by</th>
                    <th>From-To</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
                {% for featured_event in featured_events %}
                <tr>
                    <td>
                        {% featured_event featured_event.event %}
                    </td>    
                    <td>
                        <a href="{% url "admin:accounts_account_change" featured_event.owner.id %}" target="_blank">{{ featured_event.owner.user.username }}</a>
                    </td>
                    <td>
                        {{ featured_event.start_time|date:"b d, Y"|title }} - {{ featured_event.end_time|date:"b d, Y"|title }}
                    </td>
                    <td>
                        <a href="{% url "admin_edit_featured" featured_event.id %}">Edit</a>
                    </td>
                    <td>
                        <a href="{% url "admin_remove_featured" featured_event.id %}">Remove</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            No featured events was found
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}