{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}

{% block page %}
    <script src="{{STATIC_URL}}js/event/search_by_location.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/import-facebook-events.js" type="text/javascript"></script>
    <div class="tabs-container">
        {% cf_admin_menu "import_facebook_events" %}

        <div class="box visible options">
            <div class="form-block">
                <div class="menu-wrapper">
                    <div class="location-selection-wrapper">
                        <div class="location-text-box">
                            <input data-city="" type="text" name="location" class="location" value="" placeholder="{{ user_location.user_location_name }}" autocomplete="off">
                        </div>
                        <div class="search-lists">
                            <ul>
                                <h3>Pick a Location</h3>
                            </ul>
                        </div>
                    </div>
                    <input class="events-search-button" data-id="search_button" type="button" value="Search" />
                </div>
                {% csrf_token %}
                <div class="indicator-block" data-id="indicator_block">
                    <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
                </div>
            </div>
            <div>
                <div class="entry-wrapper" data-id="facebook_events_list" data-load-url="{% url 'load_facebook_events' %}" data-create-url="{% url 'event_create_from_facebook' %}" data-reject-url={% url 'reject_facebook_event' %}></div>
                <div data-id="load_more" class="load-more">
                    Load more
                </div>
            </div>
        </div>
    </div>
{% endblock %}