.tpl{
    color: #022e52;
    margin-left: 15px;
    margin-top: 45px;
    font-size: 20px;
}

#prprofile_content{
    width: 690px;
    height: 1000px;
    float: left;
}

#prpr_cont_info{
    border: 1px solid #CCCCCC;
    margin-left: 10px;
    /*height: 650px;*/
    padding-bottom: 10px;
    /*content:".";*/
    overflow: hidden;
}

#venue_logo{
    border: 2px solid #CCCCCC;
    margin: 5px 0px 5px 5px;
    float: left;
}

#ci{
    width: 400px;
   /* height: auto;*/
    float: left;
    margin: 0 0 0 20px;
    position: relative;
}

/*#pr_edit_btnf{
    width: 156px;
    height: 36px;
    background-image: url("../images/pr_bck_btn.png");
    margin-left: 4px;
    margin-top: 5px;
}
*/

.h_contact_info{
    color: #0066cc;
    margin:  5px 0 10px 0;
}

.infoPees{
    height: 30px;
   /* line-height: 120%;*/
   

}

.infoPeesSpan{
    font-weight: 700;
    vertical-align: 5px;
    margin-left: 5px;
}



#info_values_phone{
   vertical-align: 5px;
   margin-left: 22px;
}

#info_values_fax{
   vertical-align: 5px;
   margin-left: 38px;
}

#info_values_email{
   vertical-align: 5px;
   margin-left: 28px;
}

#info_values_website{
   vertical-align: 5px;
   margin-left: 12px;
}

#info_values_fb{
   vertical-align: 5px;
   margin-left: 5px;
}

#info_values_twitter{
   vertical-align: 5px;
   margin-left: 23px;
}

#info_values_map{
   vertical-align: 5px;
   margin-left: 35px;
}

#infoMapImg{
    width: 72px;
    height: 58px;
    background-image: url("../images/map_icon.png");
    position: absolute;
    top: 470px;
    left: 730px;
}


#gray_btn_top{
    background-image: url("../images/pr_bck_btn.png");
    width: 156px;
    height: 38px;
    position: absolute;
    top: 175px;
    left: -178px;
    background-repeat: no-repeat;
    color: #0066CC;
    font-size: 150%;
    padding-left: 30px;
    padding-top: 8px;
}

#gray_btn_bot{
    background-image: url("../images/pr_bck_btn.png");
    width: 156px;
    height: 38px;
    position: absolute;
    top: 215px;
    left: -178px;
    background-repeat: no-repeat;
}
















