.primary-content .content.account-profile {
    width: 715px;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 3px;

    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;

    border-right: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

.account-left {
    float: left;
}

.account-avatar {
    width: 205px;
    height: 187px;
    line-height: 187px;
    border: 1px solid #d3d3d3;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.account-avatar img{
    vertical-align: middle;
}

.account-details {
    float: left;
    margin-left:23px;
    width: 453px;
    font-size: 1.2em;
}

.account-details hr {
    border: none;
    border-top: 1px solid #ddd;    
}

.account-details .block-header {
    color: #06c;
    font-weight: bold;    
    width:100%;
    font-size:1em;
}

.account-details span {
    color: #454545;    
    font-size: 0.9em;
    font-weight: normal;
}

.account-details .block-header a {
    text-decoration: none;
}

.account-details .block-header a:hover {
    text-decoration: underline;
}

.account-details .view-site {
    height: 20px;
    background: url("/static/images/view-site.png") left center no-repeat;
    padding-left:25px;
}

.account-settings {
    width: 205px;
    border: 1px solid #d3d3d3;
    margin-top: 17px;
}

.account-settings header {
    font-size:1.2em;
    color: #022e52;
    padding-left: 33px;
    background: url("/static/images/accounts/account-settings.png") 4px center no-repeat #eee;
    height: 25px;
    line-height: 25px;    
    vertical-align: middle;
}

.account-settings ul {
    margin: 8px;
    margin-top: 0;
    background-color: #f6f6f6;
    padding: 10px 24px;    
    font-size:1em;
}

.account-settings ul li {
    list-style: none;
    margin-top: 7px;

}

.account-settings ul li a {
    color: #454545;
    text-decoration: none;
    cursor: pointer;
}

.account-settings ul li a:hover{
    color: #5dacfd;    
}

.main-content .submit {
    margin-left:20px;
    margin-top:30px;
    padding: 0 40px;
    font-size: 1.2em;
}

.options {
    padding: 24px 18px;
    color: #454545;
}

.options header {
    color: #454545;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.options table {
    width: 100%;
}

.reminder-time-options table tr td{
    opacity: 0.5;
}

.reminder-time-options table tr.active td, 
.reminder-time-options table tr td.first {
    opacity: 1;
}

.options table td {
    vertical-align: middle;
}

.reminder-time-options table td.first {
    width: 30px;
}

.reminder-time-options table td.first div {
    height: 16px;
}

.options table td.second {
    color: #454545;
    font-weight: bold;
    width: 110px;
}

.options table td .checkbox {
    position: relative;
    top: 3px;
}

.options input {
    color: #454545;
    background: #fff;
    border: 1px solid #ababab;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 5px;
    height:20px;
}



#id_reminder_email, 
#id_reminder_phonenumber,
#id_in_the_loop_email, 
#id_in_the_loop_phonenumber {
    width: 140px;
}

.options.options-white input {
    border: 1px solid #ababab;
}

.options.options-gray {
    border: 1px solid #e8e8e8;
    background: #f7f6f6;
}

.options-userena {
    padding: 0 18px;
}

.options.options-gray input {
    border: 1px solid #ccc;
}

.options.options-gray .dropdown {
    border: 1px solid #ccc;
}

#id_reminder_days_before_event, 
#id_reminder_hours_before_event {
    width: 40px;
    height: 23px;
    padding-left: 25px;
}

.week-day-reminder {
    height: 23px;
    width: 65px;
    line-height: 23px;
}
.week-day-reminder .dropdown-label {
    font-weight: normal;
}

.week-day-reminder:after {
    top: 4px;
    right: 3px;
}

.week-day-reminder-list {
    color: #454545;
    width: 85px;
}

 .account-options-wrapper {
    margin-bottom: 20px;
 }

.account-options {
    padding: 10px;
}

.account-options ul.as-selections {
    width: 570px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-left: 0;
    display:inline-block;
}

.account-options ul.as-selections.loading {
    border: 1px solid #e3e3e3;
    background: #fff;
}

.account-options ul.as-selections li.as-selection-item.blur,
.account-options ul.as-selections li.as-selection-item {    
    position: relative;
    display: inline-block;
    list-style: none;
    min-width: 60px;
    padding-left: 10px;
    padding-right: 30px;
    height: 16px;
    max-height: 16px;
    min-height: 16px;
    line-height: 16px;
    border: none;
    vertical-align: top;
    background: #f6f6f6;
    margin-right: 4px;
    margin-bottom: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;

    background-image: none;
    background: #f4f4f4;
    color: #000;
}

.account-options ul.as-selections li.as-selection-item:hover {
    background: #f4f4f4;
    color: #454545;
    color: #000;
}

.account-options ul.as-selections li.as-selection-item a.as-close {
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: #dcdcdc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 0;

    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #777;
    font-weight: normal;
}

.account-options .saved-tags {
    position: relative;
}

.account-options .saved-tags .add-tag-button {    
    position: absolute;
    padding: 0 24px;
    line-height: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;

    top: 4px;
    right: -5px;
}

.account-options h3 {
    color: #00457d;
    font-size: 1.2em;
    position: relative;    
}

.account-options h3.notifications {
    margin-top: 40px;
}

.account-options h3 .buttonq {
    position: absolute;
    display: inline-block;
    top: -2px;
    margin-left: 3px;
}

.account-options .in-the-loop-types {
    margin-top: 0;
    padding-top: 0;
}