.advertising-with-margin {
	margin-top: 35px;
}


.advertising-right-container {
    float: right;
}

.home .advertising-right-container {
	position: absolute;
	right: 0;
}

.advertising-right {
    padding: 5px;
    background: #ffffff;
    border: 1px solid #c5c5c5;
    margin-bottom: 6px;
    text-align: center;
}

.advertising-right a {
    display: block;
}