.advertising-with-margin {
	margin-top: 35px;
}


.advertising-right-container {
    float: right;
}

.home .advertising-right-container {
	position: absolute;
	right: 15px;	
}

.advertising-right {    
    padding: 4px;
    border: 1px solid #e2e2e2;
    margin-bottom: 4px;
    text-align: center;
}