.advertising-setup {
    font-size: 14px;
}

.advertising-setup .tabs-container {
    margin-bottom: 0;
}

.advertising-setup .content {
    padding-left: 22px;
}

.advertising-setup .options {
    border: 1px solid #d3d3d3;
    margin-top: 7px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 15px;
}

body .hintbox {
    width: 300px;
}

.campaign-name, .campaign-active-to  {
    margin-top: 20px;
    margin-bottom: 20px;
}

#id_name,
#id_website {
    width: 190px;
    margin-left: 20px;
    margin-right: 10px;
}

#id_active_to,
#id_active_from {
    width: 100px;
    margin: 0;
}

#id_active_from {
    margin-left: 20px;
}

.campaign-owner .dropdown {
    width: 190px;
    margin-left: 20px;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ababab;
}
.campaign-owner .dropdown:after{
    right: 2px;
    top: 2px;
}

.venue-account-owner-dropdown-list {
    width: 190px;
    width: 210px;
    border-left: 1px solid #ababab;
    border-right: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

.venue-account-owner-dropdown-list .dropdown-child {
    padding: 5px;

}

.advertising-types {
    margin-top: 5px;
    margin-bottom: 20px;
}

.advertising-types table {
    border: 1px solid #d3d3d3;
    background: #ddd;
    width: 100%;
}

.advertising-types table .ad-type-col {
    background: #acacac;
}

.advertising-types table .empty-tr td {
    height: 15px;
}

.advertising-types th {
    color: #000;
    vertical-align: middle;
    border-bottom: 1px solid #9f9f9f;
    height: 40px;
    text-align: center;
    padding: 0 10px;
}

.advertising-types th .balloon {
    position: relative;
    display: inline-block;
    top: 0px;
}

.advertising-types td {
    vertical-align: middle;
    text-align: center;
    height: 25px;
}

.advertising-types td.ad-type-description-col {
    text-align: left;
    padding-left: 20px;
}

.advertising-types td.ad-type-description-col .checkbox label {
    margin-right: 10px;
}

.advertising-uploads {
    margin-bottom: 20px;
}

.advertising-uploads tr {
    display: none;
}

.advertising-uploads tr.chosen {
    display: table-row;
}

.teritory-node {
    display: block;
    float: left;
    min-width: 200px;
}

.pay-now-header {
    color: #022e52;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-left: 545px;
}

.pay-now-widget {
    margin-top: 5px;  
    width: 650px;
    height: 125px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    background: rgb(250,250,250); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
}

.pay-now-widget .info {
    float: left;
    margin-top:  15px;
    margin-left: 15px;
    width: 365px;
    color: #000;
    font-size: 16px;
    display: none;    
}

.pay-now-widget .info.active {
    display: block;
}

.pay-now-widget .info table.taxes {
    width: 250px;
    font-weight: bold;
}

.pay-now-widget .info table.taxes .total-price-row {
    color: #9c1a00;
}

.pay-now-widget .choose-payment-system {
    float: left;
}


.pay-now-widget .budget table {
    width: 300px;
}

.pay-now-widget .budget table td {
    text-align: right;
}

.pay-now-widget .budget table td:first-child {
    text-align: left;
    width: 150px;    
    font-size: 14px;
}

.pay-now-widget .budget table td:first-child div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pay-now-widget .budget table td:last-child {
    width: 30px;
}

.pay-now-widget .choose-payment-system td {
    vertical-align: middle;
}

.pay-now-widget .choose-payment-system td label {
    display: inline-block;
    height: 46px;
    vertical-align: middle;
    background-position: left center;
    margin-top: 5px;
}

.pay-now-widget .choose-payment-system td img {
    display: inline-block;
}

.pay-now-footer {
    margin-left: 265px;    
    margin-bottom: 30px;
}