.search-pad-popup {
    display: none;
    width: 1024px;
}

.search-pad-menu, .search-pad-content, .search-pad-advertising {
    float: left;
}

.search-pad-popup .loader {
    vertical-align: middle;
    text-align: center;
    min-height: 620px;
    width: 1024px;
}

.search-pad-popup .loader img {
    vertical-align: middle;
    margin-top: 230px;
}

.search-pad-popup .main-navigation-nav-wrapper {
    padding: 0;

}

.search-pad-content-wrapper {
    min-height: 540px;
    height: 100%;
    float: left;

    margin-right: 10px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 45px;
    border: 1px solid #e3e3e3;
}

.fancybox-skin {
    background: #fff;
}

#ui-datepicker-div {
    z-index:8031 !important;
}