.search-pad-popup {
    display: none;
    width: 1024px;
}

.search-pad-menu, .search-pad-content, .search-pad-advertising {
    float: left;
}

.search-pad-popup .main-navigation-nav-wrapper ul.categories li {
    margin-bottom: 2px;
}

.search-pad-popup .main-navigation-nav-wrapper ul.categories li.subcat {
    margin-top: 6px;
}

.search-pad-content {
    position: relative;
    height: 583px;
}

.search-pad-content .entry-navigation-np {
    position: absolute;
    bottom: 0;
    left: 100px;
    background: #ffffff;
}

.search-pad-popup .loader {
    vertical-align: middle;
    text-align: center;
    min-height: 620px;
    width: 1024px;
}

.search-pad-popup .loader img {
    vertical-align: middle;
    margin-top: 230px;
}

.search-pad-popup .main-navigation-nav-wrapper {
    padding: 0;
}

.search-pad-content-wrapper {
    min-height: 588px;
    height: 100%;
    float: left;

    margin-right: 10px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 5px;
    border: 1px solid #e3e3e3;
}

.fancybox-skin {
    background: #fff;
}

#ui-datepicker-div {
    z-index:8031 !important;
}

.search-pad-popup .event-details-block {
    margin-top: 10px;
}

.search-pad-popup .searchpad-event-description{
    height: 190px;
    overflow: auto;
    padding-right: 5px;
}

.search-pad-popup .event-details-block .event-details {
    margin-left: 20px;
}

.search-pad-popup .event-details-block .event-img {
    margin: 0px;    
}

.search-pad-popup .event-details-block .event-details .event-date-wrapper,
.search-pad-popup .event-details-block .event-details .event-description {
    margin-left: 0;
}