{% load cropping %}
{% load notices_tags %}
<div class="sign-up-and-facebook">
    <!--start login-->
    <div class="login-entry-info">
        <ul>
            {% if user.is_authenticated %}
                <li class="user-profile">
                    {% if not current_venue_account %} 
                        <a href="{% url 'userena_profile_detail' user.username %}">
                            <img src="{{ request.account.get_mugshot_url }}" alt="Your mugshot" widrh="29" height="29" />
                            <span>
                                {{ user.username }}
                            </span>
                        </a>
                    {% else %}
                        <a href="{% url 'private_venue_account' slug=current_venue_account.slug %}">
                            {% if current_venue_account.picture %}
                                <img src="{% cropped_thumbnail current_venue_account "cropping" width=29 %}" widrh="29" height="29" />
                            {% else %}
                                <img src="{{STATIC_URL}}images/default-event.jpg" height="29px" weight="29px">
                            {% endif %}
                            <span>
                                {{ current_venue_account.venue.name }} opa-opa-opa pa
                            </span>
                        </a>
                    {% endif %}
                    <div class="choose-user-profile-button">
                    </div>
                    {% notices_block user %}
                </li>                
                <li>
                    <a href="{% url 'userena_signout' %}">Sign out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'userena_signin' %}">Sign In</a><span>&nbsp; | &nbsp;</span>
                </li>
                <li>
                    <a href="{% url 'userena_signup' %}">Sign up</a>
                </li>
                <li>
                    <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
                        <a class="login_with_facebook" href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);"></a>
                        <input type="hidden" value="{{ request.path }}" name="next" />
                        <input type="hidden" value="{{ request.path }}" name="register_next" />
                        <input type="hidden" value="{{ request.path }}" name="error_next" />
                        {% csrf_token %} 
                    </form>
                </li>                   
            {% endif %}
        </ul>
        <div class="clr"></div>

        <ul class="choose-user-profile-popup">
            <li class="{% if not current_venue_account %} active{% endif %}">
                <a href="{% url 'account_set_context' "root" %}">
                    <img src="{{ profile.get_mugshot_url }}" alt="Your mugshot" widrh="29" height="29" />
                    <span>{{ user.username }}</span>
                </a>
            </li>
            {% for venue_account in profile.venueaccount_set.all %}
                <li class="{% ifequal venue_account.id current_venue_account.id %} active{% endifequal %}">
                    <a href="{% url 'account_set_context' venue_account.slug %}">
                        {% if venue_account.picture %}
                            <img src="{% cropped_thumbnail venue_account "cropping" width=29 %}" widrh="29" height="29" />
                        {% else %}
                            <img src="{{STATIC_URL}}images/default-event.jpg" height="29px" weight="29px">
                        {% endif %}
                        <span>{{ venue_account.venue.name }}</span>
                    </a>
                </li>
            {% empty %}
                <li>
                    <a href="{% url 'create_venue_account' %}">
                        New venue
                    </a>
                </li>
            {% endfor %}
        </ul>
   </div>
</div>