<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en_US'>
<head>
    {% load analytics %}
    {% load common_tags %}
    {% googleanalyticsjs %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>City Fusion</title>
    
    <link href="{{STATIC_URL}}styles/styles.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/styles-new.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/advertising.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <link type="text/css" href="{{STATIC_URL}}date/css/redmond/jquery-ui-1.8.23.custom.css" rel="stylesheet" />

    <link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
    <link href="{{ STATIC_URL }}styles/accounts/signin_signup.css" type="text/css" rel="stylesheet" media="all" />

    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{STATIC_URL}}js/libs/ie9.js"></script>
    <![endif]-->

    <script type="text/javascript" src="{{STATIC_URL}}js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/facebook-for-turbolinks.js"></script>

    {% include 'variables.html' %}

    <script src="{{STATIC_URL}}fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/restore-scroll-position.js"></script>

    <script src="{{STATIC_URL}}js/validate.js" type="text/javascript"></script>

    <script src="{{STATIC_URL}}js/searchpad/ajax-popup.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/accounts/choose-account-context.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/messages.js" type="text/javascript"></script>
    {% include 'django_facebook/_facebook_js.html' %}

    <!-- Search Pad Popup scripts -->
    <link href="{{STATIC_URL}}styles/searchpad/popup.css" type="text/css" rel="stylesheet" media="all" />
    <link href="{{STATIC_URL}}styles/browse/jump_popup.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/search_pad.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/search_tags.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/event_details.css" rel="stylesheet" type="text/css" />
    
    <script src="{{STATIC_URL}}js/searchpad/event-actions.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/searchpad-popup.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/tagit.js" type="text/javascript"></script>    
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/browse/jquery.hoverIntent.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/ajax-popup.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/buy-tickets.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/in-the-loop.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/remind-me.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/event-actions.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/jump-to-date.js" type="text/javascript"></script>

    {% block head %}

    {% endblock %}
    {% block menuhead %}

    {% endblock %}
    {% block userena_head %}{% endblock %}
</head>
<body {% block body_attributes %}class="modern"{% endblock %}>
    {% googleanalyticsjs_push %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}    
<div class="wrapper">
    <div class="page-container">
        <div class="header"  data-no-turbolink>
            <div class="primary-header">
                <div class="logo">
                    <a href="/">
                        <img src="{{STATIC_URL}}images/logo.png" />
                    </a>
                </div>

                <div class="sign-up-wrapper-top">
                    {% include '_signin_signup.html' %}
                    <div class="post-events-for-free">
                        <a href="{% url 'event_create' %}">
                            <img src="{{STATIC_URL}}images/post-events-for-free.png" />
                        </a>
                    </div>
                </div>

                <div class="clr"></div>
            </div>
            {% include '_main_navigation.html' %}
        </div>

        {% block featured %}{% endblock %}
        
        <div class="content-wrapper">
            {% block page %}{% endblock %}
            {% block advertising %}{% endblock%}
            <div class="clr"></div>
        </div>
    </div>

    <div class="footer-wrapper" data-no-turbolink>
        <div class="footer-container">
            {% block advertising_footer %}{% endblock %}
        </div>
    </div>

    <div class="footer-site-links" data-no-turbolink>
        <div class="footer-container">
            <div class="copyright">&copy; 2012 Cityfusion</div>
            <div class="footer-site-map">
                <ul>            
                    <li><a href="{% url 'staticpage' alias='faq' %}">FAQ</a></li>
                    <li><a href="/feedback/">Feedback</a></li>
                    <li><a href="{% url 'staticpage' alias='advertising' %}">Advertising</a></li>
                    <li><a href="{% url 'staticpage' alias='privacy_policy' %}">Privacy Policy</a></li>
                    <li class="last"><a href="{% url 'staticpage' alias='terms_of_service' %}">Terms of Service</a></li>
                    <li class="last">
                        {% like_button "http://"|add:request.META.HTTP_HOST %}
                    </li>
                    <li class="last">
                        <a href="#" class="footer-icon facebook"></a>
                        <a href="#" class="footer-icon twitter"></a>
                        <a href="#" class="footer-icon email"></a>
                        <a href="#" class="footer-icon google"></a>
                        <a href="#" class="footer-icon youtube"></a>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>
        </div>
    </div>    
</div>

<div class="search-pad-popup">
    <div class="loader">
        <img src="/static/images/ajax-loader.gif" />
    </div>
</div>

{% load event_tags %}
{% auth_required_popup %}

<script type="text/javascript">
    function onBlur(el) {
        if (el.value == '') {
            el.value = el.defaultValue;
        }
    }
    function onFocus(el) {
        if (el.value == el.defaultValue) {
            el.value = '';
        }
    }
</script>
</body>
</html>