<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>City Fusion</title>

    <link href="{{STATIC_URL}}styles/styles.css" rel="stylesheet" type="text/css" />

    <link type="text/css" href="{{STATIC_URL}}date/css/redmond/jquery-ui-1.8.23.custom.css" rel="stylesheet" />

    <script type="text/javascript" src="{{STATIC_URL}}js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/validate.js" type="text/javascript"></script>


    <script type="text/javascript">
    jQuery(document).ready(function(e) {
        jQuery('.search-lists ul li a').click(function(){
    		var v = jQuery(this).attr('rel');
    		jQuery('.location-text-box .location').val(v);
    	});
    	jQuery('.footer-site-map ul li').addClass('add-border-right-white');
    	jQuery('.footer-site-map ul li:last').removeClass('add-border-right-white');
    	//jQuery('.right-navigation-wrapper').height(jQuery('.main-navigation-content-nav').height());
    });

    </script>
    {% block head %}

    {% endblock %}
</head>
<body>
<div class="wrapper">
	<div class="page-container">    
    <!--start.header-wrapper-->    
		<div class="header-wrapper">
    <div class="header">
        <div class="primary-header-wrapper">
        <div class="logo"><a href="/"><img src="{{STATIC_URL}}images/logo.png" /></a></div>

        <!--start.sign-up-wrapper-top-->
        <div class="sign-up-wrapper-top">
            <div class="sign-up-and-facebook">
                	
                		<!--start login-->
                        <div class="login-entry-info">
                            <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'citi_user_events' %}">View your events</a>&nbsp; | &nbsp;</li>
      <li><a href="{% url 'auth_logout' %}">Sign out</a></li>
      {% else %}
      <li><a href="{% url 'auth_login' %}">Sign In</a>&nbsp; | &nbsp;</li>
      <li><a href="{% url 'registration_register' %}">Register</a></li>
      {% endif %}
    </ul>
                                <div class="clr"></div>
                            </ul>                                            
		                 <div class="clr"></div>
          			 </div>
                     <!-- end login-->
            </div>
          <div class="post-events-for-free"><a href="{% url 'event_create' %}"><img src="{{STATIC_URL}}images/post-events-for-free.png" /></a></div>
        </div>
        <!--end.sign-up-wrapper-top-->        

        <div class="clr"></div>
        </div>

        <!--start.menu-wrapper-->
        <div class="menu-wrapper">
            <ul class="main-menu">
                <li class="addBorderRight"><a href="/events/browse/">Browse Events</a></li>
                <li class="addBorderRight"><a href="{% url 'event_create' %}">Post Events</a></li>
                <li class="addBorderRight"><a href="/">Profile</a></li>
                <div class="clr"></div>
            </ul>
            <div class="location-wrapper">
                <form action="" method="get" name="sform">	
                <div class="location-label">Location : </div>
                <div class="location-selection-wrapper">
                    <div class="location-text-box"><input type="text" name="location" class="location" value=""></div>
                    <div class="search-lists">
                        <ul>
                            <h3>Pick a Location</h3>
                            {%for i in locations%}
                            <li><a href="#">{{i}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
                
                <div class="search-label">Search For : </div>
                 <div class="search-selection-wrapper">
                    <div class="search-text-box">
                        <input class="search" type="text" name="search" value="(e.g. jazz, Zumanity, Coldplay)" onBlur="onBlur(this)" onFocus="onFocus(this)">
                        <div class="search-submission" onClick="sform.submit();"></div>
                        <div class="clr"></div>
                    </div>
                </div>
                </form>
                <div class="clr"></div>
                </form>
            </div>
            <div class="clr"></div>
        </div>
        <!--end.menu-wrapper-->
    
    </div>
</div>  
    <!--end.header-wrapper-->   
    	
    <!--start.content-wrapper-->
    <div class="content-wrapper">
    	<div class="content-wrapper-panel">
            <!--end.featured-area-->
    {% block page %}
    {% endblock %}
             
    </div>
</div>

<!--start.footer-wrapper-->
<div class="footer-wrapper">
	<div class="footer-container">
    	<div class="footer-ads-wrapper">
        	<div class="footer-ads-container"> <a href="#"><img src="{{STATIC_URL}}images/add_images/avast.png" /></a>
            </div>
			<div class="footer-social-links">
                <h3>FOLLOW US</h3>
                <div class="social-links"> <a href="#"><img src="{{STATIC_URL}}images/fb-like.png" /></a>
                    <a href="#"><img src="{{STATIC_URL}}images/fb.png" /></a>
                    <a href="#"><img src="{{STATIC_URL}}images/twitter.png" /></a>
                    <a href="#"><img src="{{STATIC_URL}}images/mail.png" /></a>
                    <a href="#"><img src="{{STATIC_URL}}images/google-plus.png" /></a>
                    <a href="#"><img src="{{STATIC_URL}}images/you-tube.png" /></a>
				</div>
        	</div>
        	<div class="clr"></div>
      </div>
    </div>
</div>
</div>
<!--end.footer-wrapper-->

<!--start.footer-site-links-->

<div class="footer-site-links">
	<div class="footer-container">
    	<div class="copyright">&copy; 2012 Cityfusion</div>
        <div class="footer-site-map">
        	<ul>            
            	<li><a href="/advertise/">Advertising</a></li>
                <li><a href="/">FAQ</a></li>
                <li><a href="/feedback/">Feedback</a></li>
                <li><a href="contact.php">Contact</a></li>           
            </ul>        
        </div>    
    	<div class="clr"></div>    
    </div>
</div>
<!--end.footer-site-links-->

<script type="text/javascript">
function onBlur(el) {
	if (el.value == '') {
		el.value = el.defaultValue;
	}
}
function onFocus(el) {
	if (el.value == el.defaultValue) {
		el.value = '';
	}
}
</script>   
</body>
</html>
