<header id="header">
  <hgroup>
    <h1><a href="{% url home %}">Cityfusion</a></h1>
    <h2>The community at your fingertips</h2>
  </hgroup>
	
  <nav id="main-nav">
    <ul>
      <li><a href="{% url event_browse %}"{% if browsing %} class="current" {% endif %}>Browse Events</a></li>
      <li><a href="{% url event_create %}"{% if posting %} class="current" {% endif %}>Post an Event</a></li>
    </ul>
  </nav>
  <nav id="user-nav">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url citi_user_events %}">View your events</a></li>
      <li><a href="{% url auth_logout %}">Sign out</a></li>
      {% else %}
      <li><a href="{% url auth_login %}">Sign In</a></li>
      <li><a href="{% url registration_register %}">Register</a></li>
      {% endif %}
    </ul>
  </nav>
  
  <nav id="city-nav">
    <a href="">Saskatoon <span class="downtick"></span></a>
  </nav>

</header>

<aside id="city-widget">
  <p>Cityfusion is currently only available in Saskatoon, Canada.</p>
  <p><span class="white">Want your city to be next?</span><br><a href="/feedback">Let us know.</a></p>
</aside>

{% if browse_bar %}
<nav id="date-nav">
  <ul>
    <li>
      <a href="{% url event_browse_tags_date date="today" old_tags=current_tags %}" {% if page_date == "today" %}class="current"{% endif %}>Today</a>
    </li>
    <li>
      <a href="{% url event_browse_tags_date date="tomorrow" old_tags=current_tags %}" {% if page_date == "tomorrow" %}class="current"{% endif %}>Tomorrow</a>
    </li>
    <li>
      <a href="{% url event_browse_tags_date date="this-weekend" old_tags=current_tags %}" {% if page_date == "this-weekend" %}class="current"{% endif %}>This weekend</a>
    </li>
    <li>
      <a href="{% url event_browse_tags_date date="this-week" old_tags=current_tags %}" {% if page_date == "this-week" %}class="current"{% endif %}>This week</a>
    </li>
    <li>
      <a href="{% url event_browse_tags_date date="next-week" old_tags=current_tags %}" {% if page_date == "next-week" %}class="current"{% endif %}>Next week</a>
    </li>			
    <li>
      <a href="" class="jump">Jump to date</a>
    </li>
  </ul>
</nav>
{% endif %}
