<header id="header">
  <hgroup>
    <h1><a href="{% url home %}">Cityfusion</a></h1>
    <h2>The community at your fingertips</h2>
  </hgroup>
	
  <nav id="main-nav">
    <ul>
      <li><a href="{% url event_browse %}">Browse Events</a></li>
      <li><a href="{% url event_create %}" class="post current">Post an Event</a></li>
    </ul>
  </nav>
  <nav id="user-nav">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url auth_logout %}">Log out</a></li>
      <li><a href="{% url citi_user_events %}">View your events</a></li>
      {% else %}
      <li><a href="{% url auth_login %}">Sign In</a></li>
      <li><a href="{% url registration_register %}">Register</a></li>
      {% endif %}
    </ul>
  </nav>
  
  <nav id="city-nav">
    <a href="">Saskatoon <span class="downtick"></span></a>
  </nav>

</header>

<aside id="city-widget">
  <p>Cityfusion is currently only available in Saskatoon, Canada.</p>
  <p><span class="white">Want your city to be next?</span><br><a href="{% url feedback %}">Let us know.</a></p>
</aside>
