{% extends "home.html" %}
{% block title %} > Feedback{% endblock %}

{% block content %}
<section class="body">
<h2>Feedback</h2>
<p>We'd love to hear your comments on how Cityfusion can be improved for you.</p>

<form id="contact" method="post">
  {% csrf_token %}
  <ul>
    {% for field in form %}
    <li class="label">{{ field.label_tag }}</li>
    <li>{{ field }}{% for error in field.errors %}<span class="error">{{ error }}</span> {% endfor %}</li>
    {% endfor %}
    <li class="label"></li>
    <li><input type="submit" class="submit button" value="Send Message"></li>
  </ul>
</form>
</section>
{% endblock %}
