{% extends "base-new.html" %}
{% block title %} > Feedback{% endblock %}

{% block page %}
<section class="body">
<h2>Feedback</h2>
<p>We'd love to hear your comments on how Cityfusion can be improved for you.</p>

<form id="contact" method="post">
  {% csrf_token %}
  <table>
    {% for field in form %}
    <tr>
    <td>
    <p class="label">{{ field.label_tag }}</p>
    {{ field }}{% for error in field.errors %}<span class="error">{{ error }}</span> {% endfor %}
    {% endfor %}
    <p class="label"></p>
    <input type="submit" class="submit button" value="Send Message">
    </td>
    </tr>
    </table>

</form>
</section>
{% endblock %}
