{% load cropping %}

<div class="features">
    <div class="featured-img-wrapper">
        {% if event.picture %}
            <img src="{% cropped_thumbnail event "cropping" width=154 %}" height="153px" weight="154px">
        {% else %}
            <img src="{{STATIC_URL}}images/default-event.jpg" height="153px" weight="154px">
        {% endif %}
    </div>
    <div class="featured-img-details">
        <div class="featured-img-details-wrapper">
            <div class="featured-title">
                <a href="{% url 'event_view' event.slug %}?featured_click=1">{{event.name}}</a>
            </div>
            <div class="featured-date">                                                                            
                <!-- TODO: use event date range and time range -->
                {{ event.nearest_start_time|date:"b d, Y | fA"|title }}-{{event.nearest_end_time|date:"fA"|title}}
            </div>
            <div class="feature-venue">
                {{ event.venue.name }}
            </div>
            <div class="featured-details-link">
                <a href="{% url 'event_view' event.slug %}?featured_click=1">
                    event details
                </a>
            </div>
        </div>
    </div>
</div>