.entry-wrapper {
    background: #fdfcfc;
    border: 1px solid #c6c6c6;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.entry-wrapper header{
    color: #000;
    font-size: 12px;
    margin-bottom: 8px;
}

.entry-wrapper .time-group {
    width: 100%;
    border-bottom: 2px solid #619cd7;
    margin-bottom: 0;
}

.entry-wrapper .time-group span {
    display: block;
    background: #619cd7;
    width: 80px;
    height: 11px;
    line-height: 11px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}

.entry-wrapper .button.standart {
    width: auto;
    margin: 0 0 15px 0;
}

.entry-wrapper .button.standart.nomargin {
    margin: 0;
}

.entry-wrapper .entry-info{
    position: relative;
    height: 65px;
    padding: 10px 5px;
    margin-bottom: 4px;
    
}

.entry-wrapper .entry-info.with-all-actions,
.entry-wrapper .entry-info.without-make-feature-action {
    padding-left: 20px;
}

.entry-wrapper div.entry-info:nth-of-type(even) {
    background: #fdfcfc;    
}

.entry-wrapper div.entry-info:nth-of-type(odd) {
    background: #ecebeb;    
}

.entry-wrapper .entry-info.extended {
    height: 110px;
}

.entry-wrapper .entry-info .entry-img-prev {
    display: inline-block;    
}

.entry-wrapper .entry-info .entry-img-prev img {
    width: 60px;
    height: 60px;
}

.entry-wrapper .entry-info .entry-details-wrapper,
.entry-wrapper .entry-info .auctions-details-wrapper {
    display: inline-block;    
    vertical-align: top;
}

.entry-wrapper .entry-info .entry-details-wrapper .title,
.entry-wrapper .entry-info .entry-details-wrapper .entry-date,
.entry-wrapper .entry-info .entry-details-wrapper .entry-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 520px;
}

.entry-wrapper .entry-info .checkbox-field,
.entry-wrapper .entry-info .facebook-event-link {
    position: absolute;
    left: 2px;
    top: 33px;
    opacity: 1;
    height: auto;
    width: auto;
}

.entry-date .date-line {
    padding: 2px 0;
}

.entry-wrapper .entry-info.home-page .entry-details-wrapper{
    width: 330px;   
}
.entry-wrapper .entry-info.home-page .entry-details-wrapper .title,
.entry-wrapper .entry-info.home-page .entry-details-wrapper .entry-date,
.entry-wrapper .entry-info.home-page .entry-details-wrapper .entry-description {
    width: 320px;
}    

.entry-wrapper .entry-info.with-all-actions .entry-details-wrapper{
    width: 280px;   
}
.entry-wrapper .entry-info.with-all-actions .entry-details-wrapper .title,
.entry-wrapper .entry-info.with-all-actions .entry-details-wrapper .entry-date,
.entry-wrapper .entry-info.with-all-actions .entry-details-wrapper .entry-description {
    width: 260px;
}

.entry-wrapper .entry-info.without-make-feature-action .entry-details-wrapper {
    width: 400px;
}
.entry-wrapper .entry-info.without-make-feature-action .entry-details-wrapper .title,
.entry-wrapper .entry-info.without-make-feature-action .entry-details-wrapper .entry-date,
.entry-wrapper .entry-info.without-make-feature-action .entry-details-wrapper .entry-description {
    width: 380px;
}

.entry-wrapper .entry-info.with-delete-action .entry-details-wrapper {
    width: 480px;
}
.entry-wrapper .entry-info.with-delete-action .entry-details-wrapper .title,
.entry-wrapper .entry-info.with-delete-action .entry-details-wrapper .entry-date,
.entry-wrapper .entry-info.with-delete-action .entry-details-wrapper .entry-description {
    width: 460px;
}

.entry-wrapper .entry-info .auctions-details-wrapper .title,
.entry-wrapper .entry-info .auctions-details-wrapper .entry-date {
    width:180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.entry-wrapper .entry-info .auctions-details-wrapper .auctions-additional {
    width:200px;
    color: #454545;
}

.entry-wrapper .entry-info .entry-details-wrapper .title,
.entry-wrapper .entry-info .auctions-details-wrapper .title {
    color: #000;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}

.entry-wrapper .entry-info .entry-details-wrapper .title a,
.entry-wrapper .entry-info .auctions-details-wrapper .title a {
    text-decoration: none;
    color: #000;
}

.entry-wrapper .entry-info .entry-details-wrapper .title a:hover,
.entry-wrapper .entry-info .auctions-details-wrapper .title a:hover {
    text-decoration: underline;
}

.entry-wrapper .entry-info .entry-details-wrapper .entry-date,
.entry-wrapper .entry-info .auctions-details-wrapper .entry-date {
    font-weight: bold;
    color: #2c8ed9;    
}

.entry-wrapper .entry-info .entry-details-wrapper .entry-date .event-date{
    min-width: 125px;
}

.entry-wrapper .entry-info .entry-details-wrapper .entry-date .delimeter {
    margin-left: 16px;
    margin-right: 16px;
}

.entry-wrapper .entry-info .entry-details-wrapper .entry-description {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}

.account-featured-table .entry-info {
    width: 280px !important;
}

.account-featured-table .entry-info .entry-details-wrapper .title {
    white-space: normal;
    width: 195px;
}

.account-featured-table {
    width: 100% !important;
    border-collapse: collapse;
}

.account-featured-table th,
.account-featured-table td {
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

.account-featured-table th {
    background: linear-gradient(to bottom, #FAFAFA 0%, #EAEAEA 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.account-featured-table td {
    background: none repeat scroll 0 0 #F4F4F4;
}

.account-featured-table td.no-padding {
    padding: 0;
}

.entry-info {
    position: relative;
}

.entry-info .entry-img-prev{
    background: #fff;
    border: 1px solid #ddd;
}

.tickets-popup {
    display: none;
}

.main-content-wrapper h1 {
    text-align: left;
}

.auctions-actions .fb-like {
    position: relative;
    top:3px;
}

.modal-choice-window {
    min-width: 200px;
    width: auto;
    padding: 5px;
    overflow: visible;
}

.modal-choice-window .row {
    line-height: 25px;
    white-space: nowrap;
}

.modal-choice-window .title {
    font-weight: bold;
}

.modal-choice-window .btn {
    text-align: center;
    padding-top: 10px;
}

.modal-choice-window input {
    width: auto;
    height: auto;
    opacity: 1;
    position: relative;
}
