.event-details-block{
    width: 470px;
}

.event-details-block .event-img {
    vertical-align: top;
    display: inline-block;
    border: 4px solid #e2e2e2;
    margin: 13px;
}

.event-details-block .event-img img{
    width: 175px;
    height: 175px;
}

.event-details-block .event-details {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    padding-right: 3px;    
    white-space: nowrap;
}

.event-details-block .event-details .title a {
    color: #06c;
    text-decoration: none;
    cursor: pointer;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.event-details-block .event-details .title-wrapper {
    position: relative;
    border-bottom: 1px solid #ddd;
    width: 250px;
    padding-bottom: 5px;
}

.event-details-block .event-details .title {
    display: inline-block;
    max-width: 170px;
}

.event-details-block .event-details .title a:hover {
    text-decoration: underline;
}

.event-details-block .event-details .event-price {
    background: url("/static/images/ticket_icon.png") 5px center no-repeat;
    color: #ff6601;
    padding-left: 30px;
}

.event-details-block .event-details .event-price.short {
    position: absolute;
    right: 2px;
    bottom: 5px;
}

.event-details-block .event-details .event-date-wrapper {
    color: #0230c5;
    margin-left: 30px;
}

.event-details-block .event-details .event-description {
    margin:0;
    margin-top:18px;
    color: #000;
    width: 250px;
    white-space: normal;
    margin-left: 30px;
}

.event-details-block .event-details .event-actions {
    margin-top: 12px;
}

.event-details-block .event-details .event-actions table {
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
}

.event-details-block .event-details .event-actions td {
    border-bottom: 1px solid #ddd;
    width: 50%;
    max-width: 80px;
    height: 22px;
    max-height: 22px;
    min-height: 22px;    
}

.event-details-block .event-details .event-actions td a {
    text-decoration: none;
    padding-left: 22px;
    color: #0168cd;
    position: relative;
    min-width: 30px;
    height:100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}

.event-details-block .event-details .event-actions td a iframe {
    transform: scale(0.9);
    -ms-transform: scale(0.9); 
    -webkit-transform: scale(0.9); 
    -o-transform: scale(0.9); 
    -moz-transform: scale(0.9); 
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;    
}

.event-details-block .event-details .event-actions td a.action-facebook-like{
    padding-left:0;
}

.event-details-block .event-details .event-actions td a .fb-like {
    left: 22px;
    max-height: 17px;
    top: 2px;
}

.event-details-block .event-details .event-actions td a:hover {
    text-decoration: underline;
}

.event-details-block .event-details .event-actions .action-buy-tickets {      
    background: url("/static/images/buy-ticket.png") 5px center no-repeat;
}

.event-details-block .event-details .event-actions .action-remind-me {    
    background: url("/static/images/remind-me.png") 5px center no-repeat;
}

.event-details-block .event-details .event-actions .action-in-the-loop {    
    background: url("/static/images/in-the-loop.png") 5px center no-repeat;    
}

.event-details-block .event-details .event-actions .action-facebook-like {    
    background: url("/static/images/like.png") 5px center no-repeat;    
}

.event-details-block .event-details .event-actions .action-tweet {    
    background: url("/static/images/tweet.png") 5px center no-repeat;    
}

.event-details-block .event-description {
    margin: 13px;
}

.tickets-popup {
    display:none;
    padding-top:20px;    
}


.in-the-loop-wrapper, .remind-me-wrapper {
    position: relative;
    display: inline-block;
}

.in-the-loop-td {
    position: relative;
}

.in-the-loop-tags-popup {
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    z-index:2;
    white-space: normal;
}

.entry-info .in-the-loop-tags-popup {
    bottom: 30px;
}

.in-the-loop-tags-popup .tag {
    font-size: 1.2em;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.in-the-loop-tags-popup .add-in-the-loop-wrapper {
    text-align: center;
}
.in-the-loop-tags-popup .add-in-the-loop { 
    font-size:1.5em;
    padding: 5px 10px;
}

#venue_map {
    width: 500px;
    height: 500px;
    display: none;
}

.venue_map_preview {
    vertical-align: middle;
    margin-left: 50px;    
    line-height: 100px;
}

.venue_map_preview img, .venue_map_preview a {
    vertical-align: middle;
    cursor: pointer;
}

.venue_map_preview a {
    margin-left: 10px;
}

.report-claim-container {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;
}

.report-claim-container a {
    display: block;
}

.cfadmin-actions {
    position: absolute;
    width: 100px;
    background: #eee;
    z-index: 10;
    padding: 10px;
    border: 1px solid;
    top: -10px;
    left: -30px;    
}

.cfadmin-actions a {
    display: block;
}

.event-days {
    margin-left: 5px;
}

.event-day-switch {
    display: inline-block;
    width: 55px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    border: 1px solid #c4c4c4;
    background: #fff;
    color: #000;
    margin-right: 0px;
    cursor: pointer;
}
.event-day-switch.active {
    background: #f4f4f4;
}

.show-times {
    margin-top: 5px;
    font-size:12px;
    color:#022e52;
}

.show-times .show-times-wrapper {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-top: 3px;
}

.show-times .show-time-day {
    display: none;
}

.show-times .show-time-day.active {
    display: block;
}

.show-day-description {
    display: none;
}

.show-day-description.active {
    display: block;
}
