.event-details-block{
    width: 470px;
}

.event-details-block .event-img {
    vertical-align: top;
    display: inline-block;
    border: 4px solid #e2e2e2;
    margin: 13px;
}

.event-details-block .event-details {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    padding-right: 3px;    
    white-space: nowrap;
}

.event-details-block .event-details .title a {
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}

.event-details-block .event-details .title-wrapper {
    position: relative;
    border-bottom: 1px solid #ddd;
    width: 250px;
    padding-bottom: 5px;
}

.event-details-block .event-details .title {
    display: inline-block;
    max-width: 170px;
}

.event-details-block .event-details .title a:hover {
    text-decoration: underline;
}

.event-details-block .event-details .event-price {
    background: url("/static/images/ticket_icon.png") 5px center no-repeat;
    color: #ff6601;
    padding-left: 30px;
}

.event-details-block .event-details .event-price.short {
    position: absolute;
    right: 2px;
    bottom: 5px;
}

.event-details-block .event-details .event-date-wrapper {
    color: #0230c5;    
}

.event-details-block .event-details .event-description {
    margin:0;
    margin-top:12px;
    color: #000;
}

.event-details-block .event-details .event-actions {
    margin-top: 12px;
}

.event-details-block .event-details .event-actions table {
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
}

.event-details-block .event-details .event-actions td {
    border-bottom: 1px solid #ddd;
    width: 50%;
}

.event-details-block .event-details .event-actions td a {
    text-decoration: none;
    padding-left: 22px;
    color: #0168cd;
    position: relative;
}

.event-details-block .event-details .event-actions td a #fbiframe {
    transform: scale(0.8);
    -ms-transform: scale(0.8); 
    -webkit-transform: scale(0.8); 
    -o-transform: scale(0.8); 
    -moz-transform: scale(0.8); 
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;    
}

.event-details-block .event-details .event-actions td a .fb-like {
    /*left: 22px;*/
}

.event-details-block .event-details .event-actions td a:hover {
    text-decoration: underline;
}

.event-details-block .event-details .event-actions .action-buy-tickets {      
    background: url("/static/images/buy-ticket.png") 5px center no-repeat;
}

.event-details-block .event-details .event-actions .action-remind-me {    
    background: url("/static/images/remind-me.png") 5px center no-repeat;
}

.event-details-block .event-details .event-actions .action-in-the-loop {    
    background: url("/static/images/in-the-loop.png") 5px center no-repeat;    
}

.event-details-block .event-details .event-actions .action-facebook-like {    
    background: url("/static/images/like.png") 5px center no-repeat;    
}

.event-details-block .event-details .event-actions .action-tweet {    
    background: url("/static/images/tweet.png") 5px center no-repeat;    
}

.event-details-block .event-description {
    margin: 13px;
}

.tickets-popup {
    display:none;
    padding-top:20px;    
}
