.featured-area
{
    width:1010px;
    background:#022E52;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:10px 0px 10px 10px;
    color:#fff;
    margin: 0 auto;
}

.featured-area h2
{
    margin:0px;
    padding:10px 0px 10px;
    font-size:20px;
    font-weight:bold;
}

.features-wrapper
{
    width:auto;
    min-height: 161px;
}

.features
{
    float:left;
    margin-right:5px;
    position:relative;
}

.featured-title, .featured-date, .featured-details-link, .featured-venue {
    text-overflow: ellipsis;
    overflow:hidden;
    width: 100%;
    white-space: nowrap;
}

.featured-img-wrapper
{
    width:auto;
}

.featured-img-wrapper img
{
    border: 4px solid #eee;
    width: 154px;
    height: 153px;
}

.featured-img-details
{
    position:absolute;
    left:4px;
    bottom:4px;
    width:154px;
    background:url(/static/images/featured-img-details-bg.png) repeat;
}

.featured-img-details-wrapper
{
    width:auto;
    padding:3px 5px;
    font-size:10px;
}

.featured-title a
{
    font-weight:bold;
    color:#eb8a19;
    text-decoration:none;
}

.featured-title a:hover
{
    text-decoration:underline;
}

.featured-date, .featured-venue
{
    color:#fff;
    text-decoration:none;
}

.featured-details-link a
{
    color:#247cc3;
    text-decoration:none;
}

.featured-details-link a:hover
{
    text-decoration:underline;
}

.features-navigation
{
    padding-top:10px;
    padding-right:8px;
    text-align:right;
}

.features-navigation ul
{
    margin:0;
    padding:0;
    list-style:none;
    width:auto;
}

.features-navigation ul a
{
    display: inline-block;
    padding: 10px;
    border-radius: 5px; /*optional*/
    color: #5dacfd;
    font-size: .875em;
}

.features-navigation ul a
{
    display: inline-block;
    padding: 4px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.features-navigation ul a:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
    color: #022e52;
}

.features-navigation .step-links a.current{
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.entry-navigation-np ul {
    padding-left: 0;
}

.entry-navigation-np .step-links a {
    text-decoration: none;
}
    