.featured-area {
    position: relative;
    background: #022E52;    
    padding: 5px;
    padding-right: 0;
    padding-bottom: 40px;
    color: #fff;
    margin: 0 auto;
}

.featured-area h2 {
    position: absolute;
    left: 5px;
    bottom: 7px;
    margin: 0;
    text-transform: uppercase;;
    font-size: 18px;
    font-family: HelveticaNeueLTCom;
    font-weight: bold;
}

.features-wrapper {
    width:auto;
    min-height: 161px;
}

.features {
    float:left;
    margin-right:5px;
    position:relative;
}

.featured-title, .featured-date, .featured-details-link, .featured-venue {
    text-overflow: ellipsis;
    overflow:hidden;
    width: 100%;
    white-space: nowrap;
}

.featured-img-wrapper {
    width:auto;
}

.featured-img-wrapper img {
    border: 4px solid #eee;
    width: 154px;
    height: 153px;
}

.featured-img-details {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 154px;
    background: url(/static/images/featured-img-details-bg.png) repeat;
}

.featured-img-details-wrapper {
    width: auto;
    padding: 3px 5px;
    font-size: 10px;
}

.featured-title a {
    font-weight: bold;
    color: #eb8a19;
    text-decoration: none;
}

.featured-title a:hover {
    text-decoration: underline;
}

.featured-date, .featured-venue {
    color: #fff;
    text-decoration: none;
}

.featured-details-link a {
    color: #247cc3;
    text-decoration: none;
}

.featured-details-link a:hover {
    text-decoration: underline;
}

.features-navigation {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.features-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
}

.features-navigation ul a {
    float:left;
    padding: 5px 10px;
    background: #fdfcfc;
    text-decoration: none;
    color: #838586;    
}

.features-navigation ul a:hover {
    background: #fefefe;    
    color: #022e52;
}

.features-navigation .step-links a.current{
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.entry-navigation-np ul {
    padding-left: 0;
}

.entry-navigation-np .step-links a {
    text-decoration: none;
}
    