.jump-popup {
    position: absolute;
    display: none;
    z-index: 10;
    height: 145px;
    width: 425px;
    padding: 15px;
    margin-left: 11px;
    background: #fff;
    border: 1px solid #cfcfcf;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.jump-popup .time-row {
    margin-top: 15px;
}
    

.jump-popup .date-row {
    margin-top: 10px;
}

.jump-popup .time-row .checkbox, .jump-popup .date-row .checkbox {
    vertical-align: top;
}

.jump-popup .end-time {
    margin-left: 0;
}

.jump-popup .end-time-checkbox-wrapper {
    margin-left: 7px;
    margin-right: 5px;
}

.jump-popup .end-date {
    margin-left: 30px;    
}

.jump-popup .inline {
    display: inline-block;
    width: 180px;
    text-align: left;
}

.jump-popup .inline[disabled] {
    opacity:0.5;
}

.jump-popup .inline div {
    display: inline-block;
}

.jump-popup .time.dropdown {
    width: 40px;
}

.jump-popup .meridian.dropdown {
    width: 25px;
}

.jump-popup .date.dropdown {
    width: 150px;
}

.jump-popup .dropdown {
    display: block;
    height: 26px;
    line-height: 26px;
    border: 1px solid #c7c6c6;
}

.jump-popup .dropdown:after {
    top: 2px;
}

body .jump-popup .date.dropdown input {
    font-size: 13px;
    line-height: 26px;
}

.jump-popup .start-time span, .jump-popup .end-time span {
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
    width: 56px;
}

.jump-popup .date-row .date {
    margin-top: 8px;
}

.jump-popup .jump-to-date-wrapper {
    width: 100%;
    text-align:center;

}

.jump-to-date-wrapper__button {
    display: inline-block;
    margin-top: 15px;
}

.dropdown-content.time {
    width: 54px;
}

.dropdown-content.meridian {
    width: 44px;
}