.main-navigation
{
    float:left;
    width:675px;
    border:1px solid #ccc;
}

.main-navigation-nav
{
    float:left;
    width:206px;
    text-align: left;
}

.main-navigation-nav-wrapper
{
    width:auto;
    padding:20px 10px 20px 20px;
}
.main-navigation-nav-wrapper ul.categories
{
    margin:0px;
    padding:0px;
    list-style:none;    
}

.main-navigation-nav-wrapper ul.categories li
{
    margin-bottom:1px;
    position:relative;
}

.main-navigation-nav-wrapper ul.categories li.subcat
{    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    height: 24px;
    margin: 0;
    margin-top: 4px;
}

.main-navigation-nav-wrapper ul.categories li.subheader {
    font-size: 1.2em;
    font-weight: bold;
}

.main-navigation-nav-wrapper ul.categories {
    max-width: 166px;
}


.main-navigation-nav-wrapper ul.categories li a
{
    display:block;
    padding: 5px 8px;
    background:#e3e3e3;
    color:#000;
    text-decoration:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    height:16px;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-navigation-nav-wrapper ul.categories li a.all {
    padding: 0;
}

.main-navigation-nav-wrapper ul.categories li a:hover
{    
    color:#000;
}

.main-navigation-nav-wrapper ul.categories .header{
    display:block;
    padding:5px 8px;
    background:#e3e3e3;
    color:#000;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    height:20px;
    font-weight:bold;
    font-size:14px;
    line-height:20px;
    white-space: nowrap;
}

.main-navigation-nav-wrapper ul.categories li.subcat a {
    padding-left:25px;    
    color: #505050;
}

.main-navigation-nav-wrapper ul.categories li.subcat a:hover {
    color: #000;
}

.main-navigation-nav-wrapper ul.categories li.subcat {
    position: relative;
}

.main-navigation-nav-wrapper ul.categories li.subcat:after {
    position:absolute;
    display: block;
    width: 11px;
    height: 10px;
    left: 10px;
    top: 8px;
    content: " ";
    background: url("/static/images/searchpad/subcat.png") no-repeat;
    z-index: 2;
}

.main-navigation-nav-wrapper ul.categories li.top5{
    position: relative;
}

.main-navigation-nav-wrapper ul.categories li.top5 .toggler {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;

    position: absolute;
    background: url("/static/images/searchpad/accordion-close.png") no-repeat;
    right: 5px;
    top: 5px;
    padding: 0;
}

.main-navigation-nav-wrapper ul.categories li.top5 .toggler.closed {
    background: url("/static/images/searchpad/category-nav-bullets-plus.png") no-repeat;
}

.main-navigation-nav-wrapper ul.categories ul.top5-tags {
    padding-left: 0;
    margin-top: 8px;
}

.main-navigation-nav-wrapper ul.categories ul.top5-tags li {
    list-style: none;    
}

.main-navigation-nav-wrapper ul.categories ul.top5-tags li a {
    background: none;
    color: #505050; 
    padding-left: 38px;
    height: 10px;
    line-height: 10px;
}
.main-navigation-nav-wrapper ul.categories ul.top5-tags li a:hover,
.main-navigation-nav-wrapper ul.categories ul.top5-tags li a.selected {
    background: #5dacfd;/* url("/static/images/searchpad/gradient-from-bottom.png") no-repeat;*/
    color: #fff; 
}

body {
    overflow-y: scroll;
}

.main-navigation-nav-wrapper ul.categories li.special a {
    background: url("/static/images/searchpad/gradient-from-bottom.png") no-repeat;
    color: #fff;
    padding: 6px 8px;
    font-size:1em;
    font-weight: bold;
}

.main-navigation-nav-wrapper ul.categories li.subheader {
    margin-top:23px;
    height: 34px;
}
.main-navigation-nav-wrapper ul.categories li.subheader a {
    height: 22px;
    line-height: 22px;
}

.main-navigation-nav-wrapper ul.categories li.category {
    list-style: none;    
}

.main-navigation-nav-wrapper ul.categories li.category.more {
    display: none;
}

.main-navigation-nav-wrapper.more ul.categories li.category.more {
    display: block;
}

.main-navigation-nav-wrapper ul.categories li.category a {
    padding-left: 25px;        
}
.main-navigation-nav-wrapper ul.categories li.category a:hover,
.main-navigation-nav-wrapper ul.categories li.category a.selected {
    background: url("/static/images/searchpad/gradient-from-bottom.png") no-repeat;
    color: #fff;
}

.main-navigation-nav-wrapper ul.categories li.category a:hover,
.main-navigation-nav-wrapper ul.categories li.category a.selected {
    background: url("/static/images/searchpad/gradient-from-bottom.png") no-repeat;
     
}

.main-navigation-nav-wrapper ul.categories li.category {
    position: relative;
}

.main-navigation-nav-wrapper ul.categories li.category:after {
    position:absolute;
    display: block;
    width: 11px;
    height: 10px;
    left: 10px;
    top: 8px;
    content: " ";
    background: url("/static/images/searchpad/subcat.png") no-repeat;
    z-index: 2;
}

.main-navigation-nav-wrapper ul.categories li.category:hover:after,
.main-navigation-nav-wrapper ul.categories li.category.selected:after {
    background: url("/static/images/searchpad/subcat-active.png") no-repeat;
}

.more-button, .less-button {
    cursor: pointer;
    color: #000;
    margin-top: 20px;
    text-align: center;
    background: url('/static/images/arrow-down.png') 95px 4px no-repeat;
    padding-right: 25px;
    font-weight: bold;
}

.less-button {
    background: url('/static/images/arrow-up-gray.png') 95px 4px no-repeat;
}

.more-button, .main-navigation-nav-wrapper.more .less-button {
    display: block;
}

.less-button, .main-navigation-nav-wrapper.more .more-button {
    display: none;
}