#id_start_time_1 {
  width: 30px;
}
#id_end_time_1 {
  width: 30px;
}
body .ui-autocomplete-input {
  background:#fff;
}
#id_frequency {
  padding: 4px;
  border-radius: 4px;
  background: white;
  border: #E3E3E3 solid thin;
}
SPAN.tagMatches {
  margin-left: 10px;
}

SPAN.tagMatches SPAN {
  padding: 2px;
  margin-right: 4px;
  background-color: #0000AB;
  color: #fff;
  cursor: pointer;
  background: url(/static/images/blue.png);
}