{{ form.budget_type }}
{% if account.bonus_budget > 0 %}
<div class="tabs-container no-borders">
    <ul class="tabs right" data-page-id="setup-advertising-campaign">
        {% if account.bonus_budget %}
            <li data-tab-id="setup-bonus-budget" class="setup-bonus-budget">
                <span>Try for free</span>
            </li>
        {% endif %}        
        <li data-tab-id="setup-real-budget" class="setup-real-budget current">
            <span>Pay now with</span>
        </li>
    </ul>
    <div class="box">
        <div class="pay-now-header">
            Try for free
        </div>
        <div class="pay-now-widget">
            <div class="info">
                <div class="budget">
                    <table>
                        <tr>
                            <td colspan="3">
                                You have {{ account.bonus_budget }} bonus to try.
                            </td>
                        </tr>
                        <tr>
                            <td>Budget(CAD):</td>
                            <td>
                                <input type="text" id="id_bonus_budget" name="bonus_budget" value="0.0">
                                <input type="hidden" name="bonus_budget_currency" value="CAD">
                            </td>
                            <td>
                                <a href="javascript:void;" class="balloon">
                                    <div class="buttonq"></div>
                                </a>
                                <div class="balloon-content">
                                    <h3>
                                        Help - Advertising Campaign
                                        <i>[Budget]:</i>
                                    </h3>
                                    <p>
                                        Budget for campaign
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="box visible">
        {% include 'advertising/setup/real_payments.html' %}
    </div>
</div>
{% else %}
    {% include 'advertising/setup/real_payments.html' %}
{% endif %}