{% extends 'base-with-advertising.html' %}

{% block head %}
    <link type="text/css" href="{{STATIC_URL}}styles/static_pages.css" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}js/static_pages.js"></script>
{% endblock %}

{% block page %}
        <h1>Privacy Policy</h1>
        <div class="primary-content">
            <div class="content page">
                <div class="main-content">
                    <div class="inner-content">
                        <p class="non-top">Last revised: October 21, 2009</p>
                        Effective as of: January 1, 2006
                        <div class="list-entry-text first">
                            Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                            Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                            Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                            Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                        </div>
                        <div class="list-entry-title">Privacy policy updates</div>
                        <div class="indent-block">
                            <div class="list-entry-text first">
                                Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                            </div>
                        </div>
                        <div class="list-entry-title">What information we collect</div>
                        <div class="indent-block">
                            <div class="list-entry-text first">
                                Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                            </div>
                        </div>
                        <div class="list-entry-title">Disclosing Your Personally Identifiable Information to Others</div>
                        <div class="indent-block">
                            <div class="list-entry-text first">
                                Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock page %}