{% extends 'base-with-advertising.html' %}

{% block head %}
    <link type="text/css" href="{{STATIC_URL}}styles/static_pages.css" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}js/static_pages.js"></script>
{% endblock %}

{% block page %}
        <h1>Terms of Service</h1>
        <div class="primary-content">
            <div class="content page">
                <div class="main-content">
                    <div class="inner-content">
                        Last revised: October 21, 2009
                        <div class="list-entry-text first">
                            Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                            Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                            Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                            Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                        </div>
                        <ol class="num-entries-list">
                            <li>
                                Acceptance of terms
                                <div class="list-entry-text first">
                                    Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                    Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                    Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                    Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                </div>
                            </li>
                            <li>
                                Content
                                <div class="list-entry-text first">
                                    Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                    Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                    Aenean sed fermentum metus. Integer imperdiet nisi vel lectus fermentum malesuada.
                                    Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.
                                </div>
                            </li>
                            <li>
                                Conduct and Responsibilities
                                <div class="list-entry-text first">
                                    <ul>
                                        <li>Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.</li>
                                        <li>Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.</li>
                                        <li>Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.</li>
                                        <li>Aliquam tincidunt tempus tempus. Aliquam euismod mauris non eros facilisis.</li>
                                    </ul>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
{% endblock page %}