{% load date_formatting %}
{% load cropping %}
{% load event_tags %}
{% load location %}

<a href="{% event_link event %}">
    <div class="entry-img-prev">
        {% if event.picture %}
            <img src="{% cropped_thumbnail event.image "cropping" width=60 %}" height="60" weight="60" />
        {% else %}
            <img src="{{STATIC_URL}}images/default-event.jpg" height="60" weight="60" />
        {% endif %}
    </div>
    <div class="entry-details-wrapper">
        <div class="title">
            {{ event.name }}
        </div>
        <div class="entry-date">
            {% if event.event_type == "SINGLE" %}
                <span class="event-date">{{event.start_time|date:"l, N d"}}</span>
                <span class="delimeter">|</span>
                <span class="event-time">{{event.start_time|just_time|lower}} - {{event.end_time|just_time|lower}}</span>
            {% endif %}
            {% if event.event_type == "MULTIDAY" %}
                <span class="event-date">{{event.first_occurrence.start_time|date:"D, N d"}} - {{event.last_occurrence.start_time|date:"D, N d"}}</span>
                <span class="delimeter">|</span>
                <span class="event-time">{{event.first_occurrence.start_time|just_time|lower}} - {{event.first_occurrence.end_time|just_time|lower}}*</span>
            {% endif %}
        </div>
        <div class="event-location">
            <div class="event-name-and-street">
                {{ event.venue.name }}
            </div>
            <div class="event-city-name">
                {{ event.venue.city.name_std }}, {{ event.venue.city.region.name_std|region_shortcut }}
            </div>
        </div>

    </div>
</a>