{% extends 'base.html' %}
{% block title %} > Register{% endblock %}

{% block page %}
    <section class="body">
        <h1>
            Register for<span class="orange"> Cityfusion</span>
        </h1>
        <form class="register-login" method="post">
            {% csrf_token %}
            <p>
                {{ form.username.label_tag }}
                <a href="{% url 'auth_login' %}" class="forgot">
                    Already have an account?
                </a>
                <br>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label_tag }}<br>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password1.label_tag }}<br>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label_tag }}<br>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </p>         
            <input type="submit" class="btnbg rborder submit" value="Register" tabindex="10">      
        </form>
    </section>
{% endblock %}
